[2012-10-21 16:37] elmer-garduno opened #1 "CFD v2"
_Original author: listi...@gmail.com (November 04, 2010 19:03:04)_

Disculpa, se puede crear un comprobante v2?

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=1_

[2012-10-21 16:37] #1 closed, assigned to elmer-garduno

[2012-10-21 16:37] elmer-garduno opened #2 "error al intentar firmar un 'comprobante'"
_Original author: andres130182@gmail.com (November 05, 2010 00:58:07)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.generar comprobante con object factory
2.asginarle atributos a el comprobante, version, fecha, sello, etc...
3.cargar key y certificado
4.firmar

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
que se firme el archivo de tipo comprobante, se es

[2012-10-21 16:37] #2 closed, assigned to elmer-garduno

[2012-10-21 16:37] elmer-garduno opened #3 "javax.crypto.BadPaddingException: Given final block not properly padded"
_Original author: hip...@hotmail.com (November 08, 2010 22:12:48)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.Ejecucion del programa de ejemplo para una fac. electronica
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Espero el resultado de generar la factura, pero me regresa un error que dice: Exception in thread &quot;main&quot; java

[2012-10-21 16:37] #3 closed, assigned to nobody

[2012-10-21 16:37] elmer-garduno opened #4 "Mejorar los mensajes de error de la aplicación"
_Original author: bigdata.mx (November 09, 2010 20:06:40)_

A fin de que los desarrolladores puedan trabajar con mayor facilidad con la librería, es necesario generar mejores mensajes de error.

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=4_

[2012-10-21 16:37] elmer-garduno opened #5 "Generar pruebas unitarias para los componentes"
_Original author: bigdata.mx (November 09, 2010 20:09:19)_

Es necesario generar las pruebas unitarias para cada uno de los componentes (CFDv3, CFDv2, TFDv1).

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=5_

[2012-10-21 16:37] #5 closed, assigned to elmer-garduno

[2012-10-21 16:37] elmer-garduno opened #6 "Actualizar documentación CFDs"
_Original author: bigdata.mx (November 09, 2010 20:12:02)_

Agregar la documentación del la CFDv2 a la página principal y a la guía del usuario.

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=6_

[2012-10-21 16:37] #6 closed, assigned to elmer-garduno

[2012-10-21 16:37] elmer-garduno opened #7 "Hacer un refactoring de los packages"
_Original author: bigdata.mx (November 09, 2010 20:15:14)_

Hacer un refactoring de los packages para reflejar la integración del CFDv2.

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=7_

[2012-10-21 16:37] #7 closed, assigned to elmer-garduno

[2012-10-21 16:37] elmer-garduno opened #8 "La Clase CFDv3 no tiene el metodo getObtenerCadenaOriginal()"
_Original author: rene...@gmail.com (November 11, 2010 02:12:19)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.Descargar la librería
2.Instanciar la clase CFDv3, esto lo hace de la clase mx.bigdata.cfdi.CFDv3;
3.No se encuentra el metodo getObtenerCadenaOriginal()

¿Cuál es el resultado esperado? ¿Qué resulta en su lugar
Obtener la cadena original.
<b>¿Cuál versión del produ

[2012-10-21 16:37] #8 closed, assigned to elmer-garduno

[2012-10-21 16:37] elmer-garduno opened #9 "No se encuentra el código fuente completo."
_Original author: cbs...@gmail.com (November 11, 2010 17:12:57)_

Al tratar de compilar la aplicación me marca que falta la parte de los esquemas.

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=9_

[2012-10-21 16:37] #9 closed, assigned to nobody

[2012-10-21 16:37] elmer-garduno opened #10 "Error al sellar comprobante"
_Original author: rene...@gmail.com (November 16, 2010 00:33:07)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.Descargar libreria  cfdi-0.1.3.jar
2. Crear comprobante
3. Sellar

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Comprobante sellado, resulta error

<b>¿Cuál versión del producto está utilizando?</b>
0.1.3

<b>Agregue cualquier información adicion

[2012-10-21 16:37] #10 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #11 "jaxb-xjc artifact id duplicado"
_Original author: edw.h...@gmail.com (November 19, 2010 03:00:42)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Importar el proyecto con Eclipse usando el plugin m2eclipse

18/11/10 08:49:05 PM CST: Build errors for cfdi; org.apache.maven.project.ProjectBuildingException: Some problems were encountered while processing the POMs:
[ERROR] 'dependencies.dependency.(groupId:art

[2012-10-21 16:38] #11 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #12 "Crear distribución binaria"
_Original author: bigdata.mx (November 20, 2010 01:01:05)_

Crear distribución binaria que incluya las dependencias, las licencias y los documentos.

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=12_

[2012-10-21 16:38] #12 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #13 "Error al sellar xml"
_Original author: jlpinomoreno@gmail.com (November 21, 2010 00:11:54)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Sellar un documento xml
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
El resultado esperado es generar el sello digita, el siguiente error Exception in thread &quot;AWT-EventQueue-0&quot; java.lang.NoClassDefFoundError:

[2012-10-21 16:38] #13 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #14 "No se verifica el comprobante en la v2"
_Original author: bigdata.mx (November 22, 2010 05:24:57)_

<b>What steps will reproduce the problem?</b>
1. Cargar un CFDv2 erroneo
2. Tratar de verificarlo

<b>What is the expected output? What do you see instead?</b>
Se esperaba una mensaje de error y  no ocurre nada.

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=14_

[2012-10-21 16:38] #14 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #15 "Soporte para Google Appengine"
_Original author: smathieson (November 24, 2010 20:15:12)_

Por favor agregar soporte para Google App Engine para poder tener el sistema en la infraestructura de Google. Le agradeceria contactarme para poder discutir este asunto.

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=15_

[2012-10-21 16:38] #15 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #16 "Implementar cancelación de CFDI"
_Original author: bigdata.mx (November 25, 2010 14:14:25)_

Existe este documento en el ftp del SAT,  ftp://ftp2.sat.gob.mx/asistencia_ftp/publicaciones/cfdi/Manual%20Operacion%20-%20Cliente%20CFDI%20Interfaces.docx

Ahí está publicado un web service de prueba: https://pruebacfdi.cloudapp.net/Cancelacion/CancelaCFDService.svc

Y viene incluido un WSDL del servicio.

_Original issue: http://code.go

[2012-10-21 16:38] #16 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #17 "Datos de los certificados de prueba"
_Original author: octa...@servicios-corporativos.com (November 26, 2010 00:18:15)_

Éste no es un problema con la librería en sí, sólo considero que sería adecuado poner a disposición de los usuarios los datos para hacer pruebas con los certificados que da el SAT, ya que ellos mismos no nos dicen cuál es la dirección de Matriz SA, etc.

Gracias y sólo comentar que me parece muy bien organizada y p

[2012-10-21 16:38] #17 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #18 "OBTENER OBJETO COMPROBANTE"
_Original author: LevelNo...@gmail.com (November 28, 2010 23:57:12)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.CFDv2 cfd = new CFDv2(new FileInputStream(file)); // Crea un CFD a partir de un InputStream
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
NO PUEDO ACCESAR A LOS DATOS DEL COMPROBANTE

<b>¿Cuál versión del producto está util

[2012-10-21 16:38] #18 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #19 "Sello y cadena original a partir de comprobante"
_Original author: octa...@servicios-corporativos.com (November 29, 2010 23:24:18)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Llenar un comprobante y después sellarlo

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Tanto Comprobante como CFDv2 tienen el sello en null. Me gustaría poder sacar ese dato y la cadena original para ponerlos en mi PDF

<b>¿Cuál

[2012-10-21 16:38] #19 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #20 "No se encuentra el paquete mx.bigdata.sat.cfd.schema"
_Original author: branh...@gmail.com (December 01, 2010 15:30:44)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Hacer el checkout del proyecto.
2. Abrirlo en Netbeans.
3. Descargar las dependencias faltantes.

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Se descargan todas las dependencias, pero no se encuentra el paquete mx.bigdata.sat.cfd.schema, por l

[2012-10-21 16:38] #20 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #21 "no obtengo nada con comprobante.getSello();"
_Original author: jlpinomoreno@gmail.com (December 18, 2010 19:45:19)_

Buenas tardes, no se si sea precisamente un problema, pero cuando intento hacer comprobante.getSello(); para mandarlo a imprimir en mi comprobante este me regresa un null, esto obviamente una vez que ya genere el comprobante, lo selle y lo guarde, alguna idea?

_Original issue: http://code.google.com/p/factura-electronica/issu

[2012-10-21 16:38] #21 closed, assigned to nobody

[2012-10-21 16:38] elmer-garduno opened #22 "Obtencion de null con getSello();"
_Original author: jlpinomoreno@gmail.com (December 19, 2010 01:39:02)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
comp.setImpuestos(imps);
    comp.setFecha(new Date ());
    try {
        cfd = new CFDv2(comp);
        FileInputStream fis = new FileInputStream(&quot;C:\certificado.key&quot;);
        byte[] clavePrivada = getBytes(fis);
        try {
           PKCS8Key pkc

[2012-10-21 16:38] #22 closed, assigned to nobody

[2012-10-21 16:38] elmer-garduno opened #23 "Validar complementos"
_Original author: 19fidela...@gmail.com (December 20, 2010 18:07:38)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Validar un xml sellado por un tercero
2.Aparece error al fina
<b>3.</b>

<b>¿Cuál versión del producto está utilizando?</b>
0.1.5

Error
javax.xml.bind.MarshalException - with linked exception: [javax.xml.transform.TransformerException: org.xml.sax.SAXParseExce

[2012-10-21 16:38] #23 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #24 "Obtencion de null con getSello();"
_Original author: jlpinomoreno@gmail.com (December 20, 2010 19:55:21)_

Oye lamento insistir tanto, pero ya hice lo que se sugiere en el issue 19 baje la version 1.5 y aun sigo teniendo el mismo problema, cuando quiero obtener el sello este me regresa null :s, alguna idea?

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=24_

[2012-10-21 16:38] #24 closed, assigned to nobody

[2012-10-21 16:38] elmer-garduno opened #25 "Ejemplos"
_Original author: jhony...@gmail.com (December 20, 2010 23:29:47)_

Las ligas de los enlaces de Ejemplos estan rotas...

http://code.google.com/p/factura-electronica/source/browse/trunk/src/main/java/mx/bigdata/sat/cfd/examples/ExampleCFDFactory.java

Podrian subir nuevas,

Gracias.

Saludos!

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=25_

[2012-10-21 16:38] #25 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #26 "Nueva reforma de algoritmo de cifrado para 2011 a SHA1"
_Original author: 19fidela...@gmail.com (December 22, 2010 18:49:10)_

<b>¿Cuál versión del producto está utilizando?</b>
0.1.5

Ya utilizo la factura y funciona correctamente pero que pasa con esta regla para 2011.

EL algoritmo de cifrado y hash fue cambiado a SHA1 (anterior MD5), la librería sera actualizada para cumplir con este estandar........

_Original issue: http://code.google.com/p/factu

[2012-10-21 16:38] #26 closed, assigned to nobody

[2012-10-21 16:38] elmer-garduno opened #27 "El sello del Comprobante Fiscal Digital no es válido"
_Original author: kornto...@gmail.com (December 23, 2010 23:35:32)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Sellado en v3
2. Obtengo el sello bien!
3. Validar el CFDI en el la pagina del SAT

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Al validar el CFDI en la pagina del SATme dice &quot;El sello del Comprobante Fiscal Digital no es válido&quot; :(

[2012-10-21 16:38] #27 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #28 "ERROR AL GENERAR EL XML"
_Original author: 19fidela...@gmail.com (January 05, 2011 22:15:35)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
<b>1.</b>
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
xsi:schemaLocation=&quot;http://www.sat.gob.mx/cfd http://www.sat.gob.mx/sitio_internet/cfd/2/cfdv2.xsd&quot;&gt;

DEBE SALIR
xsi:schemaLocation=&quot;http://www.sat.gob

[2012-10-21 16:38] #28 closed, assigned to elmer-garduno

[2012-10-21 16:38] elmer-garduno opened #29 "Cadena original"
_Original author: hip...@hotmail.com (January 07, 2011 01:15:06)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. generar a nivel linea de comando el ejemplo de cfd sellado
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
En realidad no creo que sea un problema sino mas bien una duda, mi pregunta es: porque en el xml sellado no viene la &qu

[2012-10-21 16:38] #29 closed, assigned to nobody

[2012-10-21 16:38] elmer-garduno opened #30 "Propiedad standalone=yes en documentos XML generados"
_Original author: victor.t...@gmail.com (January 09, 2011 07:12:57)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
<b>1.</b>
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
ESPERADO
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;

RESULTA
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;

[2012-10-21 16:39] #30 closed, assigned to elmer-garduno

[2012-10-21 16:39] elmer-garduno opened #31 "Pagina SAT muestra MD5"
_Original author: cristima...@gmail.com (January 25, 2011 21:17:49)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Crear el xml y sellarlo

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Que selle con SHA

<b>¿Cuál versión del producto está utilizando?</b>
0.1.5

<b>Agregue cualquier información adicional que resulte de utilidad.</b>
Estoy sellando sin prob

[2012-10-21 16:39] #31 closed, assigned to elmer-garduno

[2012-10-21 16:39] elmer-garduno opened #32 "Como incluir addendas"
_Original author: cristima...@gmail.com (February 02, 2011 16:47:10)_

Hola, lo que no puedo hacer es incluir una addenda, estoy tratando de hacerlo de la siguiente forma:

ObjectFactory of = new ObjectFactory();
Comprobante comp = of.createComprobante();
...
String addenda = &quot;&lt;Disney&gt;&lt;Transaction PurchaseOrder=4600364283/&gt;&lt;/Disney&gt;&quot;;
//esta info la tomo de la BD, solo

[2012-10-21 16:39] #32 closed, assigned to elmer-garduno

[2012-10-21 16:39] elmer-garduno opened #33 "schemaLocation tiene espacio en lugar de diagonal"
_Original author: antonio....@gmail.com (February 24, 2011 18:47:46)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.generar comprobante con ObjectFactory y verion &quot;3.0&quot;
2.sellarComprobante, validar y verificar
3.guardar comprobante a un archivo

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
la propiedad xsi:schemaLocation deberia tener
&quot;http:

[2012-10-21 16:39] #33 closed, assigned to elmer-garduno

[2012-10-21 16:39] elmer-garduno opened #34 "Problema al generar factura electrónica."
_Original author: joed...@gmail.com (March 31, 2011 16:55:11)_

Al generar el xml de una factura electrónica, pone los datos al reves. Por ejemplo, en los datos del emisor, debe ser rfc y nombre y aparece nombre y rfc. Lo mismo pasa con los domicilios y los demas datos.

No se si esto sea la causa de que el verificador del sat no me los reconosca.

Gracias.

_Original issue: http://code.google.com

[2012-10-21 16:39] #34 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #35 "Problema de descarga de codigo fuente"
_Original author: e.semp...@gmail.com (April 26, 2011 04:26:19)_

Segui estas instrucciones que aparecen el las preguntas frecuentes y me marca el siguiente error
INSTRUCCIONES QUE SE SIGUIERON
NetBeans

Para agregar el código a NetBeans es muy importante tener instalada al menos la versión 3.0.1 de Maven. Para configurar la versión de Maven en NetBeans:

[code]

A continuación importa el proyecto

[2012-10-21 16:39] #35 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #36 "¿La paquetería cfdi-base-0.1.6-SNAPSHOT corre en Eclipse?"
_Original author: lefa...@gmail.com (June 29, 2011 23:12:30)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
<b>1.</b>
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>

<b>¿Cuál versión del producto está utilizando?</b>

<b>Agregue cualquier información adicional que resulte de utilidad.</b>

_Original issue: http://code.google.com/p/factura-

[2012-10-21 16:39] #36 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #37 "Error al incluir pedimentos"
_Original author: lezama...@gmail.com (August 04, 2011 16:08:42)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Agregar una fecha en el pedimento de la siguiente forma:
  ...
  GregorianCalendar gc = new GregorianCalendar();
  gc.setTime(ped.getFecha());
  DatatypeFactory dtf = DatatypeFactory.newInstance();
  XMLGregorianCalendar fechaPed = dtf.newXMLGregorianCalendar(gc);

[2012-10-21 16:39] elmer-garduno opened #38 "Enhancements"
_Original author: arabearb...@gmail.com (September 20, 2011 20:51:37)_

Que tal.
Al dia de hoy me encuentro utilizando tus librerias para generar los CFDV2 en la empresa en la que trabajo. Hasta ahora he trabajado sin problemas pero los requerimientos estan cambiando y necesitamos entre otras cosas manejar adendas (múltiples) y movernos a CFDI por lo que nos interesaría implementar lo que hace fal

[2012-10-21 16:39] elmer-garduno opened #39 "Necesito ayuda con CFDv3 y Timbrado"
_Original author: czar.ced...@gmail.com (September 27, 2011 06:32:08)_

Con anterioridad hice uso de la libreria para crear comprobantes de tipo CFDv2 y me funciono perfecto. Ahora me encuentro en un desarrollo donde requiero implementar los CFDI (CFDv3) y tengo algunas dudas al respecto:
1. ¿Donde puedo encontrar un ejemplo lo mas completo posible para generar CFDv3?
2. Como se realiza el timbrad

[2012-10-21 16:39] #39 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #40 "Problema en timbrado con PAC"
_Original author: desantia...@gmail.com (October 21, 2011 19:05:39)_

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Tengo un problema al mandar timbrar el cfd, primero creo el CFDv3 así como viene en los ejemplos y luego se lo paso al webservice que va a efectuar el timbrado, cuando lo hago desde linux no tengo ningún problema el webservice me regresa el cfdi ya timbrado, pero c

[2012-10-21 16:39] #40 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #41 "Validar addendas"
_Original author: e.semp...@gmail.com (October 25, 2011 09:59:33)_

Hola oye cuales seria los pasos para poder incluir la validacion de nuevas addendas???

Gracias

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=41_

[2012-10-21 16:39] #41 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #42 "Error al sellar comprobante CFD"
_Original author: rene...@gmail.com (October 26, 2011 17:17:24)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.Crear comprobante v2
2.Sellar comprobante
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Comprobante sellado, Se genera excepción java.lang.reflect.InvocationTargetException

<b>¿Cuál versión del producto está utilizando?</b>
0.1.5

<b>Ag

[2012-10-21 16:39] #42 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #43 "Actualización a la nueva versión de CFDI v3.2 y CFD v2.2"
_Original author: czar.ced...@gmail.com (November 24, 2011 19:45:11)_

He estado revisando las publicaciones del SAT, y me encontre que apartir de enero del 2012 se utilizaran las versiones 2.1 y 3.1 para el CFD y CFDI correspondientes, con un nuevo esquema, y mi duda es si la libreria soportara dichas versiones?

Gracias

_Original issue: http://code.google.com/p/factura-electronica/issues/detail

[2012-10-21 16:39] elmer-garduno opened #44 "Version cfd 2.2 y cfdi 3.2 (Reformas fiscales 2012)"
_Original author: carlos.g...@gmail.com (December 17, 2011 17:22:04)_

Hola buen dia,
Antes que nada felicitarte porque tu proyecto es de gran utilidad. Y deseo saber si tienes planeado subir  una nueva version para las reformas de 2012?

Saludos

Carlos

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=44_

[2012-10-21 16:39] #44 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #45 "Error en weblogic 12c"
_Original author: e.semp...@gmail.com (January 12, 2012 06:20:23)_

Hola

Agregue la libreria a un proyecto web y me funciona bien cuando hago el deploy en glassfish 3.1 pero cuando hago el deploy en Weblogic 12c me marca el sigiente error cuando intento crear un comprobante:

javax.xml.bind.UnmarshalException
- with linked exception:
  [javax.xml.stream.XMLStreamException: Error at line:0 col:0 L

[2012-10-21 16:39] #45 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #46 "PROBLEMA AL SELLAR CFDI v3.0"
_Original author: fallen...@hotmail.com (January 14, 2012 18:36:48)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.Al ejecutar el programa para realizar el sello al cfdi v3.0
solamente si tiene el apartado Timbre Fiscal si no si es valido
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
el sellado de la factura me muestra un error, especif

[2012-10-21 16:39] #46 closed, assigned to nobody

[2012-10-21 16:39] elmer-garduno opened #47 "Validación de Adendas en versión 0.2.1"
_Original author: jcaflori...@gmail.com (January 25, 2012 02:37:44)_

Estoy intentando validar comprobantes cfd y cfdi con adendas y la api me marca errores en la estructura de los comprobantes, sin embargo, los valido en los validadores del SAT y el resultado me arroja una estructura y sello validos.

En esta versión todavía no se validan adendas?

Anteriormente, la semana pasada, intente validar

[2012-10-21 16:39] elmer-garduno opened #48 "Duda"
_Original author: Joelhde...@gmail.com (February 09, 2012 08:01:52)_

Esta informacion es para los PAC o tambien se puede aplicar para cualquier aplicacion que quiera timbrar documentos?

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=48_

[2012-10-21 16:40] #48 closed, assigned to nobody

[2012-10-21 16:40] elmer-garduno opened #49 "UUID"
_Original author: e.semp...@gmail.com (February 19, 2012 02:29:45)_

Hola

Oye no encuentro como obtener el uuid de los CFDi ? me podras orientar
graias

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=49_

[2012-10-21 16:40] elmer-garduno opened #50 "CFD valido ante SAT y con la libreria no es valido"
_Original author: e.semp...@gmail.com (February 26, 2012 01:44:50)_

Hola tengo el siguiente problema no se si me pudieras ayudar

A la hr de de validar el siguiente cfd me marca el siguiente qu el CFD no es valido y me dice que es por la etiqueta  implocal:ImpuestosLocales y despliga lo siguiente :

Caused by: org.xml.sax.SAXParseException; lineNumber: 0; columnNumber: 0; cvc-complex-type.2.4.c:

[2012-10-21 16:40] #50 closed, assigned to nobody

[2012-10-21 16:40] elmer-garduno opened #51 "SAXParseException: El destino de la instrucción de proceso correspondiente "[xX][mM][lL]" no está permitido."
_Original author: iscerikz...@gmail.com (March 06, 2012 19:45:27)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.solo al intentar crear un objeto comprobante a partir de un archivo
<b>2.</b>
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
la validacion,    en su logar un error.

<b>¿Cuál versión del producto está utilizando?</b>
cfdi-base-0.2.1

<b

[2012-10-21 16:40] elmer-garduno opened #52 "Mejorar y documentar los pasos necesarios para validar con complementos"
Crear código de ejemplo e incluirlo con la distribución.

Hacer un documento donde se expliquen las mejores prácticas y subirlo al wiki.

Ver Issue #23

[2012-10-21 16:40] elmer-garduno opened #53 "Problema al generar el timbre con cfdis v3.2"
_Original author: guillerm...@gmail.com (March 08, 2012 06:30:33)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.crear un CFDv32
2.timbrarlo
3.intentar serializarlo (metodo TFDv1.guardar)

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Una excepcion con este mensaje principal: javax.xml.bind.JAXBException: class mx.bigdata.sat.cfdi.v32.schema.Comprobante nor

[2012-10-21 16:40] elmer-garduno opened #54 "Invalid Signature - Fecha Tipo [2012-03-01T14:18:42-06:00]"
_Original author: jcaflori...@gmail.com (March 23, 2012 17:02:20)_

Buenos días, q tal, validando diferentes tipos de CFDi me di cuenta que algunos vienen con el campo fecha de la siguiente manera 2012-03-01T14:18:42-06:00, y al validar los comprobantes con ése tipo de fecha marcado en el xml, la función de validar el comprobante me arroja una excepción invalid signature, sin embargo, al validar e

[2012-10-21 16:40] elmer-garduno opened #55 "MojoExecutionException"
_Original author: garciacr...@gmail.com (March 24, 2012 00:09:34)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.bajar pom.xml de la libreria
2.crear un proyecto maven en netbeans
3.poner &quot;build&quot; contruir al proyecto

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
visualizar los archivos con extension .java en su lugar no aparece nada o solo los .c

[2012-10-21 16:40] #55 closed, assigned to nobody

[2012-10-21 16:40] elmer-garduno opened #56 "ERROR en validación Complemento"
_Original author: garciacr...@gmail.com (March 26, 2012 18:17:37)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1.Creación de un CFDv2 a través de un archivo (Cabe mencionar que el cfd ya se encuentra sellado).
2.Tratar de Validar el cfd
<b>3.</b>

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Validación correcta del cfd puesto que en otros validadores (como

[2012-10-21 16:40] elmer-garduno opened #57 "Verifica la aprobacion de los folios?"
_Original author: garciacr...@gmail.com (April 05, 2012 16:55:35)_

Buen día.

Reciban un saludo de mi parte, el motivo de que escriba es para preguntar si el validador o verificador de la librería (para CFDI v3.2)
checa que los folios sean autorizados (fecha de aprobación, RFC, etc.) según la lista que se descarga através del portal del SAT? o esa validación debo manejarla por mi cuenta?

Agradez

[2012-10-21 16:40] elmer-garduno opened #58 "Comprobante valido no reconocido <Invalid signature>"
_Original author: garciacr...@gmail.com (May 08, 2012 18:54:37)_

Buenas tardes intento validar el cfd que adjunto a continuación y me aparece el error

[code]

Cuando valido este mismo comprobante en otro 3 validadores distintos a este me aparece que esta correcto. ¿A que se debe que no lo pase por válido?
¿A que se refiere esta exception? ¿Podrían decirme donde esta el error de mi comprobante?
C

[2012-10-21 16:40] elmer-garduno opened #59 "Validar que el CFDi ha sido entregado a SAT."
_Original author: jcaflori...@gmail.com (June 12, 2012 03:00:46)_

BigData, ¿de qué forma se podría validar si el CFDi ya ha sido entregado a SAT?, de forma que se pueda validar el UUID.

Saludos.

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=59_

[2012-10-21 16:40] elmer-garduno opened #60 "Manejo de ImportesLocales"
_Original author: SanRuiz...@gmail.com (June 13, 2012 23:27:23)_

Podrían ponerme un ejemplo de como manejar los importes locales porfavor?? Lo agradecería muchisimo!!

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=60_

[2012-10-21 16:40] elmer-garduno opened #61 "No puedo crear Sellar mi CFDIv32"
_Original author: aespinos...@gmail.com (June 19, 2012 16:06:43)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. CFDv32 cfdi = new CFDv32(ExampleCFDv32Factory.createComprobante(), &quot;mx.bigdata.sat.cfdi.examples&quot;);
2. mx.bigdata.sat.cfdi.v32.schema.Comprobante objComp = new mx.bigdata.sat.cfdi.v32.schema.Comprobante();
3. objComp = cfdi.sellarComprobante(key, cert);
4

[2012-10-21 16:40] elmer-garduno opened #62 "Agregar numero de cuenta"
_Original author: jlpinomoreno@gmail.com (June 28, 2012 02:51:47)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
N/A

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Quisiera saber si ya existe un método para agregar el numero de cuenta, o los últimos 4 Dígitos al menos

<b>¿Cuál versión del producto está utilizando?</b>
0.2.2 SnapShot

_Original issue: http://

[2012-10-21 16:40] elmer-garduno opened #63 "factura-electronica busca nuevos desarrolladores"
_Original author: elmer.garduno@gmail.com (July 25, 2012 17:32:27)_

Saludos a todos en la lista.

Si alguien está interesado en participar activamente en el proyecto como desarrollador, por favor déjanos un mensaje.

Gracias por su interés en el proyecto.

Saludos

_Original issue: http://code.google.com/p/factura-electronica/issues/detail?id=63_

[2012-10-21 16:40] elmer-garduno opened #64 "Uso de Complementos con la Librería"
_Original author: javi.cas...@gmail.com (August 03, 2012 16:49:22)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
N/A

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Quisiera saber si la librería soporta el uso de complementos para la creación de nuevos cfd, si es así cual sería la forma de implementarlos porque estoy perdido en el tema y quisiera implementar

[2012-10-21 16:40] elmer-garduno opened #65 "Como obtener el compemento impuestoLocal"
_Original author: e.semp...@gmail.com (August 23, 2012 20:11:29)_

¿Cuáles pasos hay que seguir para reproducir el problema?Crear un comprobante que contega el complemento de impuesto local y cuando queremos obtener este objeto nos regresa un objeto de tipo ElementNSImpl

<b>¿Cuál es el resultado esperado? ¿Qué resulta en su lugar?</b>
Lo que espero al recorrer la lista de complementos es poder ob

[2012-10-21 16:40] elmer-garduno opened #66 "Ayuda para generar Complemento de Donatarias"
_Original author: carlos.g...@gmail.com (August 27, 2012 18:40:44)_

hola, estoy tratando de generar el complemento para donatarias, pero me marca este error:

[javax.xml.bind.JAXBException: class mx.bigdata.sat.common.donat.schema.Donatarias nor any of its super class is known to this context.]

Asi es como estoy armando el complemento:

Donatarias dn = new mx.bigdata.sat.common.donat.schema.Dona

[2012-10-21 16:40] elmer-garduno opened #67 "Exception javax.crypto.BadPaddingException. En la desencriptación de la llave"
_Original author: garciacr...@gmail.com (September 13, 2012 16:15:16)_

Genero el objeto CFDv32 e intento sellarlo y me marca un error cuando intenta realizar la desencriptación PKCS8Key... esta es la excepción que me manda:

javax.crypto.BadPaddingException: Given final block not properly padded
    at com.sun.crypto.provider.SunJCE_f.b(DashoA13_..)
    at com.sun.crypto.provider.SunJCE_f.b(Dasho

[2012-10-21 16:40] #67 closed, assigned to nobody

[2012-10-21 16:40] elmer-garduno opened #68 "Error al compilar el proyecto"
_Original author: SanRuiz...@gmail.com (September 24, 2012 19:46:38)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Descargue del SVN la ultima version hace ya un par de meses y por un tiempo la estuve utilizando y compilando sin ningún problema
2. Tiempo después abri el proyecto nuevamente pues queria probar nuevas cosas
3. Trate de compilar y me sale error

<b>¿Cuál es el

[2012-10-21 16:40] #68 closed, assigned to nobody

[2012-10-21 16:40] elmer-garduno opened #69 "java.lang.NoClassDefFoundError: com/google/common/base/Joiner"
_Original author: alexi...@gmail.com (October 02, 2012 03:51:20)_

<b>¿Cuáles pasos hay que seguir para reproducir el problema?</b>
1. Ejecutar el código adjunto para tratar de generar un CFDI 3.2

¿Cuál es el resultado esperado?
Un archivo XML (CFDI)

¿Qué resulta en su lugar?
Un error

<b>¿Cuál versión del producto está utilizando?</b>
cfdi-base-0.2.2

<b>Agregue cualquier información adicional

[2012-10-21 16:55] #51 closed, assigned to nobody

[2012-10-22 08:21] bennsandoval opened #70 "Duda con AppEngine"
La version cfdi-base-0.2.4-bin.zip es compatible con AppEngine?...

En este issue: https://github.com/bigdata-mx/factura-electronica/issues/15

Mencionan que tienen una version para AppEgine pero el link no funciona....

Saludos...

[2012-10-22 22:31] #70 closed, assigned to nobody

[2012-10-23 11:33] #63 closed, assigned to nobody

[2012-11-01 18:42] eaavendanop opened #71 "Cadena original "mal generada""
Buenos tardes estimado,

Sucede lo siguiente, tengo un XML que en el total viene: 0000000106.98, por lo cual el sello se realizó con los ceros a la izquierda.

Al tratar de validar ese XML me marcaba sello inválido, así que imprimí la cadena original que genera la librería y me di cuenta de que el total lo esta obteniendo así: 106.98.

Por lo anterior  el sello es "inválido", entiendo que es porqu

[2012-11-22 18:00] franflan opened #72 "Impuesto Cedular"
Hola buen dia,

Tengo problemas para incluir en la factura electronica el Impuesto Cedular, intente agregarlo dentro de Impuestos, pero no viene la opción, asi que lo intente por medio de un complemento, pero aun asi no eh podido integrarlo, les voy a mostrar el codigo con el que intento incluir el impuesto cedular al comprobante

[code]

Gracias de antemano
Saludos

[2012-11-26 19:16] painapol opened #73 "Nuevos certificados de prueba"
Que tal buenos dias, mi pregunta es si pudieran subir nuevos ejemplos para hacer pruebas, ya que los que estan dicen que expiraron el Sun Jul 29 10:58:41 GMT-06:00 2012.

De antemano muchas gracias

[2012-12-08 03:55] atomitl opened #74 "¿Cómo agregar el Timbre Fiscal del PAC al CFDv32?"
Hola, todo me ha funcionado perfectamente pero no se como hacer para agregar el timbre fiscal que me devuelve el PAC a mi objeto CFDv32 para luego serializarlo ya completo. Encontré la clase TimbreFiscalDigital y crearla/llenarla es sencillo pero no estoy seguro si se agrega sólo como un elemento a los complementos o si se necesita otro proceso. Les agradeceré cualquier ayuda en este sentido, salu

[2012-12-08 17:50] #74 closed, assigned to nobody

[2012-12-08 17:57] #69 closed, assigned to nobody

[2012-12-13 03:14] elmora-do opened #75 "Complemento SPEI Tercero a Tercero"
Que tal buen día

¿Podrán añadir soporte al complemento SPEI por favor?, o no se si pudieran decirme con qué herramienta generan las clases para crearlas y ya las añado a la biblioteca.

Saludos

[2012-12-27 04:05] alexiecr opened #76 "Pregunta"
Buenas noches Elmer,

Disculpa mi ignorancia, pero estoy implementando el Timbrado en una aplicación. Por ahí das un pequeño ejemplo, pero no me queda claro para qué vuelves a crear el CFDI si se supone que el PAC me devuelve el CFDI listo para guardar.

Si tengo que volver a crear el CFDI, podrias darme un ejemplo completo?
De antemano, muchas gracias!

---

// Guardar el comprobante sellado como

[2013-05-31 20:09] Carodial opened #77 "Sello Valido en el SAT e Inválido con la Librería"
Hola el problema que tengo es el siguiente:
Al validar un XML cuyas cantidades o importes no tenga el formato con dos decimales, marca Sello Invalido, la misma factura la paso en el SAT y me dice que el sello es válido.

importe="9543.870000"
valorUnitario="9543.870000"
cantidad="1.000000"> ó cantidad=".39"

Hay alguna forma de que el sello se tome tal y como vienen los valores en el XML, sin que

[2013-07-25 15:16] desantiago opened #79 "Adendas"
Que tal, quisiera saber si alguien a implementado la adenda de la amece, no se ni por donde empezar, si alguien pudiera darme una pista se lo agradecería bastante.

[2013-07-31 23:58] danielcruzgarcia opened #80 "Compilar codigo en Jdeveloper"
Hola que tal tengo una duda !!

Descargue el código del proyecto a mi pc, pero tengo una duda yo ocupo de IDE JDeveloper, es necesario que instale Maven o como le hago para compilar y probar los ejemplos del proyecto ?

Es necesaria la versión 6 de Java en la ultima versión del proyecto para poder compilar y correr correctamente el proyecto?

[2013-08-29 16:18] jonmor opened #81 "Duda acerca del orden de los campos - Pregunta"
Hola buenos dias, tengo un problema extraño

Estoy creando un xml de prueba, y en el validador pasa todo bien, pero el orden de la informacion sale al volteada

Ejemplo

Como debe salir

<cfdi:Receptor rfc="PEPJ8001019Q8" nombre="JUAN PEREZ PEREZ">

Como me sale a mi

<cfdi:Receptor nombre="JUAN PEREZ PEREZ" rfc="PEPJ8001019Q8">

esta cambiando el orden de los campos, aunque en el SAT pasa todo OK

[2013-10-09 16:44] jesuslerma opened #82 "Validar versión de factura"
Que tal, me gustaría saber si existe una función para validad que versión de factura es la que contiene el inputstream.

Tengo el siguiente código:

InputStream reader = null;
Comprobante comprobanteTest = null; //Comprobante es de //mx.bigdata.sat.cfdi.v32.schema.Comprobante;
comprobanteTest = CFDv32.newComprobante(reader);

Y esto me marca el error:
unexpected element (uri:"http://www.sat.gob.mx

[2013-10-10 17:40] #82 closed, assigned to nobody

[2013-10-10 23:08] danielcruzgarcia opened #83 "Duda caracteres especiales "&", "\", "<",">" etc."
Hola que tal buen día a todos !!

Quisiera saber si me pueden decir en que momento o en que parte del código tendría que hacer el replace de esos caracteres, por su correspondientes codigos por ejemplo:

replace("&","&amp;");

Quisiera saber si es despues de mandar a llamar el metodo getOriginalBytes(); el cual devuelve un arreglo de bytes que forman la cadena original o en que momento?

Saludos !

[2013-10-17 00:39] residentemzt opened #84 "Pregunta ¿Cadena Original del complemento de certificacion del SAT?"
Como puedo obtener la cadena original del complemento de certificación del SAT. Ya tengo mi XML timbrado por el PAC y cargo ese mismo XML con
<code>mx.bigdata.sat.cfdi.CFDv32 cfd =
new mx.bigdata.sat.cfdi.CFDv32(new java.io.FileInputStream(factXML));</code> pero no encuentro documentación sobre como obtener el String Cadena Original del Complemento del SAT, solo encuentro <code>cfd.getCadenaOrigin

[2013-10-28 22:50] branhuac opened #85 "Como agregar el complemento detallista"
Hola,

¿Me podrías ayudar con un snippet de código donde se vea como se incluye este complemento? Ya que lo incluí pero me marca la siguiente excepción:

javax.xml.bind.MarshalException
- with linked exception:
  [com.sun.istack.SAXException2: class mx.bigdata.sat.common.detallista.schema.Detallista nor any of its super class is known to this context.
  javax.xml.bind.JAXBException: class mx.bigda

[2013-10-31 20:36] jesuslerma opened #86 "Verificar CFDv2"
Tengo unas facturas xml versión 2.0 que no tienen el atributo certificado, solo tienen el atributo  noCertificado. Al momento de ejecutar el método verificar de la clase  mx.bigdata.sat.cfd.CFDv2; me marca una excepción, si quiero ver el error con: e2.getMessage(), me marca null, por lo que le ejecuté un debug al método verificiar y puedo ver que la variable certSrt es nula.

No estoy muy familiar

[2013-11-20 12:15] cristimayo opened #87 "Recibos de nomina"
Hola, solo queria preguntar si piensas incluir las nuevas disposiciones para recibos de nomina
Gracias

[2013-11-20 22:31] cristimayo opened #88 "complemento impuesto local"
Hola, estoy tratando de inlcuir el complemento de impuesto local pero me genera este error:

javax.xml.bind.MarshalException
- with linked exception:
  [javax.xml.bind.JAXBException: class mx.bigdata.sat.common.implocal.schema.ImpuestosLocales$RetencionesLocales nor any of its super class is known to this context.]

hace ya tiempo me ayudaste con las addendas y todo muy bien, ahora intente de form

[2013-11-21 00:02] eaavendanop opened #89 "Complemento para el Recibo de pago de Nómina"
Me gustaría saber si ustedes tienen pensado implementar este complemento, o de lo contrarío ¿me podrían orientar para implementarlo en su librería?.

Este nuevo complemento se deberá utilizar a partir del 2014.

URL con la información correspondiente:
http://www.sat.gob.mx/sitio_internet/asistencia_contribuyente/principiantes/comprobantes_fiscales/66_22071.html

[2013-11-21 06:18] #87 closed, assigned to nobody

[2013-11-23 00:25] #88 closed, assigned to nobody

[2013-11-27 16:19] Facturacion opened #90 "Impuestos Locales"
Hola buen día, tengo una duda acerca de la librería de CFDI32, se pueden generar XMLs con impuestos locales?, estos impuestos locales deben ir incluidos en el nodo complemento.

Agradecería mucho la pronta respuesta.

Gracias y saludos!

[2013-11-27 20:09] alvenro opened #91 "impuesto local"
Estoy usando el complemento impuesto local, solo me hace falta que xsi:schemaLocation contenga: http://www.sat.gob.mx/implocal http://www.sat.gob.mx/sitio_internet/cfd/implocal/implocal.xsd
el implocal ya me aparece dentro de complemento pero no logro incluir lo anterior.

Agradecería su ayuda.

[2013-12-10 19:33] demian106 opened #92 "Problema con el sello"
Cuando se utiliza la función

Comprobante comprobanteSellado = cfd.sellarComprobante(pkey, cert);

Manda la excepción:

Exception in thread "main" java.lang.NoSuchMethodError: org.apache.commons.codec.binary.Base64.<init>(I)V
    at mx.bigdata.sat.cfdi.CFDv32.getSignature(CFDv32.java:226)
    at mx.bigdata.sat.cfdi.CFDv32.sellar(CFDv32.java:129)
    at mx.bigdata.sat.cfdi.CFDv32.sellarComprobante(

[2013-12-11 18:50] branhuac opened #93 "Complemente nómina"
Hola,

Oye tienes planeando lanzar una actualización para que se soporte el complemente  nómina???

http://www.sat.gob.mx/sitio_internet/asistencia_contribuyente/principiantes/comprobantes_fiscales/66_26019.html

Aquí está la liga del SAT.

Saludos

[2013-12-17 01:35] #93 closed, assigned to nobody

[2013-12-18 19:34] LBrito opened #95 "Dependencia Bouncy Castle"
Hola,

Tengo una pregunta, ¿Habría un inconveniente si se actualizara la dependencia de Bouncy Castle 1.45 a 1.5? Lo que pasa es que me es necesaria la clase org.bouncycastle.asn1.ASN1Encoding para generar el Pfx necesario para enviar la solicitud de cancelación a mi PAC. O no sé si alguien más lo ha podido hacer sin tener conflictos con las dependencias actuales.

Saludos!

[2013-12-26 15:30] Carlosru opened #96 "Emitir CFDI con solo firma electronica y RFC"
Hola,

He estado observando algunas noticias que para 2014 ya no se requerirar que el contibuyente tenga un certificado de sello digital sino unicamente la FIEL y el RFC, se estan adaptando las librerias para este cambio?

Saludos.

[2013-12-26 17:29] #96 closed, assigned to nobody

[2013-12-30 10:49] dachach opened #97 "PublicKeyLoader is not abstract"
Ya descargue las librerías, me marcan el error de "PublicKeyLoader no es abstract".  ¿ A qué se debe este error? ¿Se puede corregir?

[2013-12-31 11:15] DanielMontesDeOca opened #98 "No se incluye la información del complemento Nómina en la cadena original"
Hola a todos,

Espero que me puedan ayudar a encontrar el error y de ser un problema con la librería poder contribuir a corregirlo.

Tengo el siguiente código para el complemento Nómina:

[code]

El xml se genera bien en cuanto a estructura, todo aparece en su lugar como debe ser. El problema es al validarlo, me marca el siguiente error:

The matching wildcard is strict, but no declaration can be

[2014-01-01 03:47] #98 closed, assigned to nobody

[2014-01-08 17:42] Carlosru opened #99 "Adenda despues de timbrar un CFDIv3.2"
Hola estoy intentanto añadir una adenda a un CFDI ya timbrado con este codigo:

 File cdfiT = new File("C:\AlgunaRuta\CFDI_Ya_Timbrado.xml");

 cfdi =  new CFDv32(new FileInputStream(cdfiT));
 comprobanteBase = (CFDv32ComprobanteBase) cfdi.getComprobante();

 comprobante = (Comprobante)comprobanteBase.getComprobante();
//Agrego aqui la adenda.
 comprobante.setAddenda(createAddenda(of));
//
  cfdi

[2014-01-08 18:50] #99 closed, assigned to nobody

[2014-01-29 18:54] ZooMMX opened #100 "Software opensource standalone que usa esta biblioteca"
Hola Elmer!, hace tiempo me puse en contacto contigo porque hice una serie de clases Java que podrías utilizar en tu biblioteca como utilidades, lamentablemente no las pude anexar en su momento en tu proyecto, sin embargo hice un proyecto completo para ellas.

Este es un proyecto que quiero compartir con todos, se trata de una aplicación standalone con GUI que sirve para generar comprobantes CFDI

[2014-02-06 22:10] #71 closed, assigned to nobody

[2014-02-13 00:36] LBrito opened #101 "Múltiples esquemas en "xsi:schemaLocation""
En la línea 194 de la clase CFDv32, en el método utilizado para guardar el documento, puedo notar que se agrega sólo el esquema general del CDFI.

[code]

Aquí: https://github.com/bigdata-mx/factura-electronica/blob/d69d4d1f1144faae4beadce559cde2812679d6e7/src/main/java/mx/bigdata/sat/cfdi/CFDv32.java#L194

Sin embargo, creo que sería bueno que se pudiera agregar el de todos los complementos utili

[2014-02-25 23:21] danielcruzgarcia opened #102 "Generación de pdf"
Hola a todos buen día !!

Voy a empezar con la creación del PDF y quisiera saber cuales librerias o que estan ocupando para la generación de los pdf en Java, creen que se pueda hacer en Ireport (JasperReports) sobre todo por la creación del codigo qr, y si estan ocupando Ireport que versión estan ocupando.

Saludos a todos y espero me puedan ayudar y gracias a todos!!

[2014-02-28 23:22] jesuslerma opened #103 "Extraer Impuestos Locales de Facturas"
¿Existe algún método para obtener los impuestos locales?

El método getImpuestos de la clase Comprobante no me trae estós impuestos por ejemplo I.S.H.

[2014-03-08 22:01] ghost opened #104 "Sello Mal Formado con el JAR generado - Desde Netbeans Todo Bien"
Hola,, no se si a alguien ya le paso,,, pero cuando pruebo el programa desde el Netbeans, todo funciona bien,, genera el xml y se timbra,, ahi todo bien,,,

Pero cuando formo el JAR y lo intento hacer con el JAR,, con la misma fuente de datos, etc,,,,,

El servicio de Timbrado me rechaza el XML, con el codigo de error de Sello Mal Formado,,,

Alguna idea???

De Antemano les Agradezco,,,

[2014-03-10 23:27] #104 closed, assigned to nobody

[2014-03-21 14:23] aespinosa1170 opened #105 "Generacion de la llave"
Buenos días estoy tratando de generar mi llave y mi certificado con esta operación

[code]

y me arroja el siguiente error.
Exception in thread "Thread-0" java.lang.IncompatibleClassChangeError: Implementing class
    at java.lang.ClassLoader.defineClass1(Native Method)
    at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
    at java.security.SecureClassLoader.defineClass(SecureClassLoad

[2014-03-21 14:23] #105 closed, assigned to nobody

[2014-04-15 22:14] javikin opened #106 "Complemento de notaria"
Hola estoy viendo la nueva ley que se aplica para notarias publicas la cual hay que agregar un nuevo complemento que se describe aqui:

http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/complemento_notarios.aspx

Queria saber si alguien ya esta haciendo esto, si no para que lo realice, asi como se aplico con complemento de honorarios en  #89

[2014-04-21 23:39] javikin opened #107 "java.lang.NoClassDefFoundError: org/apache/commons/ssl/PKCS8Key"
Hola estoy implementando la nueva version del KeyLoader, ya que ahora para obtener la key el certificado se necesita de KeyLoaderFactory. ya hice los cambios pero me arroja el siguiente error, sin embargo si cuento con la libreria.

<dependency>
        <groupId>commons-logging</groupId>
        <artifactId>commons-logging</artifactId>
        <version>1.1.1</version>
</dependency>

Error:

SEVERE

[2014-04-30 20:00] #107 closed, assigned to nobody

[2014-05-22 16:33] acrkorn opened #109 "Excepción cuando se usan webservices"
Hola,

Les comento que al momento de usar web services, la librería entra en conflicto con las librerías del JDK y envía excepciones.

Específicamente, es con la clase javax.xml.bind.JAXBContext, al parecer la implementación de jaxb de que la que depende la librería entra en conflicto con la implementación ContextFactory del JDK.

Para resolverlo, hay que aplicar lo siguiente antes de usar los web

[2014-06-27 17:22] acordovar opened #110 "Complemento TimbreFiscal"
Buenos dias a todos!

Recientemente verifiqué el XML generado por mi aplicación en la pagina del SAT https://www.consulta.sat.gob.mx/sicofi_web/moduloECFD_plus/ValidadorCFDI/Validador%20cfdi.html y me da el mensaje:
Validación de estructura: Inválido
xsi:schemaLocation del Complemento tfd:TimbreFiscalDigital no declarado.

Comparando mis XMLs con los de otros sistemas, veo que efectivamente me fal

[2014-07-03 18:13] el-many opened #111 "Contabilidad Electónica."
Que tal chavos, han escuchado algo de la contabilidad electrónica?? voy revisando las nuevas reformas y esta va llegando, en cuanto tenga algo o de igual forma ustedes, sería bueno prepararlo para integrarlo a la librería. Saludos.

[2014-07-23 17:35] luca15mx opened #112 "Nuevo usuario"
Hola, buenas tardes:

Soy Mario Roberto Hernández Flores, manejo la facturación electrónica que hacemos junto con el ERP PeopleSoft.

Me gustaría contribuir con ustedes.

Cómo puedo hacerlo?

Saludos.

[2014-08-11 18:37] tequisoft opened #113 "facturas 3.2 SAXParseException AnonType_folioComprobante"
## Al validar una factura 3.2 me marca el siguiente error

org.xml.sax.SAXParseException
    at javax.xml.bind.util.JAXBSource$1.parse(JAXBSource.java:246)
    at javax.xml.bind.util.JAXBSource$1.parse(JAXBSource.java:231)
    at javax.xml.validation.Validator.validate(Validator.java:124)
    at mx.bigdata.sat.cfdi.CFDv32.validar(CFDv32.java:163)
    at mx.bigdata.sat.cfdi.CFDv32.validar(CFDv32.ja

[2014-08-11 21:22] #113 closed, assigned to nobody

[2014-10-20 17:38] ildefonso opened #114 "Es posible leer un xml estado de cuenta bancario"
Hola, es posible leer un archivo xml de estado de cuenta bancario y pasarlo al objeto:
mx.bigdata.sat.common.ecb.schema.EstadoDeCuentaBancario

Si alguien sabe la manera, les agradeceria.

Muchas gracias.

[2014-11-05 18:50] foluis opened #115 "Migración a c#"
Esta súper esta iniciativa!

Quiero pasar el código a C# hay alguna razón que evite hacer esto?
Si no hay ningún problema, quisiera saber si tienen o pueden compartir algún diagrama se secuencia o de flujo para poder iniciar el proyecto de migración.

Que dicen?

[2015-01-05 21:37] camarillo commented on #111
Hola a todos

Ya pude generar el primer XML con la libreria que es el catalogo de cuentas, pero tengo un detalle para que este exacto, sale asi:

[code]

Como puedo cambiar el nodo **Catalogo** se cambie por **catalogocuentas:Catalogo**
y **Ctas** por **catalogocuentas:Ctas**

Alguien sabrá como?

Saludos y Feliz Año.

[2015-01-05 23:43] someMxDeveloper commented on #111
¡Qué tal @camarillo! Una forma de hacerlo es asignando la propiedad *com.sun.xml.bind.namespacePrefixMapper* del marshaller pasándole un map de strings que contenga los prefijos con sus respectivas URI's. Algo como
[code]
[Aquí](https://jaxb.java.net/nonav/2.2.11/docs/ch05.html#prefixmapper) algo sobre NamespacePrefixMapper. ¡Espero que te sea de ayuda, Feliz inicio de 2015 para tí!

[2015-01-06 15:39] camarillo commented on #111
Hola @someMxDeveloper muchas gracias, lo tengo como esta implementado desde CFDI en la libreria principal, y me sigue arrojando lo mismo, es algo similar a lo que pusiste.

[code]
Y ya al guardarlo se pone lo que me comentas.
[code]
Y sigue quedando el XML  igual:
[code]

Para crear el XML lo realizo de la siguiente manera:
[code]
Alguna otra idea?

[2015-01-06 18:50] someMxDeveloper commented on #111
Lo único que me viene a la mente estimado @camarillo es que haya algo faltante en el **package-info.java** Necesitas agregar la anotación *javax.xml.bind.annotation.XmlSchema* especificando el namespace objetivo y la forma default de los elementos, que debería ser *QUALIFIED*

El package-info del CFDI está así
[code]

Tu paquete debe tener algo similar.

[2015-01-07 14:48] camarillo commented on #111
Hola @someMxDeveloper muchas gracias por la ayuda, eso que me comentabas tampoco era esa información si estaba bien, era otro error muy básico que no me había percatado. Al agregar el nameSpace al llenar la clase yo tenia esto:
[code]
Y lo lo correcto es así, para que lo encontrara:
[code]
También me encontré con el error que mencionabas del espacio en blanco, ayer revisando de nuevo los XSD de la

[2015-01-07 22:14] camarillo commented on #111
Ya subi los cambios, con la librería generada ya pude realizar los siguientes XML
[code]
[code]
[code]

[2015-01-08 15:17] eaavendanop commented on #111
@camarillo ¿en que librería se está llevando a cabo esta implementación? Pues me interesa descargarla.

Saludos!!!

[2015-01-08 15:28] camarillo commented on #111
Hola @eaavendanop es sobre esta misma libreria sobre ella estoy haciendo los cambios ahorita lo subi a mi fork, para evaluar si lo pueden integrar al principal.

[2015-01-08 16:52] elmer-garduno commented on #111
Gracias Ivan, puedes crear un pull request? Para integrarla? Saludos!

On Thu, Jan 8, 2015, 7:28 AM Ivan Aranda <notifications@github.com> wrote:

[2015-01-08 21:27] camarillo commented on #111
Hola @elmer-garduno ya realice el pull request, me dices de favor si realice algo mal o si falta algo.

Saludos.

[2015-01-09 14:44] elmer-garduno commented on #111
Gracias @camarillo y a todos los que aportaron ya se integraron los cambios.

Saludos

[2015-01-13 17:29] moiseshv commented on #100
Hola.
Este link ya no está disponible, alguien nos puede indicar dónde está esta versión del software. O si ya no está disponible alguien la podría enviar por mail o ponerla en un FTP? Me gustaría mucho poder verla.
Muchas gracias de antemano.

[2015-01-19 14:35] dgonzalez68 commented on #103
Hola jesuslerma, tengo la misma necesidad que tu, requiero extraer los impuestos locales de un CFDI. Pudiste resolverlo?, de ser así, podrías indicarme como lo hiciste?

Gracias.
Saludos.

[2015-02-04 05:16] Maheshmx commented on #111
Gracias @camarillo y puedes agregar archivo Test para contabilidad Electrónica!!!

Saludos

[2015-02-04 14:45] camarillo commented on #111
Si, lo tratare de agregar este fin de semana.

Saludos

[2015-02-04 17:16] Maheshmx commented on #111
Gracias,

Mahesh

[2015-02-04 17:23] Jerohan commented on #59
betocaballo, un ejemplo de como quedaria la cadena y las importaciones.

using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Windows.Forms;
using ValidaCFDI.ConsultaCFDISat;

namespace ValidaCFDI
{
    public partial class Form1 : Form
    {
        public Form1()
        {

[2015-02-04 17:28] Jerohan commented on #59
He notado que algunos PAC's, están ofreciendo utilerias gratuitas, para descargar los XMLS's  Recibidos y Emitidos?, alguien sabe si existe algún webservice que haga esto.

Por medio de mi firewall, he notado que se conecta en la siguiente dirección : cfdiau.sat.gob.mx

Antes de  a aplicar un poco de ingeniería inversa, ¿si alguien sabe, donde obtienen los archivos?.

Saludos.

[2015-02-04 17:40] marcoovalle commented on #59
Nop, yo solo pruebo que los XML sean válidos. Por otro lado, sería bueno ( si pudieras enseñarnos y  ) conocer tus métodos de ingen-ieria in-vers-a.... Por aquello de... geeks... amaestrados y dominados por la tecnología .... ejejejje... !!!... =D
Saludos.

[2015-02-09 18:59] gerardoDelarosa commented on #59
Hola Jerohan
Hace unos dias descargue un programa que hace la descarga de los xml recibidos, lo que pude notar es que dentro de este programa abre una windowsForm con la pagina del SAT:

https://cfdiau.sat.gob.mx/nidp/wsfed/ep?id=SATx509Custom&sid=0&option=credential&sid=0

Posteriormente el usuario ingresa con su FIEL o en su defecto con su SIEC, posteriormente te vas al apartado de comprobantes

[2015-02-10 02:24] gerardoDelarosa commented on #59
Hola Jerohan

Avanzando en la descarga masiva

Estos son los divid que se generan despues de la consulta en la pagina del SAT

<div id="DivPaginas" style="height: auto;">
  'estos son por cada pagina de consulta
  <div class="pgActual" id="masivapg0">
    <table>
      <tbody>
	<tr>
          <td>
            <div style="width: 100px; text-align: center; vertical-align: middle; display: block;">

[2015-02-16 19:57] gerardoDelarosa commented on #59
Buenas a todos

Por fin pude hacer la descarga

codigo VB

1. Creamos un Formulario con WebBrowser
2. Le damos la siguiente direccion: https://cfdiau.sat.gob.mx/nidp/app/login?id=SATUPCFDiCon&sid=1&option=credential&sid=0
Nos solicita FIEL y CLAVE o bien si cambiamos el ultimo parametro "sid=1" lo podemos hacer por la CIEC
3. Seleccionamos la opcion de Recibido
4. Creamos el filtro y filtramos

5.

[2015-02-17 17:41] misaelrag commented on #111
Buenos, disculpen no cuentan con la mera estructura del XML para los auxiliares? , bueno solo como se mandan llamar para la validación.. yo los tengo de la siguiente manera:;

<?xml version="1.0" encoding="UTF-8"?><RepAuxFol xmlns="www.sat.gob.mx/esquemas/ContabilidadE/1_1/AuxiliarFolios" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="www.sat.gob.mx/esquemas/Contabilidad

[2015-02-17 17:51] misaelrag commented on #111
disculpen hice los xml por otro medio, sin embargo quiero validarlos pero no logro hacerlo, tendran ustedes ejemplo del XML?, bueno solo de las declaraciones del xmsn y el xmlns:xsi?
pongo los que segun vienen en el anexo 24 modificado y me dicen que no se encuentran declarados, ojalá alguien pueda ayudarme

gracias!

[2015-02-18 00:07] el-many commented on #111
Que tal, descargue el código fuente, solo que me regresa errores al compilar con maven en línea de comandos, y en netbeans, ademas de que el archivo compilado que hay para descarga no trae los cambios realizados por camarillo, el mensaje de error es el siguiente: Exception in thread "main" java.lang.AssertionError: org.xml.sax.SAXParseException; systemId: jar:file:/C:/Users/my_lap/.m2/repository/c

[2015-02-19 17:24] el-many commented on #111
Que tal amigos, el problema es al parecer por compilar con JDK 8 en Windows 8, compilando en Win 7 con Java 7, jala bien. Ya les estaré retroalimentando mis pruebas. Saludos.

[2015-02-19 19:08] el-many commented on #111
Que tal @misaelrag pudiste resolver ese problema, tengo un problema parecido. Saludos.

[2015-02-19 22:40] el-many commented on #111
Alguien mas tuvo problemas con los namespaces?? el problema que yo tengo es que si le agrego al xml base [antes de ser sellado] el namespace "xmlns:BCE="www.sat.gob.mx/esquemas/ContabilidadE/1_1/BalanzaComprobacion",  me regresa ERROR:  'null'
ERROR MUY GRAVE:  'No se ha podido compilar la hoja de estilos'
javax.xml.transform.TransformerConfigurationException: No se ha podido compilar la hoja de e

[2015-02-24 00:05] el-many commented on #111
Que tal amigos, he estado revisando y haciendo pruebas con la librería para la contabilidad electrónica, me topé con varios errores, al parecer a mí y a @misaelrag, nos causaba el mismo error, estuve revisando otros issues, en especifico este: https://github.com/bigdata-mx/factura-electronica/issues/2 en el que @elmer-garduno comenta que modifico los xslt, y en efecto pude deshacerme del error mod

[2015-02-24 15:37] camarillo commented on #111
Hola @el-many muchas gracias por la información, voy a corregir el archivo por la tarde y lo subo para que este disponible para todos.

Una pregunta, ya pudiste realizar el sellado? Yo cuando realize las pruebas no lo pude hacer y deje comentado esa parte por que en teoria de momento no es obligatorio.

[2015-02-24 16:48] misaelrag commented on #111
buenas, estoy intentando querer validar el auxiliar de cuentas y me aparece el siguiente error
Referenced entity at "http://www.sat.gob.mx/esquemas/ContabilidadE/1_1/AuxiliarCtas/AuxiliarCtas_1_1.xsd".
TargetNamespace.1: Se esperaba el espacio de nombres 'http://www.sat.gob.mx/esquemas/ContabilidadE/1_1/AuxiliarCtas', pero el espacio de nombres de destino del documento de esquema es 'www.sat.gob.m

[2015-02-24 16:52] misaelrag commented on #111
<-AuxiliarCtas xmlns='http://www.sat.gob.mx/esquemas/ContabilidadE/1_1/AuxiliarCtas' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://www.sat.gob.mx/esquemas/ContabilidadE/1_1/AuxiliarCtas http://www.sat.gob.mx/esquemas/ContabilidadE/1_1/AuxiliarCtas/AuxiliarCtas_1_1.xsd' Version='1.1' RFC='XAXX010101000'  Mes='01' Anio='2015' TipoSolicitud='AF'>
    <-Cuenta NumCta

[2015-02-24 17:03] misaelrag commented on #111
gracias de antemano, yo ya logré realizar el sellado pero lo hice en PHP, no es complicado en ese lenguaje, la verdad desconozco en su totalidad el lenguaje en el que estan desarrollados, pero en php solo se carga lo que es el xslt y ya se encripta y sella

[2015-02-24 17:36] el-many commented on #111
que tal @camarillo , no se si era el mismo problema, pero lo que yo podía ver era que no se podía compilar las hojas de estilos 'XSLT' por problemas con los include, pues los tres XSLT hacían referencia a otro XSLT del servidor del SAT, esa parte la cambié por 'xsl:include href='/xslt/cfd/2/cadenaoriginal_2_0/utilerias.xslt' , para hacerlo de forma local; las pruebas que he realizado me han salido

[2015-02-24 17:40] misaelrag commented on #111
@el-many si, estoy con ese auxiliar, de hecho tambien se exige el auxiliar de cuentas y pasa lo mismo, los demas ya me funcionan a la perfección, muchas gracias, el principal problema que se presenta creo yo es que no se especifican bien en el SAT hahaha, seguiré buscandole, si encuentro bien la declaración. con gusto adjunto el XML, según yo y la estructura presentada en el anexo 24, "debe funcio

[2015-02-24 18:19] el-many commented on #111
que tal @camarillo estuve revisando este documento http://www.sat.gob.mx/fichas_tematicas/buzon_tributario/Paginas/contabilidad_electronica.aspx y al parecer tienes razón, el sellado no es obligatorio AÚN, a lo que si estamos obligados es a mandar la Balanza y el Catalogo de Cuentas del mes de Enero entre el 3 y el 5 de marzo, y así cada mes mandarlo los mismos días de sus segundo mes posterior ej

[2015-02-24 18:20] el-many commented on #111
perdón me equivoque en el ejemplo, para febrero sería entre el 3 y 5 de Abril. Saludos.

[2015-02-24 22:00] el-many commented on #111
@camarillo  , sigo haciendo pruebas y cuando sello, me transforma el xml base que contiene los prefijos ejemplo 'BCE:Balanza', y al sellarlo lo cambia a 'Balanza', para corregi esto modificando  directamente el XSD, en la parte donde declaramos el namespace, que si con http://, que sin http://, los del SAT, creo yo, tienen errores, entonces los modifique para agregarle el http:// a todas las URL q

[2015-02-25 00:28] camarillo commented on #111
@el-many @elmer-garduno ya realice la corrección del archivo de las pólizas del periodo. Ya lo subí. En estos días voy a hacer todo lo posible por agregar los otros dos archivos auxiliares, que aunque no son obligatorios si podrán ser requeridos.

[2015-02-27 16:07] camarillo commented on #111
Hola a todos:

El sat ya publico el validador oficial https://ceportalvalidacionprod.clouda.sat.gob.mx/

Ejecute uno de los archivos que genero con la librería, y manda un error:
[code]

[code]

Voy a revisar si el SAT cambio los XSD, para ver el por que se esta generando el error, o alguno de ustedes ubica el por que puede estar saliendo?.

Saludos.

[2015-02-27 16:25] el-many commented on #111
que tal @camarillo , son errores de errores del SAT, es bien molesto eso, por un lado chécate los PDF de referencia, y te lo marca al principio con http:// , mientras que en los XSD lo tiene sin http://, y si en la librería se lo quitas, a la hora que lo sellas te va a desaparecer el prefijo 'BCE:'. Oye una pregunta, el ejemplo que marcas, tu cuenta es '0032' subcuenta '000' y subsubcuenta '000'??

[2015-02-27 17:23] Maheshmx commented on #111
m.setProperty(Marshaller.JAXB_SCHEMA_LOCATION, "www.sat.gob.mx/esquemas/ContabilidadE/1_1/BalanzaComprobacion "
                  + "http://www.sat.gob.mx/esquemas/ContabilidadE/1_1/BalanzaComprobacion/BalanzaComprobacion_1_1.xsd");

[2015-02-27 17:48] jocebaf commented on #111
camarillo

El Documento tiene un error en la referencia del xsi:SchemaLocation

se Soluciona  copiando y pegando lo que tiene en su comentario Maheshmx
lo validas y ya no marca error

Muchas gracias Maheshmx

[2015-02-27 17:58] jandreu28 commented on #111
Alguien podría poner como queda el comentario de Maheshmx sin la propiedad m.setProperty es decir el bloque de XML.

Por favor.

Muchas gracias

[2015-02-27 18:03] jocebaf commented on #111
<?xml version="1.0" encoding="utf-8"?>
<BCE:Balanza Version="1.1" RFC="" Mes="01" Anio="2015" TipoEnvio="N"
xmlns:BCE="www.sat.gob.mx/esquemas/ContabilidadE/1_1/BalanzaComprobacion"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="www.sat.gob.mx/esquemas/ContabilidadE/1_1/BalanzaComprobacion
http://www.sat.gob.mx/esquemas/ContabilidadE/1_1/BalanzaComprobacion/BalanzaCompro

[2015-02-27 18:37] Maheshmx commented on #111
<?xml version="1.0" encoding="UTF-8"?>
<catalogocuentas:Catalogo xmlns:catalogocuentas="www.sat.gob.mx/esquemas/ContabilidadE/1_1/CatalogoCuentas" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Version="1.1" RFC="BBB010101AB1" Mes="01" Anio="2015" xsi:schemaLocation="www.sat.gob.mx/esquemas/ContabilidadE/1_1/CatalogoCuentas http://www.sat.gob.mx/esquemas/ContabilidadE/1_1/CatalogoCuentas/Ca

[2015-02-27 18:40] Maheshmx commented on #111
[code]

[2015-02-27 19:01] camarillo commented on #111
Muchas gracias @Maheshmx @jocebaf  con eso ya paso el validador. @el-many con lo que comentaron ya pasa correctamente el validador.

Ya subi los cambios!. Agregue la misma modificacion para el catalogo de cuentas contables y las polizas del periodo.

[2015-02-28 20:55] genioDominguez commented on #59
Gerardo una pregunta,

¿cómo extraes la cookie para agregarla al encabezado?

[2015-03-02 16:39] jandreu28 commented on #111
Muchas gracias  @Maheshmx @jocebaf @el-many

[2015-03-02 18:44] el-many commented on #111
muchas gracias a todos, ahora si como dicen en los noticiarios "Sin ustedes esto no sería posible" jejejejeje otra cosa, ya vieron esto:  http://www.sat.gob.mx/sala_prensa/comunicados_nacionales/Paginas/com2015_025.aspx es otra prorroga, para que no se presionen tanto si no han ajustado sus programas. Saludos.

[2015-03-03 17:59] gerardoDelarosa commented on #59
Buenas Genio

Visita este link, ya que aquí no puedo poner código.
http://www.lawebdelprogramador.com/foros/Visual-Basic.NET/1478397-Descarga-Masiva-XML-SAT.html

Saludos

[2015-03-03 18:48] genioDominguez commented on #59
Gracias Gerardo !!!!

muy buen aporte te comparto mi aplicación como quedo por si le quieres echar un vistazo

http://erpdoz.com/herramientas/descarga-masiva-de-xml-del-sat/

Saludos

[2015-03-03 18:53] marcoovalle commented on #59
Gracias genioDominguez... perooooo.... sería bueno si también compartieras el código; y si es en C#, mucho mejor.

Saludos.

[2015-03-03 20:00] gerardoDelarosa commented on #59
hola marco

Visita el link que poste

http://www.lawebdelprogramador.com/foros/Visual-Basic.NET/1478397-Descarga-Masiva-XML-SAT.html

 y veras que tambien alguien compartio primero en C# de ahi fue como se paso a VB.

Ahora el problema es que solo te permite descargar hasta 500 si son mas tienes que hacerlo por bloques, pero si se puede ya que por ahi alguien comenta que puede bajar mas de 500, so

[2015-03-03 20:08] gerardoDelarosa commented on #59
hola genio

Trate de descargar tu aplicacion, pero no funciona la descarga se rompe al momento de iniciar, enviamela por correo para revisarla y comentame si pudiste bajar mas de 500

Saludos GRC

[2015-03-03 21:14] genioDominguez commented on #59
en la noche lo subo a mi git

[2015-03-04 19:43] Maheshmx opened #119 "Retencion Pago"

[2015-03-05 17:26] gerardoDelarosa commented on #59
Buenas a todos

Alguien ya puede bajar mas de 500 comprobantes en una sola descarga

Por favor compartan

[2015-03-05 22:02] Jerohan commented on #59
Buenas, hablando sobre la contabilidad Electrónica (y  cambiando un poco el tema), He publicado una aplicación ,que genera los catálogos de cuentas y balanza de comprobación desde un layout de excel,
esto lo publico para los que les interese ver como se generan los xml ,estructura y namespaces, que actualmente esta aceptando el validador del sat https://ceportalvalidacionprod.clouda.sat.gob.mx/

[2015-03-06 18:16] jjjimenez commented on #111
Hola! Este es mi primer comentario en este sitio. Quiero comentarles que han hecho muy buen trabajo!

Quiero preguntarles si subieron la actualizacion del jar donde viene esta clase:
mx.bigdata.sat.ce_balanza_comprobacion.schema.Balanza

Gracias y Saludos

[2015-03-06 19:15] el-many commented on #111
que tal @jjjimenez , necesitas bajar los fuentes y compilarlo, con eso obtienes todas las clases necesarias. Saludos.

[2015-03-06 21:10] jjjimenez commented on #111
Gracias @el-many! Si habia bajado los fuentes, supongo que con compilarlo te referias a generar las Clases a partir de los XSD, asi que ese fue lo que hize. Ya tengo mi proyecto completo y compilado, listo para hacer pruebas. Saludos

[2015-03-10 00:19] misaelrag commented on #111
Buenas aqui les dejo esta información les puede servir, estoy hablando de un VALIDADOR DE XMLS pertenecientes al SAT y ya se quiten dudas en cuestiones de creación de los XMLS

aqui el LINK.
https://ceportalvalidacionprod.clouda.sat.gob.mx/

si alguien tiene los Xschemas location de lo que es el auxiliar de folios.. me podrian pasar ese ejemplo? aun no alcanzo a comprender como se declaran.. es el

[2015-03-10 00:24] misaelrag commented on #111
mi xml del auxiliar de folios me marca
El Documento no posee xsi:SchemaLocation.
    Error: 'xmlns' es un token inesperado. Se esperaba un espacio en blanco. línea 1, posición 326.

[2015-03-10 02:32] Maheshmx commented on #111
[code]

[2015-03-10 02:37] Maheshmx commented on #119
[code]

[2015-03-10 15:23] misaelrag commented on #111
Validación de Documento Digital de Contabilidad Electrónica.
Nombre del Documento: PTA990212SJ3201501XF.xml
Tamaño: 676 bytes.
|PTA990212SJ3201501XF.xml|
Tiempo (HH:MM:SS.CCC):00:00:00.5078507.

    Nomenclatura del Documento: Correcta. Tipo identificado: Auxiliar Folios.
    Codificación del Documento: Válida. El Documento está expresado en UTF8.
    Correspondencia de Metadatos: Correcta.
    Cr

[2015-03-13 22:27] SAT85 commented on #111
Hola, soy nueva en esto de los xml y todo este rollo, no he entendido la parte del xslt, para que se debe obtener el xml en el formato resultante de la transformación xsl?? Gracias.

[2015-03-13 22:38] jjjimenez commented on #111
Hola,
En realidad el XML es el producto final, del API, el cual genera tu comprobante electronico: Factura, Recibo de Nomina, o en este caso el Catalogo de Cuentas, Balanza de Comprobacion, o Polizas del Periodo.
Los XSLT solo te ayudan formatear algunos valores que iran dentro del XML. 
Saludos /// Joel
      From: SAT85 <notifications@github.com>
 To: bigdata-mx/factura-electronica <factura-elec

[2015-03-17 14:52] SAT85 commented on #111
Muchas gracias por tu respuesta Joel, pero entonces... En qué momento se aplican, se supone q el xsl se aplica una vez q ya tienes el
XML, entonces tienes q volver a formar el XML con los datos resultantes del xslt??

Enviado desde mi iPhone

[2015-03-17 15:23] someMxDeveloper commented on #111
¡Qué tal @SAT85! El procesamiento del XML que genera esta biblioteca es, a groso modo y en un nivel muy básico, el siguiente:

* Se obtienen los datos necesarios para formar el XML y se "almacenan" en memoria. Estos datos van a variar dependiendo del archivo que requieras: pólizas, catálogo, auxiliares, etc.
* Con estos datos se realiza una "primera" estructura XML, misma que se valida contra los

[2015-03-18 17:27] misaelrag commented on #111
@Maheshmx  sabes algun lugar donde pueda leer para alcanzar a entender lo que es la delcaración de los schemas y xmnls a partir de la documentación.. ????
necesito hacer otro XML  (DPIVA) pero no alcanzo a entender como declararlo para poder validarlo con el validador de  Netbeans...
la estructura en general ya la tengo.. solo falta la declaración del SCHEMA, y si lo entiendo.. ya tendré la genera

[2015-03-18 17:30] misaelrag commented on #79
se supone que la documentación te la deben de dar para empezarla a desarrollar, ponte en contacto con el provedoor de servicios para que subas la documentación y ya poder ayudar

[2015-03-18 17:34] ingtemix opened #120 "Nuevas validaciones"
Hola compañeros me acabo de dar cuenta que la aplicación no valida ciertos complementos por la cadena original.

Pueden indicarme como descargar el codigo para poder colaborar con ustedes.

Saludos!!!

[2015-03-19 19:17] SoporteCORASA commented on #120
Yo ya lo implementé, el problema es que tengo una versión a la que le he metido mucha mano y por eso no le hago un push,
Segun recuerdo pondré mas o menos los pasos para que alguien lo implemente en la versión original y lo suba.
1.- Conseguir los XSD y XSLT (podemos descargar las diferentes versiones directo del SAT).
2.- Agregarlo dentro de la carpeta main/resources (de preferencia en carpetas s

[2015-03-19 22:09] JNajera commented on #59
Hola a todos, de casualidad alguien sabe de algún Web Service para obtener la razón social a partir de un RFC. Saludos JN

[2015-03-22 03:28] Maheshmx commented on #111
Hola @misaelrag no soy experto en eso perdon para responder tarde.

[2015-03-24 05:15] ingtemix commented on #120
Amigo podrías explicarme como tener un ambiente de trabajo con el codigo fuente???

En caso contrario apoyarme con estos cambios.

Saludos!!!

[2015-03-24 15:12] misaelrag commented on #111
@Maheshmx ya salio el XSD... esta aqui:
http://esquemas.clouda.sat.gob.mx/archivos/DoctosDigitales/TipoDPIVA/1/DPIVA.xsd

pero el detalle es la declaración de los xmlsn y schemas ..

teniendo eso ya netbeans hace su "función y los válida";

[2015-03-24 15:40] SoporteCORASA commented on #120
Explicar paso a paso como tener el ambiente funcional y óptimo es algo complejo pienso yo. Pero puedo darte un par de tips para facilitarte el aprendizaje.
Primero que nada te recomiendo uses Netbeans pues al parecer se creó en ese ambiente y es el mas "amigable" para usar en este proyecto. He probado con eclipse y no es tan amigable, requiere de ciertas configuraciones.
También te recomiendo apre

[2015-03-24 17:05] misaelrag commented on #111
YA LOGRÉ SACAR EL XML DEL DPIVA COMO PUEDO PEGARLES EL XML PARA QUE LO TENGAN DE EJEMPLO?

[2015-03-24 17:05] misaelrag commented on #111
<?xml version="1.0" encoding="UTF-8"?>
<DD:DoctoDigital xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:DD="http://esquemas.clouda.sat.gob.mx/archivos/DoctosDigitales/1"
                 xmlns:DPIVA="http://esquemas.clouda.sat.gob.mx/archivos/DoctosDigitales/TipoDPIVA/1"  xsi:schemaLocation="http://esquemas.clouda.sat.gob.mx/archivos/DoctosDigitales/1 http://esquemas.clouda.sat.gob.mx/

[2015-03-24 22:40] ingtemix commented on #120
Hola amigo si uso Java pero en especial nunca he usado Git por eso la pregunta para obtener el codigo y de ahí empezarlo a modificar.

Uso Netbeans tratare de armar mi ambiente de pruebas cualquier cosa me puedo apoyar contigo??

Saludos!!!

[2015-03-24 23:09] SoporteCORASA commented on #120
De Git no ocupas saber la gran cosa, en internet veras muchos tutoriales de "primeros pasos con git" y cosas así.
Claro, cualquier duda puedes consultarme, aunque te comento, no se mucho de Git, solo lo básico, pero te apoyo en lo que pueda.
A la hora de realizar el push me imagino que alguien podra apoyarnos, ya que como te comento, solo he trabajado con repositorios locales.
Saludos.

[2015-03-24 23:59] ingtemix commented on #120
Listo Amigo ya pude clonar el codigo solo estoy revisando algunos problemas con algunas referencias.

Cualquier duda te pregunto.

Puedes darme tu correo electronico.

Saludos!!!

[2015-03-25 15:18] someMxDeveloper commented on #111
¡Buen día gente! ¿Alguno de ustedes ha intentado validar un XML sellado? Recién esta mañana yo lo quize pasar por el validador pero me dio este error

![error_xml](https://cloud.githubusercontent.com/assets/10078689/6827768/19f06486-d2cf-11e4-80db-9b043f5ed4d0.png)

y como siempre el SAT no me da un mensaje más detallado para saber por donde atacar el problema. No creo que sea algo exclusivo de es

[2015-03-25 17:39] ingtemix commented on #120
Amigo carga el código en Netbeans y me marca 2 errores con problemas de Referencia podrías apoyarme con dichos detalles???

Saludos!!!

[2015-03-25 18:31] SoporteCORASA commented on #120
Podrías colocar los errores mas especificamente?
Te los lanza en consola?
Saludos.

[2015-03-25 18:33] ingtemix commented on #120
Me los lanza en esta clase en especifico

public class PrivateKeyLoader implements KeyLoader {

    @Getter
    PrivateKey key;

    public PrivateKeyLoader(String privateKeyLocation, String keyPassword) {
        this.setPrivateKey(privateKeyLocation, keyPassword);
    }

    public PrivateKeyLoader(InputStream privateKeyInputStream, String keyPassword) {
        this.setPrivateKey(privateKeyInpu

[2015-03-25 19:13] SoporteCORASA commented on #120
Según recuerdo eso es de la librería lombok,
Tienes conocimeintos de Maven?
Agrega la dependencia:
org.projectlombok
lombok
1.14.8
y Dale "Build with dependencies".
Me avisas en que resultó.

[2015-03-25 19:27] ahilariom opened #121 "Transferencia de bancos extranjeros"
Buenas tardes
Tengo un Issue, tengo pagos a proveedores que hago desde una cuenta de un banco extranjero, el xml me viene como sigue:

<pol:Transferencia CtaOri="36843747" BancoOriExt="CITIBANK" CtaDest="002320404090011590" BancoDestNal="002" Fecha="2014-12-02" Benef="DCF MEXICANA, S.A. DE C.V.." RFC="DME070926GE4" Monto="14413.75" Moneda="USD" TipCamb="13.9" />

pero el validador del SAT, pone el

[2015-03-25 22:11] ingtemix commented on #120
Tengo poco conocimiento de Maven, pero por lo que pude ver es que esa referencia ya se encuentra en el archivo pom.xml

Lo hago pero me sigue mandando el mismo error.

Saludos!!!

[2015-03-25 22:42] SoporteCORASA commented on #120
Aun dándole "Build with Dependencies" ?

[2015-03-25 22:44] ingtemix commented on #120
Si amigo lo que hice ahorita fue colocar esto:

@Override
    public <T> T getKey() {
        return (T) this.key;
    }

Y funciona pero al realizar la validación del timbre de un xml me marca error.

Saludos!!!

[2015-03-25 22:54] SoporteCORASA commented on #121
Buenas tardes,
Por lo que comentas debes estar creando un comprobante de contabilidad electrónica.
El error pienso que es bastante claro, te está haciendo falta el atributo "BancoOriNal" es decir un valor que sea por ejemplo:
BancoOriNal="002"
Yo me estoy valiendo de otros recursos para la contabilidad electrónica por lo que no podría apoyarte directamente con la librería, pero podría ayudarte con

[2015-03-25 22:56] SoporteCORASA commented on #120
El detalle es que la librería lombok genera ciertos valores de manera dinámica, y si haces esto lo que hará será que definirás el método como fijo (un método vacio) que no te serviría para nada.
Te recomiendo eliminar del POM la librería lombok que te comenté, y posteriormente la agregues por medio del "Add Dependency" de netbeans (NO directamente en el POM) para que netbeans descargue de nuevo la

[2015-03-25 23:02] SoporteCORASA commented on #120
Se me olvidaba! En su momento me topé con problemas con la versión de Java 8, te recomiendo te asegures que está usando la versión 7, y de no ser así, le asignes esa.
Saludos.

[2015-03-26 00:59] ingtemix commented on #120
Amigo lo tengo con Java 7, oyes una pregunta al verificar el tfd me marca un error cosa que no tenia en la versión 2.3

Saludos!!!

[2015-03-26 01:00] SoporteCORASA commented on #120
Que te marca de error?
Intentaste lo del archivo POM que te comenté atras?

[2015-03-26 01:12] ingtemix commented on #120
Si man y no funcion. Por otro lado realice una correccion a la clase TFD1c32.

package mx.bigdata.sat.cfdi;

import java.io.ByteArrayOutputStream;
import java.io.OutputStream;
import java.math.BigInteger;
import java.security.PrivateKey;
import java.security.Signature;
import java.security.cert.X509Certificate;
import java.util.Date;
import java.util.Iterator;
import java.util.List;
import java.ut

[2015-03-26 15:09] SoporteCORASA commented on #120
Podrías preguntar a los dueños del repositorio como realizar el push y así actualizar la libreria.

[2015-03-26 16:52] ingtemix commented on #120
Amigo efectivamente el día de ayer estuve realizando pruebas del metodo verificar y si funciono así tambien ya agregue los nuevos complementos con las indicaciones que me diste y funciono a la perfección amigo.

Muchas gracias.
Saludos!!!

[2015-03-29 06:48] jakoujan opened #122 "Nuevo en esto"
Hola Amigos soy nuevo y estoy tratando de implementar esta libreria en un sistema hecho a medida, lo que no tengo conocimiento es a cerca de los PAC's o cual es el proceso inicial ya que no comprendo como es el proceso de timbrado del CFDI y si se genera o como se guarda en su caso?

Gracias por su apoyo.

[2015-03-31 18:29] jjjimenez commented on #111
Hola,

Estan SELLANDO los XMLs?

Tienen actualizaciones pendientes por subir al repositorio?

Estoy tratando de sellar el Catalogo de Cuentas, y obtengo este error

ERROR:  'Could not compile stylesheet'
FATAL ERROR:  'java.net.MalformedURLException'
           :null
javax.xml.transform.TransformerConfigurationException: java.net.MalformedURLException
	at com.sun.org.apache.xalan.internal.xsltc.tr

[2015-04-01 22:55] SAT85 commented on #111
Hola Joel, nuevamente muchas gracias por tu respuesta, ya me quedó mucho más claro el proceso, ya pude obtener los xml y medio hacer la transformación para obtener la cadena original, pero estoy hasta este punto debido a que no se eliminan los espacios en blanco, es necesario hacer algún cambio a los xslt de cada tipo de archivo a al xslt de utilerías???

[2015-04-06 23:45] icebergdelphi opened #123 "Libreria esta actualizada"
Hola buenos dias, quisiera saber si la libreria esta actualizada a las normas que ha publicado a la fecha el SAT, soy nuevo a la cuestion de las actualizaciones del SAT, muchas gracias.

[2015-04-06 23:46] Erilas opened #124 "Cambio de Longitud en Certificados del SAT"
Hola

Se dice que el próximo 2 de mayo del 2015 se realizara una modificación en los certificados del SAT, en donde ahora usaran certificados con longitud de 2048 bytes (en lugar de los actuales que son de 1024 bytes), así como el algoritmo de encriptacion pasa de SHA1 a SHA256.

¿Es necesario realizar alguna modificación en cuanto a llamado de funciones actuales?

[2015-04-07 19:00] jjjimenez commented on #111
Hola SAT85, En ese punto de los espacios en blanco, yo los reemplazo previamente (antes de generar la cadena origianl), es decir hago un replaceAll() de caracteres como '\n', '\t', o "  " (espacio doble) por 1 solo espacio, ademas de un trim().

[2015-04-08 17:35] SAT85 commented on #111
Hola, @someMxDeveloper, gracias por tu explicación general del proceso, pude entender perfecto los de los xslt, ya por fin tengo las cadenas originales, ahora estoy en el punto de los sellos. Podrías explicarme por favor de manera técnica y paso por paso, cómo realizar el proceso? Estuve leyendo la documentación y me quede en que necesito 3 elementos:
1. La cadena original transformada (Ya la teng

[2015-04-15 18:22] SAT85 commented on #111
Hola,

Alguien que por favor pueda ayudarme con la explicación para sellar los archivos?? Muchas gracias!

[2015-04-15 18:28] mauriciobaeza commented on #111
El proceso es el mismo para todos los CFDI, NO importa su finalidad, primero domina el proceso: https://github.com/mauriciobaeza/cfdi-test/wiki/Generando-sello

después solo aplicalo al tipo de CFDI que quieres sellar.

[2015-04-15 18:33] jjjimenez commented on #111
Hola,

Yo no he podido sellar mis archivos, me sale la Excepcion que mencione en mi mensaje anterior:
<code>
ERROR: 'Could not compile stylesheet'
</code>
<code>
FATAL ERROR: 'java.net.MalformedURLException'
:null
javax.xml.transform.TransformerConfigurationException: java.net.MalformedURLException
</code>
<code>
at com.sun.org.apache.xalan.internal.xsltc.trax.TransformerFactoryImpl.newTemplates(T

[2015-04-24 15:49] RodolfoReyes commented on #59
Que tal.

Por si a alguien le interesa , encontré en internet una librería que permite integrar a tu desarrollo la descarga masiva, directamente de los servidores del SAT, de los comprobantes que emites o recibes, funciona para diferentes lenguajes de programación, http://www.facturando.mx/productos/libreria-descargar-cfdi-sat/ espero les sirva, es fácil de integrar y funciona sin problema.

Con e

[2015-04-24 16:47] marcoovalle commented on #59
RodolfoReyes, muchas gracias... Descargando...
:)

[2015-04-24 20:33] mauriciobaeza commented on #59
Los invitamos mejor a unirse al desarrollo de la nuestra, que es software libre: https://github.com/LinuxCabal/admin-cfdi

Saludos

[2015-04-29 01:15] ouisho commented on #59
Muchas gracias, ya pude hacer la implementación en C#, no sabia que el valor expresionimpresa era el contenido del código de barras del CFDI.

[2015-05-07 23:11] spawnbart commented on #16
Alguien ya pudo consumir correctamente el servicio de cancelación del SAT? https://cancelacion.facturaelectronica.sat.gob.mx/Cancelacion/CancelaCFDService.svc

[2015-05-07 23:15] spawnbart opened #125 "Servicio Cancelación del SAT"
Alguien ha podido implementar el servicio de cancelación del SAT?
https://cancelacion.facturaelectronica.sat.gob.mx/Cancelacion/CancelaCFDService.svc

sobre el llenado del objeto "SignatureType"

[2015-05-09 23:57] MiriamChvz commented on #111
Buenas tardes, estoy intentando generar un XML sin el sello, pero me marca el siguiente error
<code>java.lang.ClassNotFoundException: com.sun.xml.bind.marshaller.NamespacePrefixMapper</code>
¿Me podrían orientar?, sólo bajé el código, lo compilé como dice en las instrucciones, generé el jar, pero el código me marca error en dos clases, como les muestro en la imagen.
![untitled](https://cloud.githu

[2015-06-09 20:47] eaavendanop commented on #111
Hey @someMxDeveloper ¿me podrías enviar la ultima versión de la librería?

[2015-06-09 20:48] mauriciobaeza commented on #111
@eaavendanop compañero, ¿para que cree que esta Github?

[2015-06-09 20:52] eaavendanop commented on #111
@mauriciobaeza ya bajé el fuente, pero me marca el siguiente error al tratar de generar el sellado de la balanza:
<code>java.lang.ClassNotFoundException: com.sun.xml.bind.marshaller.NamespacePrefixMapper</code>

Y no tengo idea cual podría ser el problema.

[2015-06-09 20:58] mauriciobaeza commented on #111
@eaavendanop abre un nuevo issue, detalla el problema para que un compañero pueda revisarlo...

[2015-06-10 02:52] MiriamChvz opened #126 "Error al compilar el código fuente en Eclipse"
Estoy intentando compilar el código en eclipse, seguí las instrucciones para hacerlo:
<code>Para agregar el código a Eclipse es necesario instalar el plugin m2eclipse e importar el proyecto utilizando el menú: File > Import > Maven > Existing Maven Projects. Finalmente sobre el proyecto de ecplise Maven > Update Project Configuration para generar los esquemas y actualizar la configuración del proy

[2015-06-10 18:32] MiriamChvz commented on #111
Buenas tardes:

Alguien tiene una clase TEST para la contabilidad electrónica, que me pueda proporcionar?

Muchas gracias,

[2015-06-16 16:11] IvanRedOmen commented on #59
Que tal, una duda, saben cuales son los web services que permitan descargar los XML's del contribuyente y que datos requiere para hacerlo?? y aparte si pueden generar el PDF del CFDI?

[2015-06-19 01:08] mega82es commented on #124
Hola,
Por lo que entiendo si es necesario realizar cambios, podria funcionar cambiando en CFDV32.java la linea:
Signature sig = Signature.getInstance("SHA1withRSA");
por
Signature sig = Signature.getInstance("SHA256withRSA");

Este cambio se debera aplicar en todos los archivos que se realice el sellado.

Lo mejor seria que se pudieran utilizar ambos tipos de certificados, ya que los generados des

[2015-06-19 15:55] Erilas commented on #124
De hecho propuse cambiar esa parte por lo siguiente:

Signature sig = Signature.getInstance(cert.getSigAlgName());

La propiedad "getSigAlgName" regresa el tipo de codificación del certificado usado, así seria mas dinámico el proceso, según el certificado que se use se aplica un tipo de codificación correspondiente; lo e probado en mi proyecto y funciona sin problemas.

Saludos

[2015-06-19 19:34] elmer-garduno commented on #124
Gracias, puedes mandar un pull resquest con ti cambio para que lo integre

Gracias

On Fri, Jun 19, 2015, 8:55 AM Erilas <notifications@github.com> wrote:

[2015-06-24 21:19] mariana-madrigal commented on #59
Preguntas: ¿cuánto demoran los CFD.txt t FoliosCFD.txt en descargar? Además, alguna idea de porque algunas veces me accesa al FTP sin problemas y otras me envia el error 505?

ftp://ftp2.sat.gob.mx/agti_ftp/cfds_ftp/CSD.txt
ftp://ftp2.sat.gob.mx/agti_ftp/cfds_ftp/FoliosCFD.txt
ftp://ftp2.sat.gob.mx/agti_servicio_ftp/verifica_comprobante_ftp/CSD.txt
ftp://ftp2.sat.gob.mx/agti_servicio_ftp/verifica_

[2015-06-25 23:21] mega82es commented on #124
Aplique un par de cambios pero al timbrar el PAC responde con error Sello Mal Formado o invalido...

Erilas,
ademas de cambiar el algoritmo en el certificado (por SHA256withRSA) ¿Hay que cambiar algo tambien en el archivo KEY?

Una vez que pase estas pruebas, con gusto hago el pull request, elmer-garduno seguramente te molestare para preguntar la forma correcta de hacerlo.

Saludos y Gracias

[2015-06-25 23:42] Erilas commented on #124
Ya había mandado del request, igual así me funciono:

package mx.bigdata.sat.cfdi;

import com.google.common.base.Joiner;
import com.google.common.collect.ImmutableMap;
import com.google.common.collect.Lists;
import com.google.common.collect.Maps;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.InputStream;
import java.io.OutputStream;
import java.io.Print

[2015-06-26 00:13] gerardoDelarosa commented on #59
Que tal Rodolfo Reyes

Quien te garantiza que esa libreria no tomara tus datos para hacer mal uso (si ingresas con tu fiel o con tu CIEC)

Coincido con Mauricio Baeza es mejor integrarte a un proyecto y tener tu la certeza de que no te robaran nada.

IvanRedOmen
No se de algun webservice que te permita descargar las XML de los CFDI's, por eso se estan haciendo varios proyectos dentro de la red par

[2015-06-26 02:15] SoporteCORASA commented on #126
Recuerdo que hace tiempo traté de llevarme el código a Eclipse, despues de estar como una semana configurando mil y un cosas para poder que funcionara, opté mejor por regresar el proyecto a Netbeans donde me imagino se creó y opera sin problemas al 100%.
Mi recomendación personal sería que mantuvieras el proyecto en Netbeans, y si usas Eclipse para el resto de tu trabajo, manten este proyecto en e

[2015-06-26 15:13] mega82es commented on #124
Gracias Erilas, probare con estos cambios.
Ademas de CFDv32, tambien hay que hacer cambios en la clase PrivateKeyLoader ?

[2015-06-26 16:20] Erilas commented on #124
Si, de hecho cambie el procedimiento para que solicitara el .cer, pero podría solo solicitar el método de encriptacion; tambien realize cambios menores en un texto de schemaLocation pero esos son cambios por otra situación diferente.

Saludos!

[2015-06-26 17:26] mega82es commented on #124
Regrese el archivo CFDv32.java tal como esta en la version cfdi-base-0.2.5, aunque el certificado es de 2048 bits, el firmado se sigue realizando con SHA1, timbro sin problemas.

En este link se menciona el tema:
http://www.validacfd.com/phpbb3/viewtopic.php?f=16&t=5542&start=10

Saludos!

[2015-06-30 21:01] MiriamChvz commented on #111
Buenas tardes a todos:

Disculpen, quiero preguntarles si alguno de ustedes ha sellado sus XML's y éstos pasan correctamente la validación en la página del SAT.

En mi caso me marca el siguiente error:

 'Criptografía del Sello SAT: Error. El Sello SAT no tiene la estructura esperada'

Pero después me dice que el Sello SAT es válido.

![errorsat](https://cloud.githubusercontent.com/assets/12069717

[2015-06-30 21:48] MiriamChvz commented on #126
Muchas gracias por tu respuesta, opte por compilarlo en Netbeans y ahí no tuve problemas. Ya tengo el código sin errores.

Gracias!!!

[2015-07-02 22:51] ivancito87 commented on #111
HOLA UNA PREGUNTA ALGUIEN SABE LA LIGA DEL DOCUMENTO  DPIVA PERO EL ARCHIVO CON EXTESIÓN XSLT, muchas gracias !!!

[2015-07-02 22:58] ivancito87 commented on #111
en cu caso MiriamChvz tu documento xml no tiene el encoding UTF8 por que te surge ese error , esto es un formato especifico, unicamente antes de firmar  tienes que tener tu xml en encoding utf8 y con eso

[2015-07-14 20:00] cristimayo commented on #119
hola, no sabes si la libreria ya cuenta con la parte de la constacia de retenciones electronica?

[2015-07-20 18:30] ingtemix commented on #120
Hola Amigo buen dia,

Fijate que estoy realizando una validación de sello y veo que al generar la cadena original si tengo un dato como .91 me lo convierte a 0.91 lo que me hace tener inválido el sello.

Tendrás algún comentario al respecto.

[2015-07-27 22:41] SoporteCORASA commented on #120
Claro que si, ya que yo tambien utilicé esta libreria para hacer un validador, tengo bastantes cambios que le hice pero ya que tiene mucha mano mía, no quise darles el push pero dejame busco esa parte del código.

[2015-07-27 22:43] SoporteCORASA commented on #120
Tienes que modificar tu método de GetOriginalBytes, y enviarle un inputstream para que lea el archivo exactamente como es y no lo convierta como me comentas, el método que debes colocar es este.

    byte[] getOriginalBytes(InputStream in) throws Exception{
        ByteArrayOutputStream baos = new ByteArrayOutputStream();
        try {
            Source source = new StreamSource(in);

[2015-07-28 17:26] kochas40 commented on #59
Buenas tardes a todos.
He podido llamar al web service alojado en https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc?wsdl

Alguien sabe como puedo saber la fecha en que fue cancelado un CFDI?

De antemano muchas gracias.

Saludos

[2015-07-29 10:49] mariana-madrigal commented on #59
Buen día a todos,

La fecha de cancelación la puedes obtener cuando realizas la validación.

Saludos,

Date: Tue, 28 Jul 2015 10:26:51 -0700
From: notifications@github.com
To: factura-electronica@noreply.github.com
CC: mariana_madrigal@hotmail.com
Subject: Re: [factura-electronica] Validar que el CFDi ha sido entregado a SAT. (#59)

Buenas tardes a todos.

He podido llamar al web service alojado e

[2015-07-29 17:01] ingtemix commented on #120
Hola Amigo buen día,

Ya detecte el problema y veía que radicaba que en source mandaban la clase comprobante y por ende el .91 lo convertía a BigDecimal. Eres muy acertado en tus comentarios ya pude resolver el detalle.

Saludos!!!

[2015-07-29 17:12] SoporteCORASA commented on #120
Lo que se te ofrezca, saludos

[2015-07-30 15:40] ingtemix commented on #120
Hola Amigo,

Una pregunta esta librería puede ayudarme a realizar la firma para la cancelación de documentos.

Quedo a espera de tus comentarios.
Saludos!!!

[2015-07-30 16:35] SoporteCORASA commented on #120
Pues cancelación de que manera? No creo que esta librería tenga de manera nativa la cancelación pues los PAC's manejan diferentes métodos y servicio,  hasta donde tengo entendido no hay uno "genérico" para cancelar en el SAT por medio de un WebService.

[2015-07-30 17:10] ingtemix commented on #120
Hola amigo lo que tengo que hacer es firmar la cancelación a traves del .key y .cer.

Ya lo pude realizar pero obtengo espacios entre el sello esto es correcto.

<X509Certificate>
MIIEgzCCA2ugAwIBAgIUMDAwMDEwMDAwMDAyMDA1NzYxMjcwDQYJKoZIhvcNAQEFBQAwggGVMTgw NgYDVQQDDC9BLkMuIGRlbCBTZXJ2aWNpbyBkZSBBZG1pbmlzdHJhY2nDs24gVHJpYnV0YXJpYTEv MC0GA1UECgwmU2VydmljaW8gZGUgQWRtaW5pc3RyYWNpw7NuIFRyaWJ1dGFyaWExOD

[2015-07-30 22:42] SoporteCORASA commented on #120
Probablemente esto se deba a un error en la codificación, quizá podría apoyarte un poco más si me indicaras el método o librería que utilizas y exactamente que es lo que estas enviando.
Saludos.

[2015-08-13 14:55] GerardoGarciaR commented on #59
Una pregunta, disculpen mi grado de novatez, ¿Como ejecuto el script de Python ejemplo.py  en Mac?

Ya instalé Python para Mac desde la página oficial, supuse que se ejecutaría como un script SH en Terminal, asi:

sh ejemplo.py

Pero creo que no va asi.

Saludos

[2015-08-13 15:01] mauriciobaeza commented on #59
Todo script python se ejecuta:

python script.py

o si es python3, en algunos sistemas ya es el predeterminado

python3 script.py

o, si esta bien configurado y tiene permisos de ejecución

./script.py

pero... yo no veo el archivo que mencionas...

Saludos

[2015-08-13 15:08] amartin3z commented on #59
Amigo @GerardoGarciaR checa la codificacion de tu archivo, intenta establecer la misma en tu script, en la cabecera o primera linea del codigo # *- encoding: utf-8 -*

[2015-08-13 15:14] GerardoGarciaR commented on #59
Gracias @amartin3z, he modificado mi archivo, quedando asi de este modo:

# - encoding: utf-8 -
#!/usr/bin/env python

import base64 from suds.client import Client url = 'https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc?wsdl' client = Client(url)
print client.service.Consulta(""""?re=BEN9501023I0&rr=SARM8209281F1&tt=440.000000&id=EC609EC1-5F63-4333-A2B8-2EDC10B68075""")

Lo

[2015-08-13 15:16] amartin3z commented on #59
@GerardoGarciaR tienes comillas dobles de mas amigo en tu script, en el metodo que llama al webservice.

[2015-08-13 15:18] mauriciobaeza commented on #59
Que yo sepa suds no tiene soporte para Python3, usa request como lo hacemos aquí: https://github.com/LinuxCabal/admin-cfdi/blob/develop/admincfdi/pyutil.py#L72

[2015-08-13 15:19] GerardoGarciaR commented on #59
Le quité las comillas, dejandolo así:  print client.service.Consulta("?re=BEN9501023I0&rr=SARM8209281F1&tt=440.000000&id=EC609EC1-5F63-4333-A2B8-2EDC10B68075")  y aun asi me da "sintaxis invalida"

[2015-08-13 15:31] amartin3z commented on #59
Checa tu codigo amigo @GerardoGarciaR reescribiendolo, o bien prueba con el de @mauriciobaeza

[2015-08-28 17:03] mariana1785 commented on #111
Hoal a todos!!
Muchas gracias con la ayuda!!
Hace un rato genere una balanza complementaria pero tuve problemas con el formato de la fecha del campo FechaModBal..hable al SAT y no supieron darme una respuesta..... y en este página encontre el formato correcto.

Muchas Gracias!!!

[2015-09-03 22:14] mariana1785 commented on #111
Hola, buena tarde.

Espero que alguien pueda leer este mensaje, de pura casualidad tienen un ejemplo del archivo de Polizas en XML? ya que estoy siguiendo el anexo 24 pero hay cosas que no me hacen sentido.. y cuando intento validarlas atraves del validador del SAT me arroja errores.

[2015-09-17 16:44] hortegaga91 opened #127 "Como es el proceso de actualización?"
Buen día,
Quisiera compartirles un par de cambios que le he hecho a la librería para mejorarla, así como agregarle todos los complementos definidos por el SAT a la hora de la validación.
Si alguien supiera que pasos hay que seguir se lo agradecería.
Saludos

[2015-09-17 23:32] elmer-garduno commented on #127
Gracias Heriberto los pasos que tienes que hacer son.

Crear un pull resquest con tus cambios

https://help.github.com/articles/using-pull-requests/

Con eso se pueden incorporar los cambios y hacer un release.

Gracias!

On Thu, Sep 17, 2015, 9:44 AM Heriberto Ortega Gonzalez <
notifications@github.com> wrote:

[2015-09-18 16:01] hortegaga91 commented on #127
elmer, en teoría ya hice el request, te pido me confirmes si te llegó.
Saludos.

[2015-10-06 17:22] ingtemix commented on #127
Hola amigo una pregunta dentro del Commit se resolvieron algunos temas para realizar las validaciones del Sello y agregaste los 4 nuevos complementos ???

Saludos!!!

[2015-10-06 17:32] hortegag91 commented on #127
Asi es, en ciertas ocasiones cuando el XML tenia un valor por ejemplo "12.300000", el sistema intentaba leerlo solamente como "12.30" ya que al ser sellado se selló con el valor "12.300000" marcaba sellado inválido (cuando en realidad si era válido), con este cambio ya lee exactamente el contenido del XML, a demás de como comentas, agregar ciertos complementos nuevo.
PD. No quité el método anterio

[2015-10-06 18:20] ingtemix commented on #127
Excelente hay que descargarlo para probarlos ya que yo había hecho cambios y no había podido actualizar la libreria. Ya has trabajado sobre la validación de constancias de retenciones???

Los complementos nuevos son estos es correcto?
Servicios parciales de construcción.
Renovación y sustitución de vehículos
Certificado de destrucción
Obras de arte plásticas y antigüedades

Saludos!!!

[2015-10-06 18:30] hortegag91 commented on #127
Así es,
Los cambios de la validación están ya probados en mi equipo, pero sería perfecto si alguien más pudiera probarlos.
Por otro lado, los complementos nuevos fueron esos, y agregue versiones antiguas de otros complementos de 2.0, 2.2, y 3.0
Principalmente yo uso esta librería para validar los comprobantes recibidos, y al recibir CFDi's de todo tipo de proveedores requerí un cambio como ese de

[2015-10-06 18:39] elmer-garduno commented on #127
Hola, vi que algunos de los cambios tenían errores de travis en el pull
request le puedes echar un ojo?

Gracias

On Tue, Oct 6, 2015, 11:30 Heriberto Ortega Gonzalez <
notifications@github.com> wrote:

[2015-10-06 18:41] hortegag91 commented on #127
Seguro, estaba tan confiado que ya lo había corrido en mi equipo que olvidé revisarlo.
Disculpa, ahora mismo lo reviso.
Saludos.

[2015-10-06 18:53] hortegag91 commented on #127
Disculpa, ya lo revisé, y me marca el error al cargar los esquemas de la librería.
Los cambios que creo pudieron haber afectado es que cambié la versión de la dependencia lombok a una más actual.
La otra es que yo tenia codificación UTF-8 en mi equipo pero veo que en la librería la manejan como latin1.
Cres que alguno de estos casos pudiera ser el problema? o no tienen nada que ver?
Estoy un poco

[2015-10-06 23:42] papipiss commented on #59
les comparto un post donde podran validar si el CSD con el que intentan sellar esta vigente ante el SAT, espero sea de su ayuda
http://voleos.com.mx/web-service-consulta-estado-actual-del-csd-con-php/

[2015-10-26 16:58] reyesazael12 opened #130 "mx.bigdata.sat.cfdi.v32 no existe"
Saludos acabo de descargar el codigo quiero compilar pero me indica que el paquete mx.bigdata.sat.cfdi.v32 no existe y fisicamente lo comprobe, incluso en la pagina principal no aparecen.
Alguien me puede apoyar, gracias de antemano.

[2015-10-31 00:32] reyesazael12 commented on #130
El paquete mx.bigdata.sat.cfdi.schema tampoco existe.
Lo que pasa es que me gustaria contribuir con el proyecto estoy intentando comprender el codigo pero como esta incompleto no havanzo mucho.

[2015-10-31 21:20] elmer-garduno commented on #130
Hola, el código que no está se genera automáticamente corriendo uno de los
objetivos de maven, en la ayuda hay instrucciones de como generarlo en
eclipse y NetBeans. Dime si esta información es suficiente

On Fri, Oct 30, 2015, 17:32 reyesazael12 <notifications@github.com> wrote:

[2015-11-04 19:27] kochas40 commented on #59
Buenas tardes a Todos.

Al consumir el web service alojado en https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc?wsdl , en algunas ocasiones no me responde y mi sistema se queda esperando una respuesta, pero esta nunca llega.

Como puedo asignar un tiempo de espera?

Mi implementacion es en Java, el codigo es el siguinte:
//
//Aqui mando llamar el metodo
Acuse ac = consulta(e

[2015-11-04 19:37] voldemortkein opened #131 "Como validar el estatus de un XML?"
Esta libreria también me sirve para verificar mis XML CFDis para ver si están cancelados o vigentes?
y como lo usarìa?

Saludos

[2015-11-08 15:49] itzamnamx opened #132 "Soporte Java 8"
Hola,

Tengo un sistema Linux, (donde desarrollo) con JDK Oracle 8. Sin embargo marca distintos mensajes. Principalmente con el tema de carga de las llaves publicas y privadas, trabajare con estos issues y regreso para comentarles la solución.

Si han tenido alguna experiencia al respecto y que pueda ahorrar tiempo les agradecería.

victor@centauro:~/git/nibble/factura-electronica$ java -version
j

[2015-11-08 16:17] itzamnamx commented on #132
Ampliando el detalle, tiene que ver con las clses PrivateKeyLoader y PublicKeyLoader

[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /home/victor/git/nibble/factura-electronica/src/main/java/mx/bigdata/sat/security/PublicKeyLoader.java:[18,8] mx.bigdata.sat.security.PublicKeyLoader is not abstract and does not override abstract method <T>ge

[2015-11-14 01:01] MartinOrtegaCardena commented on #89
Buenas tardes, espero alguien pueda ayudarme con mi CFDI.

Cuando anexo un namespace cfd.addNamespace("http://www.sat.gob.mx/cfd/implocal", "implocal");
se incluye con ns2 en lugar de implocal, asi como en los tags </ns2:ImpuestosLocales>

Todo lo demás funciona bien, gracias de antemano.

[2015-11-14 20:51] mauriciobaeza commented on #89
Tienes que registrar el namespace para que lo reconozco, desconozco como se hace en java, te lo dejo en Python por si puedes adaptarlo.

    from xml.etree import ElementTree as ET

    xml = ET.parse(path)
    ET.register_namespace("cfdi","http://www.sat.gob.mx/cfd/3")
    ET.register_namespace("tfd","http://www.sat.gob.mx/TimbreFiscalDigital")

Saludos

[2015-11-15 00:46] MartinOrtegaCardena commented on #89
Ok voy a investigar como registrarlo, lo extraño es que si lo hace bien para otros namespaces'S, muchas gracias.

[2015-11-15 04:33] MartinOrtegaCardena commented on #89
Ya quedó resuelto, ahora cuando paso por el validador del SAT el XML dice que todo OK, pero cuando lo mando al PAC me regresa Error en esquemas XSD.

<?xml version="1.0" encoding="UTF-8"?>
<cfdi:Comprobante xmlns:cfdi="http://www.sat.gob.mx/cfd/3" xmlns:tfd="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:implocal="http://www.sat.gob.mx/implocal" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instan

[2015-11-15 04:34] MartinOrtegaCardena commented on #89
Ya quedó resuelto, ahora cuando paso por el validador del SAT el XML dice que todo OK, pero cuando lo mando al PAC me regresa Error en esquemas XSD.

[2015-11-16 18:00] MartinOrtegaCardena commented on #103
Hola espero puedan ayudarme.

En mi XML todo esta correcto el Validador del sat me dice que todo está OK.
Pero al mandarlo a timbrar el PAC me devuelve "Error en esquemas XSD".

[2015-11-18 18:39] ingtemix opened #133 "Version 3.3 Facturación"
Hola buen dia chicos,

Les comento que el SAT ya esta preparando la versión de facturación 3.3 la cual entrará en vigor a partir de Julio 2016 por favor informarme con quien puedo organizarnos para realizar cambios los cuales seran fuertes agrego algunos de ejemplos:

1. La generación del sello pasan de SHA-1 a SHA-2 256
2. Los recibos de nómina pasan a ser un documento completamente nuevo.
3. Cam

[2015-11-18 19:47] Erilas commented on #133
Gracias @ingtemix , existe alguna documentación del SAT de esto? ya que si supe lo del sello pero lo de los recibos de nomina me intrigan (apenas estaba estabilizando jajajaja)

Saludos!

[2015-11-18 20:53] ingtemix commented on #133
Hola amigo buen día,

Pasame tu correo y te envío un preview de lo que sacaran.

Saludos!!!

[2015-11-18 23:14] mauriciobaeza commented on #133
y porqué no ponerlos publicos?

[2015-11-18 23:27] alamirovera commented on #133
@ingtemix porfavor si puedes envíamelo a mi también alamiro.vera@icloud.com

[2015-11-18 23:29] ingtemix commented on #133
Amigo buen día,

El motivo por el cual no los pongo público es debido a que en este foro no puedo adjuntar archivos, motivo por el cual he solicitado que quienes vayan a trabajar les mando el anexo 20.

[2015-11-18 23:52] Erilas commented on #133
Mi correo es israelromano.s@gmail.com @ingtemix
Saludos!

[2015-11-19 18:33] mauriciobaeza commented on #133
tantas formas que hay de poner algo público, en fin...

[2015-11-19 22:49] ingtemix commented on #133
Hola Mauricio buen día,

Tomar en cuenta que estos cambios son legales y la idea no es sacarlo al público en general debido al motivo de confidencialidad motivo por el cual confío en el uso del grupo de personas que trabajamos sobre esta libreria de igual forma no veo el problema de enviarme tu mail y compartirlo con quienes deseen trabajar en el proyecto.

[2015-11-19 22:57] jjjimenez commented on #133
Hola por favor comparteme la informacion. Mi correo: jjjimenez@yahoo.com
Saludos /// Joel ---Jaime Joel Jiménez Sánchez Oficina
+52 (871) 690 3232

      From: ingtemix <notifications@github.com>
 To: bigdata-mx/factura-electronica <factura-electronica@noreply.github.com>
 Sent: Thursday, November 19, 2015 4:49 PM
 Subject: Re: [factura-electronica] Version 3.3 Facturación (#133)

Hola Mauricio bu

[2015-11-23 03:36] voldemortkein commented on #59
Hola Gerardo de la Rosa, veo que obtienes las propiedades del elemento "onclick" de la imagen del botón de descarga de cada cfdi para hacer la descarga masiva.

tu utilizas VB.net con la clase HTMLElement Collection.  pero yo estoy usando javascript. porque veo que javascript también tiene clases para obtener elementos del código web.

cuando busco por clase así: window.status= document.getElement

[2015-11-23 06:07] voldemortkein commented on #59
Y en javascript cuando ejecuto lo siguiente: window.status= document.images[3].src;

Obtengo el logotipo del mundo de descarga del cfdi.

[2015-11-23 16:26] voldemortkein commented on #59
Ya tengo los enlaces de descarga de todos los CFDis, con javascript, capture todo el código fuente de la pagina y luego lo analiza con código y reemplacé la parte donde dice "Return Accion CFDI por:  ttps://portalcfdi.facturaelectronica.sat.gob.mx/"  y así obtengo las ligas completas para descargar cada cfdi.

Pero tengo un problema, cuando yo pego este enlace en cualquier navegador, me pide ident

[2015-11-26 02:10] agb80 commented on #133
Saludos @ingtemix si me pudieras proporcionar también los archivos te quedaría agradecido, mi correo es atin81[arroba]gmail[punto]com

[2015-11-26 15:54] ochand commented on #133
Hola @ingtemix también agradecería si me envía la información que tiene a ochand@rocketmail.com

[2015-11-30 05:14] voldemortkein commented on #59
Estos son las maneras de usar esa cadena de petición al WebService cierto?:

RE = Receptor Emisor
RR=Receptor Receptor
tt= 00.0000 Es la cantidad en pesos del representante?, si son millones, como los represento, ejemplo: 1,163,549.18??

id: Folio Fiscal cierto?

[2015-12-01 19:49] voldemortkein commented on #59
Les comento que ya pude descargar con Javascript, por eso me generaba ese error raro cuando trataba de descargar el xml.
Al igual que en Visual o C, se requiere inyectar la cookie en la cabecera del cliente o socket.
Hecho esto el XML se descarga sin problemas.

Mi problema es el siguiente y no se si le ha pasado a alguien:

Ya he descargado el código fuente entero de la página del SAT cuando te d

[2015-12-01 21:39] voldemortkein commented on #59
Me respondo a mi mismo, me descarga 478 cuando no le especifico en Facturas Recibidas, que solo deseo facturas "vigentes". de ser así la tabla traerá facturas vigentes y canceladas.
Y las canceladas recibidas no traen ningún enlace de descarga.

Y si le digo que solo quiero ver las vigentes, entonces si me descarga las 500's.

Ahora no se si haya modo de descargar las recibidas canceladas a pesar

[2015-12-08 16:42] baderlink commented on #59
Buen dia

Soy novato en esto de  la facturación electrónica quisiera saber por donde empezar a  hacer las siguientes validaciones
-	Estructura de archivo XML
-	Sello del documento
-	Timbre del documento
-	Certificado
-	Vigencia del documento

Agradecería cualquier experiencia que pudieran compratir.

[2015-12-08 16:49] mauriciobaeza commented on #59
Aquí tienes un entorno completo de pruebas e información: https://github.com/UniversoLibreMexicoAC/cfdi-test/wiki

[2015-12-08 16:49] baderlink commented on #133
hola @ingtemix  podrías enviarme el código también baderlink@hotmail.com te lo agradecería
saludos.

[2015-12-08 16:55] baderlink commented on #59
Muchas Gracias sabes si hay algún ejemplo en c#

[2015-12-08 16:58] mauriciobaeza commented on #59
Te recomiendo mucho, primero antender todo el proceso, prueba, checa así como esta en Python, cuando lo domines, en Internet hay decenas de ejemplos en C#

[2015-12-08 16:59] baderlink commented on #59
Muchas Gracias.... Manos a la obra.... :)

[2015-12-08 17:52] mauriciobaeza commented on #59
no te arrepentiras... de hecho, si hay suficiente interes, podemos crearnos un servicio desde Python pero que podemos usar desde cualquier lenguaje...

Si tienes dudas de algún proceso, crear un issue ahí mismo: https://github.com/UniversoLibreMexicoAC/cfdi-test/issues

y te voy guiando...

[2015-12-09 02:18] agb80 commented on #59
@mauriciobaeza en @OpenPymeMx desarrollamos un ERP de código abierto, basado en odoo pero con mucho trabajo de personalización de nuestra parte. Esa idea de tener una librería de python para manipular los archivos XML relacionados con la facturación electrónica es algo que hemos estado considerando desde hace algún tiempo. Con gusto estaríamos dispuestos a colbarorar para crear algo sólido.

Dime

[2015-12-09 18:12] mauriciobaeza commented on #59
Estimado @agb80, te dará gusto saber que la mayor parte del trabajo ya lo tengo hecho en Factura Libre que es 100% Python, todo listo en clases para usarse en cualquier proyecto Python...

Es "casi" el mismo código que tengo en el proyecto de pruebas que enlace más arriba, si quieres, podamos tomar ese proyecto para dejarlo listo para producción... o, escucho propuestas...

Un abrazo

[2015-12-11 01:38] agb80 commented on #59
@mauriciobaeza, tambien nosotros tenemos algunos avances, pero la verdad mucho es legacy y no nos acaba de convencer como esta construido. Nosotros nos podemos adaptar a lo que tu ya tienes.

Si gustas continuamos la conversación por el otro repo que enlazas para no causar ruido en este hilo ya de por si muy largo.

Para quienes estén interesados en seguir la conversación, aquí les dejo un enlace

[2015-12-11 03:59] mauriciobaeza commented on #59
De acuerdo...

P.D. En el foro oficial de OpenOffice, tenemos la norma -una pregunta por tema, una respuesta por tema-, no ha sido muy util para tener orden en el foro... como extraño esta norma en Github

[2015-12-12 19:04] armandodlvr commented on #59
@voldemortkein Lograste realizar la descarga masiva de XML del SAT en JavaScript?

[2015-12-15 05:46] andreslpz opened #134 "Cfdi de Retenciones"
Hola,
   Hay algún plan para incorporar el cfdi de retenciones e información de pagos?

En el siguiente link habla del tema:
http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/cfdi_retenciones_pagos.aspx

Saludos!

[2015-12-17 19:02] Alkz6 commented on #59
@voldemortkein yo he logrado la descarga de CFDI masivo en python, pero a mi punto de vista no es optimo, me gustaria que me apoyaras con la descarga de CFDI masivo en javascript, que me orientaras por donde "rascarle".

[2015-12-17 19:30] voldemortkein commented on #59
@Alkz6 Comienza cazando los enlaces de descarga:
    function GetLinks()
    {
                  var Enlace;
                  var images = document.getElementsByName('BtnDescarga');
                  var srcList = [];
                           for(var i = 0; i < images.length; i++) {
                                    Enlace = images[i].getAttribute('onclick');

[2015-12-28 14:56] esempere commented on #133
Hola  @ingtemix me podrias pasar el preview que saco el SAT con respecto a la version 3.3 por favor
Gracias

[2015-12-29 03:33] daniel-huape opened #135 "Erro Sello"
Hola que tal estoy tratando de usar el validador que gentilmente usted comparte pero tengo una situacion en la que me manda que la factura cuenta con error en el sello pero al validarla en el SAT no lo marca, no se si me podrian apoyarme para determinar si efectivamente la factura esta erronea o descubrir por que me indica este error

[2016-01-05 16:28] ingtemix commented on #135
Amigo yo recuerdo que estos errores se presentan por el siguiente motivo:

Cuando en el xml viene una cantidad de este tipo: 1.0000000
Al momento de generar la cadena original se genera de la siguiente forma: 1.00 y por consiguiente cuando tratas de generar el sello no coincide con el que trae la factura.

Favor de enviarme el xml para validarlo y decirte si es correcto o incorrecto.

Saludos!!!

[2016-01-05 16:29] ingtemix commented on #134
Amigo yo estoy interesado en poder comenzar con los desarrollos.

Contactame y vemos como iniciarlo

[2016-01-05 16:32] ingtemix commented on #133
Hola amigos antes que nada una disculpa por el desfase de la información pero les comento que el SAT a finales de diciembre hizo una modificación a la primera información enviada. Por lo que en unos días estaré subiendo los nuevos cambios (aún no oficiales)  propuestos por el SAT para que de igual forma podamos coordinarnos y revisar el código para los cambios establecidos.

Un fuerte abrazo y un

[2016-01-12 18:19] el-many commented on #134
de igual forma me acabo de enterar de esto, se supone que en enero de 2015 debimos de haber timbrado el pago de dividendos, que a su vez es un complemento de retenciones, me pongo a sus ordenes para desarrollarlo, @andreslpz @ingtemix

[2016-01-14 19:06] voldemortkein commented on #59
@gerardoDelarosa Haz podido descargar mas de 500 XML?.

Veo que para hacer esto, debes:
1) Hacer consultas dia por día (cuando son mas de 500 al mes)
2) si hay mas de 500 XML por día, hacer descargas por hora.
3) Intervenir los controles, quitándoles su atributo CSS de "Oculto" para poder aparecer los controles "reales y poder iterar sobre cada uno de ellos"
4) Ya puedo seleccionar día por día, la

[2016-01-14 20:46] gerardoDelarosa commented on #59
Hola voldemortkein
Por falta de tiempo he tenido parado mi proyecto y la verdad no he podido hacer la descarga de mas de 500.

Saludos GRC

[2016-01-15 22:54] el-many commented on #134
les comento que ya lo desarrollé, es prácticamente lo mismo que un CFDI, con los nombres de nodos y atributos cambiados, y que ademas debes de poner en la cadena original el Número de certificado para que también sea sellado. La verdad no se como subir los cambios, si alguien está mas familiarizado con github, le puedo pasar los cambios y las clases nuevas con todo gusto. Saludos.

[2016-01-19 22:38] elpagano3 opened #136 "Error compilando en Ubuntu 14.04"
Hola,

Cuando intento compilar cfdi-base 0.2.6-SNAPSHOT en linea de comandos en Ubuntu con:
Version JAVA: 1.8.0_66
Maven version: 3.0.5

Obtengo este error:

[INFO] ------------------------------------------------------------------------
[INFO] Building cfdi-base 0.2.6-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-enforcer-plugin:1

[2016-01-21 17:09] danpem commented on #59
Muchísimas gracias a este foro con la información me llevo 2 hrs empezar a validar en especial a @jocebaf

Saludos

[2016-02-05 00:04] happydis opened #137 "Requiero Informacion para Implementacion"
Buenas Tardes... me gustaria ponerme en contacto con ELMER Garduño para platicar sobre algunos temas de implementacion de estas librerias, espero puedan ayudarnos o darnos orientacion mas a detalle...

Saludos

Info de contacto: octavio [at] happydiscover . com

[2016-02-15 20:08] cristimayo commented on #134
hola, me gustaría tener los cambios, como me los podrías pasar?

[2016-02-15 21:25] el-many commented on #134
Ok, no hay problema escríbeme a mi correo many_csm@hotmail.com y te paso los cambios. Saludos.

[2016-03-20 05:07] isccarrasco commented on #100
Yo lo encontré en esta dirección...

[Facturatron](https://www.openhub.net/p/Facturatron)

Espero te sirva aún la referencia...

[2016-03-20 16:21] icebergdelphi commented on #100
Pero ya no existe esa liga, esta fuera de linea. Facturatron esta actualizado hasta el 2016? he visto post pero hasta el 2014 en algunas paginas.

[2016-03-20 18:39] isccarrasco commented on #100
Entonces esta puede servirte...

Puedes hacer el fork desde el repositorio del autor del proyecto.

[`Facturatron`](https://github.com/ZooMMX/Facturatron)

[2016-04-08 17:05] mishmario opened #138 "timbrado"
Hola compañeros, soy nuevo en este tema del cfdi, y he checado las librerias que se han desarrollado entorno a las facturas electronicas, la pregunta que tengo es, si  puedo timbrar con estas librerias mis facturas sin contratar el servicio de algun pac.

Muchas gracias de antemano

[2016-04-08 21:43] mauriciobaeza commented on #138
No... cualquier librería requiere un PAC...

No se como, pero deberíamos obligar al SAT a que nos de acceso a su timbrado gratuito por webservice...

[2016-04-08 21:46] Erilas commented on #138
Ya lo intente por medio de mi trabajo (institución de gobierno) y ni por
qué tenemos convenios nos quisieron dar algún tipo de web service de
timbrado

Saludos!
El 8 abr. 2016 4:43 PM, "Mauricio Baeza" <notifications@github.com>
escribió:

[2016-04-08 21:52] mauriciobaeza commented on #138
Pues vamos organizándonos... nos obligan a hacer una gran inversión para esto, todos los servicios y su sueldos salen de nuestros impuestos y todavía tenemos que pagar...

¿Quien se apunta?

[2016-04-10 20:08] mishmario commented on #138
Se agradecen los comentarios compañeros que son muy alentadores, en mi opinión creo que SAT debería de ofrecer los servicios del PAC sin intermediarios, pero tengo otra pregunta y ojalá que no suene muy trivial, supongamos que ya tenemos nuestra factura.xml sellado y verificado por las librerías de java, luego se lo envio al PAC (¿por correo, algún API?), ¿puedo recibir los sellos del PAC de inmed

[2016-04-10 20:13] Erilas commented on #138
Hola
De hecho el servicio del pac debe ser inmediato (si no mejor busca uno que
si lo sea), el pac que tengo me regresa todo, incluso por separado (XML con
folio fiscal, el folio fiscal por separado y el sello del pac por separado).
Las preguntas no son triviales amigo, lamentablemente el SAT casi no da
información de algunos procesos, y aveces los pac sólo te lo ponen de modo
"hacemos todo lo que

[2016-04-11 01:47] mishmario commented on #138
Estimados compañeros del viaje, acabo de implementar las librerías de java para generar el CFDI, ahora necesito el servicio de algún PAC que me facilite una librería en java para que me genere el timbrado, ahora que ya puedo r sellar mis archivos XML, de casualidad ¿alguien conoce un PAC que me permita trabajar en modo DEMO para probar enviando mis archivos XML?, espero que comprendas mis novatada

[2016-04-14 06:44] mishmario opened #139 "leer timbreFiscal a partir de un XML timbrado"
hola buenas noches, mi pregunta es lo siguiente, tengo un archivo XML sellado y timbrado, y quiero generar un comprobante a partir de este archivo, lo que no sé es como leer los valores del TimbreFiscalDigital (sello del Sat, sello  del CSD....), espero que me haya explicado bien..

saludos.

[2016-04-14 06:46] #138 closed

[2016-04-14 14:41] jjjimenez commented on #139
Hola,
Yo hago lo siguiente
    private void loadComplementos(Comprobante comprobante) {
        List<Object>complementos = comprobante.getComplemento().getAny();
        if( complementos!=null  ) {
            Object complemento;
            for(int index=0; index<complementos.size(); index++) {
                complemento = complementos.get(index);
                Logger.debug(this,"Complemento["

[2016-04-15 01:41] mishmario commented on #139
Estuve probando la solución que proporcionas gentilmente mi estimado **jjjimenez**, y dejame decirte que me acabas de salvar la vida, me ha funcionado el código de maravilla, ahora ya puedo extraer los valores de TimbreFiscalDigital.

Te agradezco por tu respuesta.
Buenas noches.

[2016-04-19 21:23] #139 closed

[2016-04-21 17:11] reyesazael12 commented on #130
Trate de Seguir los pasos que indicas, pero uso Netbeans 8.1, tuve que indicar la version para varias dependencias dentro el archivo pom con eso logre generar las clases que faltaban, sin embargo, marca el siguiente error

COMPILATION ERROR :
-------------------------------------------------------------
mx/bigdata/sat/security/PrivateKeyLoader.java:[22,8] mx.bigdata.sat.security.PrivateKeyLoader i

[2016-04-27 21:54] isccarrasco commented on #135
Hola @ingtemix , yo estoy teniendo un error similar... sólo que en mi caso... cuando genero la el sello y lo valido con el CFDv32 de la librería, me dice que todo está correcto... sin embargo, cuando lo mando a timbrar, el sat me devuelve el error de "Sello malformado o inválido"... crees que se deba al mismo problema ?

Agradezco el apoyo.

[2016-04-28 17:58] charliefes commented on #122
Hola, igual tenemos una app y no queda muy claro el proceso del tema del timbrado. Veo que los PAC's ofrecen por lo general Web Services para timbrar. Se debe mandar a llamar esos WS del PAC dentro de ésta implementación ó dentro de ésta implementación se puede hacer el timbrado directamente, entonces necesito un ¿PAC? o ya no, o ¿que necesitaría del PAC?

[2016-04-28 18:18] mauriciobaeza commented on #122
El PAC es, por ahora, indispensable... por ahora, nadie nos espacamos de alguno. En general, hay dos formas con los PACs...

1.- Enviar el CFDI ya sellado, te lo regresa timbrado
2.- Enviar el CFDI ya sellado, te regresa solo el timbre, tu tienes que agregarlo al CFDI

Saludos

[2016-05-10 02:16] antonioalvarezm opened #140 "incluir el concepto de recibo de nomina"
Quiero colaborar con el concepto de recibo de nomina, ya he descargado el código fuente y falta el paquete mx.bigdata.sat.cfdi.v32.schema. Serían gentiles de agregarlo por favor.

[2016-05-26 18:03] kyofireleo opened #141 "Complemento INE"
Me podrian apoyar con este complemento? Como puedo agregarlo a la libreria, o bien, si algún contribuidor podría ayudarme agregandolo. Se los agradeceria mucho.

[2016-06-10 19:51] hortegag91 commented on #136
El problema es que jaxb en la versión de java 8 tiene ciertas diferencias.
Si pones un poco de atención en el error, te marca un archivo faltante.
`[INFO] Ignored given or default xjbSources [/home/binary/install/factura/src/main/xjb], since it is not an existent file or directory.
[INFO] Ignored given or default sources [/home/binary/install/factura/src/main/xsd], since it is not an existent file

[2016-06-10 19:52] hortegag91 commented on #137
No se si se haya reportado, pero una ventaja de GitHub es que puedes hacer implementaciones y darle un push, para ver si elmer las acepta e implementa.
Saludos.

[2016-06-10 19:52] hortegag91 commented on #140
El XSD está incluido en la librería y se genera de manera correcta. Debes tener un error a la hora de compilar que no te está creando dichas paqueterías. Éstas las debería crear dentro de Generated Sources

[2016-06-13 23:47] mcarrascocomonfort opened #142 "Obtener todos los Elementos del Nodo Complemento"
Hola buen dia estoy tratando de obtener el nodo Nomina asi como todos sus nodos, y el nodo TimbreFiscalDigital Pero no tengo forma alguna de obtenerlo aun siempre me retorna un objeto de la clase com.sun.org.apache.xerces.internal.dom.ElementNSImpl

Como puedo obtener esos nodos en Objetos Nomina y Objeto  TimbreFiscalDigital

Ayudaaaaaa

[2016-06-14 04:22] jjjimenez commented on #142
Hola,

Me parece que lo que preguntas, es muy similar a la pregunta que alguien habia hecho y la cual yo conteste:

Yo hago lo siguiente
    private void loadComplementos(Comprobante comprobante) {
        List<Object>complementos = comprobante.getComplemento().getAny();
        if( complementos!=null  ) {
            Object complemento;
            for(int index=0; index<complementos.size(); inde

[2016-06-14 14:40] mcarrascocomonfort commented on #142
OK muchas gracias asi lo are te agradesco mucho el apoyo

2016-06-13 23:22 GMT-05:00 Joel <notifications@github.com>:

[2016-06-23 15:06] hortegag91 opened #143 "Leer una Addenda"
Buen día,
Ya he creado addendas sin problemas, el detalle es que ahora ocupo leer la Addenda que yo mismo grabé (obviamente es en un proceso diferente, leyendo el XML) pero no he podido.
E intentado solo recorrer la lista de addendas e instanciarlo al objeto de mi Addenda, pero marca error.
Alguien sabe como leer una Addenda que creamos?

[2016-06-23 15:10] cesarcastmore opened #144 "Complemento ComercioExterior"
Antes primero que nada, muchas felicidades, excelente módulo de factura electrónica.

El motivo de mi mensaje, es que nosotros hemos estado utilizando mucho este módulo  y estos meses se aproxima un nuevo complemento "Comercio Exterior".

http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Documents/ComercioExterior10.xsd

¿Nos gustaría saber si está pensando en agregar este complemento a

[2016-07-19 18:03] isccarrasco commented on #131
Supongo que ese proceso se tendría que hacer a través del PAC o directamente con el SAT. La librería genera la información a partir de los datos que se proporciona por parte del emisor, o en su caso a partir de un XML devuelto por el PAC.

[2016-07-20 02:15] mauriciobaeza commented on #131
El código para verificar el estatus en el SAT es trivial... aquí puedes verlo en Python, supongo que migrarlo a Java también debe ser trivial...

https://gitlab.com/mauriciobaeza/cfdi-reporte/blob/master/cfdireporte/util.py#L302

Saludos

[2016-07-20 03:56] isccarrasco commented on #131
Excelente aporte @mauriciobaeza ...

Aunque como supuse , al final la implementación es a través de la invocación del WS del SAT

``https://consultaqr.facturaelectronica.sat.gob.mx/consultacfdiservice.svc``

En este caso se debe implementar la invocación al WS utilizando los datos del QR generado para la factura...

Supongo también, que la pregunta de @voldemortkein, era sobre la posibilidad de qu

[2016-08-23 12:12] oskrch commented on #59
alguien ha utlizado este webservice en SOA Oracle 12c me ayudarian mucho

[2016-08-27 05:58] andreslpz opened #145 "Bigdata seguira vigente para la version 3.3?"
Hola, un saludo a todos!
   Me gustaría saber que planes hay para la versión 3.3? Aún seguirá vigente esta comunidad para esta versión? O este proyecto ha sido cerrado?

Actualmente tengo incorporada su librería en mi sistema pero ya hay mucho ruido de nuevos cambios que vienen, es por eso mi inquietud.

Saludos!!!!

[2016-09-09 16:59] isccarrasco commented on #110
Buen día @acordovar ...
Veo que no tuviste respuesta por parte de la comunidad, pero me pregunto si pudiste resolver el tema del Timbre, ya que presento la misma situación actualmente...

Agradecería algún comentario u orientación al respecto en caso de haber podido resolver el tema...

Gracias de antemano.

Saludos.

[2016-09-09 17:54] hortegag91 commented on #110
Por la manera en la que uso dicha librería he ocupado meterle mucha mano, pero en mi caso, lo que hice fue que lo "automatizé" directo en el código en base a los complementos detectados de la siguiente manera:
`        if (document.getComplemento() != null && document.getComplemento().getAny() != null) {
            for (Object o : document.getComplemento().getAny()) {
                if (o.toStri

[2016-09-09 23:24] acordovar commented on #110
Hola Mario,
No recuerdo que pregunté aqui, pero dejame revisarlo y te respondo.
Saludos!

Date: Fri, 9 Sep 2016 09:59:43 -0700
From: notifications@github.com
To: factura-electronica@noreply.github.com
CC: acordovar@outlook.com; mention@noreply.github.com
Subject: Re: [bigdata-mx/factura-electronica] Complemento TimbreFiscal (#110)

Buen día @acordovar ...

Veo que no tuviste respuesta por parte de

[2016-09-10 03:22] mauriciobaeza commented on #110
Parece, reitero el parece, hay una confusión.

El nodo del timbre, lo agrega un PAC al timbrar, no debes de agregarlo tu en tu aplicación. Tu aplicación solo debe generar un documento válido técnicamente y enviarlo a timbrar a algún PAC, el cual le pone el nodo del timbre, y entonces si puedes validar en el servicio del SAT.

Saludos

[2016-09-10 16:40] isccarrasco commented on #110
Muchas gracias por la respuesta @hortegag91 ... al parecer es el método que usaremos ...

Igual gracias por tu observación @mauriciobaeza , entiendo el punto, y en efecto, la aplicación genera el XML válido, el cual es enviado al PAC, quien a su vez timbra el XML y nos devuelve dicho timbre de forma correcta... cuando recibimos el timbre, viene con los datos de los schemas correspondientes...

Sin

[2016-09-10 17:18] hortegag91 commented on #110
Asi es, en mi caso tambien es uno de los procesos que usamos, recibimos la factura y la manejamos por medio de esta misma librería por lo que perdía ciertos valores (namespaces y schemas por lo general) es por eso que le hemos metido tanta mano.
@isccarrasco , en nuestro caso, estamos guardando el XML tal y como viene del PAC, y tenemos una tabla distinta en donde guardamos los campos relevantes (

[2016-09-10 17:20] hortegag91 commented on #145
Imagino se le dará seguimiento, la cuestión de factura electrónica se había mantenido algo "estable", y últimamente se han actualizado a los cambios del SAT (Contabilidad electrónica por ejemplo).
En caso de que cierren este proyecto, creo que aún habemos muchos como para poder mantener el proyecto en completo funcionamiento.

[2016-09-10 17:24] isccarrasco commented on #110
Gracias por el comentario @hortegag91 ... justo es nuestro caso, haremos algunos ajustes para guardar el XML y tener disponible los datos y no perder información en la transformación con el marshall...

[2016-09-10 17:27] hortegag91 commented on #110
Asi es, te recomiendo que si usas SQL trates la tabla como una cadena de texto (si manejarán muchísimos registros) ya que aunque es un poco más tardado el estarlo transformando cada vez que lo lees, ocupará mucho menos espacio en BD.
Saludos y éxito.

[2016-09-10 17:30] isccarrasco commented on #110
Haré algunas pruebas...
Ya que he leído la documentación del tipo de dato "xml" y al parecer brinda ventajas sobre los campos de tipo text para PostgreSQL.

Dejo la referencia: [https://www.postgresql.org/docs/9.5/static/datatype-xml.html](https://www.postgresql.org/docs/9.5/static/datatype-xml.html)

Gracias... Saludos.

[2016-09-10 17:46] hortegag91 commented on #110
En efecto, se creó por alguna razón, en nuestro caso teníamos un cliente que tenía la versión express de MSSQL, por lo que su tamaño máximo era de 4gb, y en formato XML la lleno en 2 años aproximadamente, por lo que lo cambiamos a String y ya lleva 6 años sin problema (está casi llena la BD, pero como solo se ocupan respaldar 5 años, esto fue suficiente.

[2016-09-10 18:36] mauriciobaeza commented on #110
Es perfectamente valido guardar el XML, de hecho, es una buena practica, un XML timbrado, **no debería*, reitero el no debería, ser modificado nunca más...

Saludos

[2016-09-10 18:50] elmer-garduno commented on #145
Saludos a todos, aprovecho para agradecer su participación en este proyecto.

Desafortunadamente por cuestiones laborales me es imposible seguir
contribuyendo a este proyecto.

Las alternativas que veo es hacer administradores a algunas de las personas
que contribuyen activamente a este proyecto.

La alternativa es continuar el desarrollo en un fork.

Ideas, comentarios?

On Sat, Sep 10, 2016, 10:

[2016-09-10 19:53] hortegag91 commented on #145
Yo la verdad intenté hacer un push, pero Travis le dió para atras, y la verdad por cuestiones laborales tampoco podría estar de lleno, aunque activamente intento participar con los miembros ya que tenemos varios años utilizando esta librería.

[2016-09-12 05:45] camarillo commented on #145
Hola! Yo puedo seguir aportando, solo pediría de su apoyo cuando algo no funcione como me apoyaron en el pasado.

[2016-09-30 16:38] Edith81 opened #146 "XML DPIVA"
Hola a todos, tengo que hacer el XML del reporte DPIVA, pero no puedo definir los xmlsn y schemas .. alguien tendrá un ejemplo que pueda mostrarme.

Gracias !

[2016-09-30 16:41] BennSandoval commented on #145
@camarillo me apunto para ayudar.

[2016-09-30 16:44] Edith81 commented on #111
Hola @misaelrag vi que  ya lograste sacar el XML del DPIVA, podrias compartirme un ejemplo del archivo para ver como esta definido.

Gracias

[2016-10-01 00:17] andreslpz commented on #145
Pues llegado el momento, creo que somos varios interesados en este tema y creo que podríamos continuar con el proyecto con la ayuda de todos, cuenten con mi apoyo en lo que pueda. Saludos.

[2016-10-04 19:05] eduardflex07 commented on #145
también me apunto para ayudar, Saludos.!

[2016-10-04 19:46] hortegag91 commented on #145
Bueno pues me apunto para hacer un fork y comenzar de ahi.
Si nadie está en contra de esto le agradecería a @elmer-garduno colocara la ruta en donde se continuará actualizando la librería, de igual manera colocaré una liga a la librería original.
Tambien agradecería que si llegase a tener alguna actualización nos notifique para mantenerlo lo más unificado posible.
[https://github.com/hortegag91/fa

[2016-10-19 21:44] ivancito87 commented on #111
hola @Edith81 puedo darles asesoria  en cuanto a dpiva y documentos digitales en la disposición del sat en el anexo 21 de la RMF 2015 y 2016, taqmbien en materia tecnológica , a cualquiera que este interesado dejo mi correo ivannov87@live.com  Salduos !!

[2016-10-20 15:12] camarillo commented on #111
@Edith81 El dpiva aun no entra en vigor, o si ya publicaron que es obligatorio?.

[2016-10-20 21:36] ivancito87 commented on #111
hola @Edith81 el sat publico que entró en vigor en enero de este 2016 , pero hay una pagina del sat que el Diot Funciona hasta el 31 de Octubre algo asi, pedo de que es un hecho de que ya se puede mandar , ya se puede mandar por eso lo del esquema de PCRDD

[2016-10-25 18:17] ivancito87 commented on #111
Entró en vigor desde enero de este año

El 20 oct. 2016 10:12 AM, Ivan Aranda <notifications@github.com> escribió:

@Edith81<https://github.com/Edith81> El dpiva aun no entra en vigor, o si ya publicaron que es obligatorio?.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/bigdata-mx/factura-electronica/issues/111#issuecomment-2551

[2016-10-28 19:31] camarillo commented on #111
@ivancito87 mucha gracias, ya estoy atrasado entonces voy a revisar si el PAC ya esta disponible para hacer el envio de este documento, y voy a revisar la libreria para agregar esta parte.

[2016-10-28 19:32] camarillo commented on #146
Hola @Edith81 tienes el XSD para el DPIVA?

[2016-10-28 22:39] ivancito87 commented on #111
@camarillo si tu PAC ya es un psrdd lo podrás enviar si no pues deberás conseguir a un autorizado para recepción

[2016-10-28 22:45] ivancito87 commented on #111
@camarillo si tu PAC ya es un pcrdd lo podrás enviar si no pues deberás conseguir a un autorizado para recepción o bien puedo ayudar en asesoría

[2016-10-29 13:19] camarillo commented on #111
@ivancito87 muchas gracias ya revise y el PAC con el que trabajo ya es PCRDD entonces ya podre realizar la prueba completa.

[2016-11-17 21:20] ingtemix opened #148 "Complemento Nomina"
Compañeros estoy tratando de agregar la nueva versión del complemento de Nómina pero al generar las clases me esta marcando error al generar las clases con los catálogos por el número de Enums por el siguiente error:

org.xml.sax.SAXParseException; systemId: http://www.sat.gob.mx/sitio_internet/cfd/catalogos/catCFDI.xsd; lineNumber: 32886; columnNumber: 41; El tipo simple "c_ClaveProdServ" no se h

[2016-11-18 15:40] hortegag91 commented on #148
Hola ingtemix,
Ya hace tiempo he agregado este complemento en mi fork de la librería,
Este error se debe a que la configuración que actualmente tiene la librería es de 2,000 y el error te marca que debes tener capacidad para 52,839, por lo que debes de ir al archivo /src/main/resources/bind.xml, y extender la propiedad "typesafeEnumMaxMembers" a 53,000.
Como te comento ya hace tiempo que di de alt

[2016-11-22 22:18] ingtemix commented on #148
Hola buen día hortegag91 ya configure lo que mencionas y obtengo el mismo error. La forma en como estoy cargando el catalogo es a traves del XSD.

http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Documents/Complementoscfdi/nomina12.xsd

En el cual viene esta URL donde vienen los catalogos que marcan error:

http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI/tdCFDI.xsd

Saludos!!

[2016-11-29 22:14] hugo-haro opened #149 "Complemento de servicios parciales de construccion"
Hola, soy nuevo en esto.
Alguien sabe como puedo incluir el complemento
http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/complemento_servicios_parciales_construccion.aspx

@hortegag91 tenias algo de ese complemento, podrías compartirme algo de información.

Saludos

[2016-12-04 07:40] isccarrasco commented on #145
Yo me apunto para apoyar en la medida de lo posible...

En mi opinion, no sería mejor mantener el proyecto en este repo y sólo que @elmer-garduno  agregara a @hortegag91  como colaborador para poder administrar el tema de Travis?...

En caso de no poderse, habría que continuar en el fork...

Saludos.

[2016-12-05 05:52] elmer-garduno commented on #145
Gracias Mario, recientemente agregué a hortrgag91 y a camarillo como
colaboradores del repo, ojalá que decidan continuar el desarrollo aquí.

Saludos y gracias

On Sun, Dec 4, 2016, 1:40 AM Mario Jimenez Carrasco <
notifications@github.com> wrote:

[2016-12-05 05:55] isccarrasco commented on #145
Gracias a ti @elmer-garduno , y ojalá podamos continuar con el proyecto aquí...

Saludos...

[2016-12-06 07:54] camarillo commented on #145
Hola a todos, voy a empezar a integrar el complemento de nomina 1.2, lo voy a realizar en mi fork, ya lo actualice con los últimos cambios realizados a la rama principal.

Alguien ubica por que no puedo compilar desde eclipse? Me sale el siguiente error. Desde consola compila de manera correcta.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.5.1:compile (default-c

[2016-12-06 19:18] hortegag91 commented on #148
Disculpa, creo que ahi no se cargan los catálogos como tal, de hecho en el XSD no vi que vinieran definidos los catálogos como lo hicieron con la contabilidad electrónica (por ejemplo), el catálogo yo lo estoy validando una capa "más arriba" para no interferir directamente con la librería.
Te encargo nos pases tu versión de JaxB ya que en ocaciones me ha tocado que guarda o busca los archivos en d

[2016-12-06 19:23] hortegag91 commented on #145
Seguro, le vamos dando para tener todo centralizado!..
De igual manera la verdad yo estoy muy verde aún para esto, nose bien como hacerle un pull desde mi fork, pero ahi vamos viendo, jaja..

Camarillo, el error que te da eclipse es que no tienes un JDK para poder compilar el código, debes revisar la configuración de tu eclipse y asegurarte que si lo tengas cargado correctamente. Si bien recuerdo

[2016-12-06 19:41] camarillo commented on #145
Voy a revisar por que si esta el JDK. Les notifico cual era el error, si no
lo puedo resolver lo realizare de manera manual para ya ir avanzando.
Muchas gracias!

Ya salio la publicación del SAT para la version 3.3 -->
http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/Anexo_20_version3.3.aspx

2016-12-06 13:23 GMT-06:00 Heriberto Ortega Gonzalez <
notifications@github.com>:

--

[2016-12-07 06:34] camarillo commented on #145
Hola! En mi fork ya realice los cambios. @hortegag91 tenias razón no estaba referenciando el jdk. Voy a revisar la nueva libreria para implementarla. Les comparto como queda y si ya esta correcto.

[2016-12-07 06:46] camarillo commented on #148
Hola en mi fork ya están realizados los cambios. Aquí dejo la librería que se genera, voy a implementarlo para revisar que todo funcione. No pude realizar que convivieran la versión 1.1 y la 1.2, tuve que borrar la 1.1

Descargar Libreria](http://ivanaranda.mx/github/cfdi-base-0.2.7-SNAPSHOT.jar)

[2016-12-07 19:20] Berserkerus commented on #148
Hola camarillo, estuve revisando tu librería y noté que en el package mx.bigdata.sat.common.nomina.schema le hacen falta unas clases. Las clases que faltan son las que tienen problemas con el límite del EnumMemberSizeCap (c_CodigoPostal, c_ClaveProdServ, c_ClaveUnidad, c_Colonia, c_Municipio, c_PatenteAduanal). Te funcionó bien sin esas clases?

ingtemix, el XSD que manda error por el límite Enum

[2016-12-07 20:24] ingtemix commented on #148
Estimado buen día,

Yo generé el codigo pero aun no he realizado pruebas, si no falla les envío la libreria.

Saludos!!!

[2016-12-07 22:36] camarillo commented on #148
Hola @Berserkerus, como lo comenta @hortegag91 no agregue esos XSD, y funciona de manera correcta, ahorita ya probe la librería generada y se genera de manera correcta el CFDI, probaste con la libreria que genere? o la generaste tu mismo?.

Como les comente, ya genere un CFDI de prueba de la nomina12, incluido un timbrado de prueba con el PAC que trabajo y todo funciona bien. Voy a revisar si pued

[2016-12-07 22:47] #122 closed

[2016-12-07 22:56] Berserkerus commented on #148
Hola @camarillo, las clases las generé yo desde terminal ubuntu, pero son iguales a las de tu librería. Tenía duda de esas clases faltantes, porque ya tiene unos días que no he podido generarlas por el error en el tamaño del simpleType.

Había hecho unas pruebas, pero todas fallidas. Si tu ya pudiste timbrar, intentaré de nuevo con tu librería.

Gracias!

[2016-12-08 00:31] hortegag91 commented on #148
@camarillo  si se pueden dejar ambas, solo hay que crear subcarpetas dentro de nómina, yo las llamé v11 y v12, y modificar el archivo POM para que los lea de manera separada.
Si tienes dudas me avisas para copiar y pegar un ejemplo en una chanza que tenga.

[2016-12-08 06:17] camarillo commented on #148
@hortegag91 muchas gracias, ya realice los cambios y ya no marca error, en este caso solo cree una nueva carpeta para la version 12 (nomina12), para no tener que cambiar nada sobre lo que ya tengo implementado y solo agregar la nueva funcion.

Mañana reviso si todo esta bien para pedir que nos apoyen a que agregue a la rama principal, ahorita el cambio ya esta en mi Fork

[2016-12-08 06:24] #140 closed

[2016-12-08 06:33] camarillo commented on #149
@hugo-haro en el Issues #120 indican como agregar los complementos con los XSD

[2016-12-09 02:25] camarillo commented on #148
Hola a todos, les confirmo la librería funciona de manera correcta, en esta versión ya están juntas la nomina11 y la nomina12. La nomina12 esta en el paquete con el mismo nombre (nomina12).

@elmer-garduno como puedo integrar los cambios a la rama principal? Ahorita ya están en mi Fork.

[Aqui la Libreria](http://ivanaranda.mx/github/cfdi-base-0.2.8-SNAPSHOT.jar)

[2016-12-09 06:01] elmer-garduno commented on #148
Gracias Iván, solo dale pull request Como la vez pasada y luego le damos
merge.

Saludos

On Thu, Dec 8, 2016, 6:25 PM Ivan Aranda <notifications@github.com> wrote:

[2016-12-09 15:10] camarillo commented on #148
@elmer-garduno ya quedo el pull request.

Saludos.

[2016-12-15 17:44] hugo-haro commented on #149
Muchas gracias @camarillo con tu ayuda logre agregar el complemento.

[2016-12-15 17:44] #149 closed

[2016-12-15 18:09] camarillo commented on #149
@hugo-haro por nada, seria bueno que subieras el cambio para que estuviera en la librería.

[2016-12-20 00:48] Berserkerus opened #151 "ComercioExterior11 a Java."
Hola,

estoy teniendo problemas al generar las clases java a partir del xsd de ComercioExterior11. Las intenté generar desde terminal ubuntu con el comando "xjc + nombrexsd.xsd" y desde Eclipse con "Generate JAXB classes", pero me salen los siguientes errores (captura), cómo puedo solucionar este error?

Gracias.
Saludos
![1](https://cloud.githubusercontent.com/assets/15694003/21334255/88f2e480-c6

[2016-12-20 01:20] Berserkerus commented on #151
Hola, encontré el problema, los `namespace` y `schemaLocation` del `xs:import` apuntan a links que no contienen los XSD, sus respectivos `xmlns` en el `xs:schema` también son erroneos.

Cambiando las líneas originales por las siguientes, se pueden generar las clases (excepto las que ocupen modificar el `typesafeEnumMaxMembers` por el límite del `EnumMemberSizeCap`).

`<xs:schema xmlns:cce11="http:

[2016-12-20 01:20] #151 closed

[2016-12-20 22:57] aperezc48 commented on #148
Hola @camarillo, @hortegag91 , @elmer-garduno  y a todos , aqui molestandolos con una consulta. Tengo un problema al querer validar el XML de mi comprobante, ya que estoy generando y agregando el complemento de Nómina 1.2 y me marca el siguiente error :

cvc-complex-type.2.4.c: The matching wildcard is strict, but no declaration can be found for element 'ns3:Nomina'.

Al parecer no me esta reconoc

[2016-12-21 05:36] camarillo commented on #148
Hola @aperezc48, yo creo clase de la siguiente manera, así como el nameSpace, para reconozca.
[code]

[2016-12-21 16:00] aperezc48 commented on #148
Hola @camarillo , el problema es que si lo estoy implementando así:

cfdi = new CFDv32(comprobante, "mx.bigdata.sat.cfdi.v32.schema",
                            "mx.bigdata.sat.common.nomina12.schema",
                            "com.mti.facturacion.bo");
cfdi.addNamespace("http://www.sat.gob.mx/nomina12", CFDI_NOM_PREFIX_12);

Pero no se si el problema también pueda ser por la versión del jdk q

[2016-12-22 00:32] SAAVER commented on #145
Buen dia, oigan, por favor, alguien me puede orientar para agregar el nuevo xsd del la version 3.3 del CFDI del SAT, para compilar la nueva estructura del cfdi.

[2016-12-22 04:47] programacion-web commented on #59
Hola compañerxs

Ando buscando una solucion sensilla para Validar que el CFDi ha sido entregado a SAT,

Tengo los xml y de ahi voy extraer los datos con python3.5 para poder validar (solamente), el problema es que tengo varios y pensaba si el proyecto de @mauriciobaeza ya realiza esto para sumarme a cualquier issue, ando apenas usando python3.5.

gracias otra cosa al script de arriba le falta lo s

[2016-12-22 06:12] mauriciobaeza commented on #59
@programacion-web compañero, lo que quieres ya lo tenemos resuelto completamente en python3, por aca: https://gitlab.com/mauriciobaeza/cfdi-reporte

cualquier duda, in issue en el repositorio, saludos...

[2016-12-22 15:22] camarillo commented on #145
@SAAVER en el Issues #120 comentan como realizar el cambio.

[2016-12-22 15:27] camarillo commented on #148
@aperezc48  Puedes mandar como sale tu XML? Le estas agregando mas constructores, esto lo haces por alguna razón? A mi tal cual te lo mando me lo genera sin problemas y genera xml con los schemas.

`cfdi.addNamespace("http://www.sat.gob.mx/nomina12", CFDI_NOM_PREFIX_12);`

Intenta con esto:

`cfdi.addNamespace("http://www.sat.gob.mx/nomina", CFDI_NOM_PREFIX_12);`

[2016-12-22 23:14] aperezc48 commented on #101
Hola @diegokuh  una duda solo agregaste el método en la clase, ya que yo hice lo mismo pero al momento de querer hacer uso de este en mi proyecto me marca el siguiente error:

**java.lang.NoSuchMethodError**

No se si tenga que agregarlo en algún otro lado además de la interface CFD.

De ante mano gracias por la ayuda.

[2016-12-23 19:43] SAAVER commented on #145
buen dia, disculpen. Alguien que me pueda ayudar con este error:
testSign(mx.bigdata.sat.cfdi.CFDv33Test)  Time elapsed: 0.108 sec  <<< ERROR!
javax.xml.transform.TransformerConfigurationException: No se ha podido compilar la hoja de estilo
	at com.sun.org.apache.xalan.internal.xsltc.trax.TransformerFactoryImpl.newTemplates(TransformerFactoryImpl.java:843)
	at com.sun.org.apache.xalan.internal.xsl

[2016-12-25 02:41] diegokuh commented on #101
@aperezc48 ya tiene rato que no veo el proyecto, pero quizá en recientes versiones ya arreglaron ese detalle. Si no checa que la firma del método sobrecargado esté también en la interfaz de la referencia del objeto que estas usando para llamarlo.

[2016-12-26 19:35] ingtemix commented on #148
Chicos tomar en cuenta que al momento de sellar la facturas lo realiza muy lento, esto como motivo de que el XSD hace referencia a otros XSD que importa desde la pagina del SAT para que corrijan eso.

Saludos!!!

[2016-12-26 20:06] jjjimenez commented on #148
Y ya sabes como corregirlo? pasa el dato.
Saludos !!

      From: ingtemix <notifications@github.com>
 To: bigdata-mx/factura-electronica <factura-electronica@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
 Sent: Monday, December 26, 2016 1:35 PM
 Subject: Re: [bigdata-mx/factura-electronica] Complemento Nomina (#148)

Chicos tomar en cuenta que al momento de sellar la facturas

[2016-12-26 20:34] camarillo commented on #148
@ingtemix @jjjimenez se refieren a estos?

`http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Nomina/catNomina.xsd`

`http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI/tdCFDI.xsd`

[2016-12-26 21:14] ingtemix commented on #148
Si a esos precisamente @camarillo

@jjjimenez estoy revisando apenas el tema.

Saludos!!!

[2016-12-26 21:50] camarillo commented on #148
En los proyectos donde he ocupado la librería no se me hace tan lento, pero se me ocurre que lo que se puede realizar es modificar directamente el XSD y cambiar las rutas de los archivos a unas rutas locales, no se si convenga meter estos cambios a la rama principal. Me parece que quien los ha metido ha tenido problemas con los tipos de datos y les marca errores al compilar.

[2016-12-26 21:58] ingtemix commented on #148
Hola compañeros lo que realice fue lo siguiente:

1. Al XSD de Nomina cambie la por ruta de archivos por rutas locales quedando de la siguiente forma:
<xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" schemaLocation="catCFDI.xsd"/>
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" schemaLocation="tdCFDI.xsd"/>
  <xs:import namespace="http://

[2016-12-27 16:21] camarillo commented on #148
Voy a realizar el cambio como comentas, no deberia entorpecer nada del
proyecto y lo subo a la libreria.

Saludos.

2016-12-26 15:58 GMT-06:00 ingtemix <notifications@github.com>:

--
I DO NOT ALWAYS HAVE THE REASON, BUT I NEVER MAKE MISTAKES

.:: Camarillo :..
Iván Aranda Camarillo
http://www.camarill0.info

[2016-12-28 20:03] rrodrigu007 commented on #148
Hola, buenas tardes...

Revisando el codigo en su versión cfdi-base-0.2.5 , tienen un error en el archivo Nomina.java, tanto para el campo TipoPercepcion y TipoDeduccion lo tienen definido como int y se requiere que sea String para poder agregar los valores como "001" "002"

Saludos

[2016-12-29 21:58] ingtemix commented on #148
@rrodrigu007 las clases Nomina.java son autogeneradas lo que deberías quizás modificar es el archivo .XSD.

Por otro lado compañeros he estado realizando pruebas con la librería con los XSD de los catalogos del SAT y considero que continua muy lento pues 5 segundos se me hace mucho tiempo tomando en cuenta que para el sellado de 1 a 50 facturas se puede considerar poco pero para volumenes de 5000

[2017-01-06 05:52] ZooMMX commented on #100
Yo soy el autor y confirmo que sigue funcionando.

[2017-01-06 17:04] mcarrascocomonfort commented on #142
Hola buen dia Joel me podrias apoyar necesito generar los archivos .java
desde el archivo cfdv33.xsd para la version 3.3 del CFDI,
no puedo generar los catalogos:

xjc -extension cfdv33.xsd
Analizando un esquema...
[WARNING] El tipo simple "c_CodigoPostal" no se ha asignado a Enum debido
al límite de EnumMemberSizeCap. Recuento de facetas: 32,333, límite actual:
256. Puede utilizar el atributo de

[2017-01-06 18:18] jjjimenez commented on #142
Hola, la solución esta en otro de las discusiones. Me parece que en la de nomina 1.2 
Saludos

Enviado desde Yahoo Mail para Android

[2017-01-06 22:30] mariodrash commented on #148
@camarillo he tratado de utilizar tu librería de nómina, sin embargo el tipo de dato para los campos de FechaPago, FechaInicialPago y FechaFinalPago son de tipo XMLGregorianCalendar en vez de tipo Date, cómo has resuelto este problema? Ya que si intento validar el cfd haciendo la llamada al método correspondiente, me marca error en el valor de estos elementos.

Saludos!

[2017-01-09 23:47] mega82es commented on #145
Hola buen dia,
Mismo error @SAAVER al parecer por una URL que es null, ademas del stack trace que mencionas me arroja lo siguiente:

at org.apache.maven.surefire.booter.ForkedBooter.main(ForkedBooter.java:75)
**Caused by: java.net.MalformedURLException**
	at java.net.URL.<init>(URL.java:623)
	at java.net.URL.<init>(URL.java:486)
	at java.net.URL.<init>(URL.java:435)
	at com.sun.org.apache.xerces.i

[2017-01-10 04:01] isccarrasco commented on #114
Espero aún sea de utillidad.

[code]

Saludos.

[2017-01-12 00:58] checov commented on #124
Buenas noches a todos.
Erilas, estoy tratando de aplicar tu cambio ya que debido a las nuevas disposiciones del SAT estos cambios serán obligatorios.

Tengo un problema en el método verificar. en la linea:
boolean bool = sig.verify(signature);
SIEMPRE me regresa false.

QUÉ PODRÍA ESTAR MAL?? agradezco tu ayuda. SAludos.

[2017-01-17 23:42] Sergio70 opened #152 "Error cvc-complex-type.2.4.c al validar XML"
Hola buen dia a todos, me a surgio un problema al querer validar uno de mis XML en el Complemento de registro fiscal,  alguien save a que se deve este error y como solucionarlo?? se los agradeceria mucho, el error es el siguiente:

ERROR:  'cvc-complex-type.2.4.c: El comodín coincidente es estricto, pero no se ha encontrado ninguna declaración para el elemento 'registrofiscal:CFDIRegistroFiscal'.'

[2017-01-30 21:21] SAAVER opened #153 "Como agregar al al complemento detallista el importe con letra"
Ya tengo el complemento creado, hasta ahi todo bien, sin embargo en el nodo **detallista:specialInstruction**, agrego el importe con letra, pero no lo agrega como un sub-nodo, lo inserta literal.
Resultado=<detallista:specialInstruction code="ZZZ">VEINTE Y NUEVE MIL NOVECIENTOS SETENTA Y TRES PESOS 36/100 M.N.</detallista:specialInstruction>

Resultado Esperado=<detallista:specialInstruction code=

[2017-01-31 19:00] SAAVER commented on #101
buenas tardes, una duda, el **xsi:schemaLocation** se puede modificar despues de que se sello y timbró el comprobante, mi duda es por que, en mi caso particular, sello el comprobante y lo mando a timbrar, posterior a eso, guardo el xml y modifico el **xsi:schemaLocation**, eso es valido?

[2017-02-08 17:02] SAAVER commented on #145
gracias @mega82es , pero aun sigo en lo mismo, no logro compilar el proyecto. alguien ya tiene la libreria lista para poder generar los comprobantes cfdi version 3.3

[2017-02-17 00:20] BennSandoval commented on #145
Yo tengo el primer approach para la version 3.3 en mi fork, alguien podría ayudarme a confirmar que este bien?

Comente la sección de nomina12 del pom por tenia problemas con caracteres especiales ü y ñ dentro del XML

https://github.com/BennSandoval/factura-electronica

[2017-02-22 17:51] Kaztle opened #154 "Cuenta Bancaria como entero con menos de 10 caracteres"
Buen día,
Primero, muchas gracias por este proyecto que ha sido de gran utilidad para el manejo de facturas electrónicas.
Segundo, en el caso de Nómina > Cuenta Bancaria pide un campo de tipo BigInteger, hay casos en los que la cuenta empieza con 0, ¿Alguien sabe cómo solucionar el problema para que no marque el número no cumple con el patrón? (Probé new BigInteger("00XXXXXXXX") pero al tomarlo co

[2017-02-22 19:32] Kaztle commented on #154
Encontré una alternativa (Pero no creo que pueda subirla por el momento)
1.- Descargué el XSD de tdCFDI - http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI/tdCFDI.xsd
2.- Lo guardé en el proyecto en la ruta /src/main/resources/xsd/common/tipoDato/tdCFDI.xsd
3.- Modifiqué la línea de nómina12.xsd para que el SchemaLocation del XSD de tdCFDI apunte a mi archivo: file:/C:/<Ruta_del_proyecto>/

[2017-02-22 19:32] #154 closed

[2017-03-13 17:19] reyesazael12 opened #156 "Error con codificación de archivo"
Saludos he descargado la Version 2.8 y la he compilado con netbeans 8 la compilacion se genera satifactoriamente pero hay archivo que netbeans al arbir da el seguienete mensaje

.../generated-source/xcj20/mx/bigdata/sat/common/nominsa12/schema/Nomina.java
connot be safely opend with encoding UTF-8. Do you want to continue opening it?

Me doy cuenta que este mensaje es generado por que
protected sh

[2017-03-13 17:20] #130 closed

[2017-03-13 18:12] reyesazael12 commented on #156
Tambien se generan otros error pero son de la documentacion

MavenReportException: Error while generating Javadoc:
Exit code: 1 - C:\Users\Azael Reyes\Documents\GitHub\factura-electronica\target\generated-sources\xjc1\mx\bigdata\sat\cfd\schema\TInformacionAduanera.java:20: error: unmappable character for encoding UTF-8
 * Tipo definido para expresar informaci?n aduanera

[2017-03-13 19:08] hortegag91 commented on #156
Buenas!, yo he solucionado este repositorio actualizando el POM a "<project.build.sourceEncoding>ISO-8859-1</project.build.sourceEncoding>"
Te dejo mi fork en donde está ya esto resuelto
https://github.com/hortegag91/factura-electronica

[2017-03-21 15:36] azaeldevel commented on #156
Gracias eso soluciono el problema.

[2017-03-21 15:37] #156 closed

[2017-03-22 18:21] hortegag91 commented on #73
Hace ya un par de commits que se actualizaron los certificados, deben funcionar correctamente aunque no tardan mucho en caducar estos tambien. Cerraré el hilo. Saludos.

[2017-03-22 18:21] #73 closed

[2017-03-27 20:16] Sergio70 commented on #152
https://github.com/bigdata-mx/factura-electronica/issues/120

[2017-03-28 17:50] hortegag91 commented on #152
Disculpa, CREO que no está dado de alta el complemento, habría que agregar el XSD y a las clases correspondientes según si aplica al cfd,cfdi, 3.0, 3.2,
Uno de mis propositos es agregar todos los complementos debido a "la facilidad" con la que se agregan, pero no me he dado tiempo, mientras no se agreguen nos será imposible validar (o generar) cfdis emitidos con estos complementos.
Si deseas ver l

[2017-03-29 07:08] Sergio70 commented on #152
Muchas Gracias ya lo solucione, por si alguien mas tiene el mismo problema dejo el siguiente link https://github.com/bigdata-mx/factura-electronica/issues/120

[2017-04-03 17:32] azaeldevel opened #157 "¿Como se agrega información de pedimento?"
Aprovecho para felicitarlos por este proyecto es muy bueno me esta ayudando mucho ami, ya le he usado en varios componte con excelentes resulto.

Mi duda es respecto al proceso correcto para agregar un pedimiento no entiendo como funcian agrege el siguiente codigo

.
.
.
    TInformacionAduanera ia = new TInformacionAduanera();
    ia.setNumero("OFIDUDKGKDHJ");
    ia.setAduana("123654");
    Greg

[2017-04-03 18:17] hortegag91 commented on #157
Hola @reyesazael12,
Gracias, la idea es entre todos poder utilizar de manera eficiente esta librería.
CREO saber como solucionarlo, el problema es que al validarlo te dice que el valor generado por el código ( '2017-04-03T10:27:46.796-07:00') no es válido, según tengo entendido porque le estas agregando la zona horario y ciertos valores que NO deben ir en estos CFDi.
Te comparto una pequeña parte

[2017-04-03 19:17] azaeldevel commented on #157
Si asi es queda de esta forma:

    TInformacionAduanera ia = new TInformacionAduanera();
    ia.setNumero("OFIDUDKGKDHJ");
    ia.setAduana("123654");
    GregorianCalendar gc = new GregorianCalendar();
    gc.setTime(new Date());
    DatatypeFactory dtf = null;
    try
    {
        dtf = DatatypeFactory.newInstance();
    }
    catch (DatatypeConfigurationException ex)
    {
        Logger.getL

[2017-04-03 19:17] azaeldevel commented on #157
Gracias

[2017-04-03 19:17] #157 closed, assigned to nobody

[2017-04-18 15:47] iliaco commented on #152
Disculpen soy nuevo usando el proyecto:  cuando intento validar los comprobantes me sale el siguiente error...

10:10:50,846 GRAVE [webipntimnom.generador.GeneraComprobantes] (Thread-76) Error en la generaci├│nn del comprobante
10:10:50,846 GRAVE [webipntimnom.generador.GeneraComprobantes] (Thread-76) null: ipntimnom.sesion.comun.exception.GeneraException
        at webipntimnom.generador.GeneraCo

[2017-04-18 15:50] iliaco commented on #152
Creo que es debido a que en la definición de la clase CFDv32, falta "/xsd/common/nomina12/nomina12.xsd" en el arreglo XSD, pero cuando lo intento agregar, el proyecto me marca el siguiente error:

org.xml.sax.SAXParseException; lineNumber: 655; columnNumber: 84; src-resolve: No se puede resolver el nombre 'catNomina:c_TipoNomina' para un componente 'type definition'.

No se como solucionarlo, agra

[2017-04-19 00:02] azaeldevel opened #158 "Fallo al guardar timbrado"
Saludos y generado y guardado correctamente el XML

mi PAC me prevee un servicio de timbrado y me retorna un timbre fiscal, hasta ahi va todo bien

¿Ahora, que devo hacer para agregar ese timbre ha mi XML?

Yo creo que para eso sirve las claases de Timbre use TFDv1c32, use
            TFDv1c32 tfd = new TFDv1c32(cfd,cert);
            tfd.timbrar(key);
            tfd.verificar();
            tfd.

[2017-04-19 05:27] hortegag91 commented on #158
Te regresa únicamente el complemento de timbrado?
El error lo que te dice es que no tiene la "estructura" para convertirlo en el objeto que estas intentando.
Podrías ponernos exactamente que es lo que tu proveedor te regresa?

[2017-04-19 15:18] azaeldevel commented on #158
Creo que ahi es doden esta el problema, tampoco se como pasarle este valor al tfd, antes de crear tfd
solo esta el codigo para generar el xml.

mi proveedor de timbre me regresa:

<tfd:TimbreFiscalDigital xmlns:tfd="http://www.sat.gob.mx/TimbreFiscalDigital" xsi:schemaLocation="http://www.sat.gob.mx/TimbreFiscalDigital http://www.sat.gob.mx/sitio_internet/cfd/TimbreFiscalDigital/TimbreFiscalDigita

[2017-04-20 15:40] masterkratos commented on #59
Hola

¿Alguno de ustedes sabe si existirá otro medio/web service para validar los CFDI de ahora en adelante con la versión 3.3? En la página del SAT informan que el servicio dejará de funcionar el 1 de Mayo del 2017. http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/validacion_comprobantes.aspx

¿Ustedes como van a mitigar este riesgo? ¿Lo siguen usando?

[2017-04-20 16:55] ghost commented on #59
Como siempre, no esta claro en el SAT que es lo que desaparece, en fin...

El webservice para validar el estatus de un CFDI no creo que desaparezca, pero ya veremos...

[2017-05-05 02:20] hortegag91 opened #159 "Code too large"
Buenas,
Estoy terminando de implementar la versión 3.3, solo que me estoy topando con un problema bastante grave.
Al generar los catálogos a través de los archivos XSD, me estoy tomando con catálogos garrafalmente enormes, y me está marcando un error en la compilación de "code too large" (al compilar el archivo .java, porque las clases si las genera).
Alguien ya tiene implementada esta versión o s

[2017-05-05 18:09] aperezc48 opened #160 "Addendas - The matching wildcard is strict, but no declaration can be found for element 'Company'."
Buenas tardes a todos, espero y alguien me pueda ayudar con el siguiente problema que tengo al querer generar mis Addendas para la versión 3.3 del CFDI. El error es el siguiente

**cvc-complex-type.2.4.c: The matching wildcard is strict, but no declaration can be found for element 'Company'.**

Anteriormente se creaban correctamente las Addendas para la versión 3.2, no se que me este faltando para

[2017-05-05 19:00] ingtemix commented on #159
Hola amigo yo agregue algo en los xsd de estos catalogos que es lo siguiente:

<xs:annotation>
    <xs:appinfo>
        <jaxb:globalBindings typesafeEnumMaxMembers="53000"/>
    </xs:appinfo>
  </xs:annotation>

Donde agrego el máximo de valores que tenga el catalogo.

Saludos!!!

[2017-05-05 19:12] hortegag91 commented on #159
Gracias por contestar, solo que hay un problema, no se si tengamos catálogos distintos o que, pero el catálogo que yo traigo tiene algunos con máximos de 93k (si bien recuerdo), ahora, lo que yo hice fue agregar básicamente lo mismo pero en el bindings.xjb (que en teoría debería tener el mismo resultado) el problema básicamente es a la hora de compilar, ya que si me genera las clases con todo el c

[2017-05-05 19:29] ingtemix commented on #159
Dame oportunidad de rehacerlo dado que ya estoy reorganizando el codigo, yo creo que la siguiente semana entre Lunes y Martes lo tengo listo y te busco te parece???

Saludos!!!

[2017-05-08 19:24] ingtemix commented on #159
Amigo tengo mi listo mi ambiente cuando lo podemos revisar???

Saludos!!!

[2017-05-08 19:39] camarillo commented on #159
Hola! Yo lo voy a empezar a revisar para integrarlo a la librería, les comento como me va.

[2017-05-08 19:41] azaeldevel opened #161 "NotAfter: Sun May 07 09:01:29 PDT 2017"
Buen dia

Hoy parece que se vencieron los certificados de pruebas, como puedo obtener nuevos?

  testSign(mx.bigdata.sat.cfd.CFDv22Test): NotAfter: Sun May 07 09:01:29 PDT 2017
  testValidateVerify(mx.bigdata.sat.cfd.CFDv22Test): NotAfter: Sun May 07 09:01:29 PDT 2017
  testValidateVerifyPrevious(mx.bigdata.sat.cfd.CFDv22Test): NotAfter: Sun May 07 09:01:29 PDT 2017
  testValidateVerifyWithFile(mx

[2017-05-08 19:44] hortegag91 commented on #161
Al menos ayer revisé y no habia nuevos oficiales en el SAT, yo lo que hice de momento para continuar el desarrollo de 3.3 fue poner un IF a la hora de validar ese número de certificado, quedaría algo asi:
`
        String nc = new String(cert.getSerialNumber().toByteArray());
        if (!nc.equals("20001000000200001428")) {
            cert.checkValidity();
        }`

[2017-05-08 19:45] hortegag91 commented on #159
Yo con suerte hoy termino el mío y le hag un push
@ingtemix podrías hacerle el push a tu fork? no tiene actualizaciones recientes

[2017-05-08 19:46] ingtemix commented on #159
Me explicas nunca lo he hecho @hortegag91

[2017-05-08 19:47] ingtemix commented on #159
Solo encontre un detalle a la hora de verifucar el sello que estoy verificando.

[2017-05-08 23:08] hortegag91 commented on #159
@ingtemix te recomiendo leer sobre git.
Si todo está bien configurado, debería ser suficiente con poner los siguientes comandos desde consola y dentro de la carpeta
git add .
git commit -m "Actualizacion a CFDi3.3"
git push

[2017-05-08 23:11] Erilas commented on #159
Me tope con tu mismo detalle @hortegag91 el catalogo de SAT esta pesando 6MB (http://www.sat.gob.mx/sitio_internet/cfd/catalogos/catCFDI.xsd), no seria mas optimo modificar dicho catalogo de manera local para que pese menos... en mi caso siempre facturo hacia la misma empresa por lo que un catalogo de localidades no me es útil al momento de crear una factura.
En fin ojala exista otra solución

[2017-05-09 00:22] ingtemix commented on #159
Hola @hortegag91 nos ponemos de acuerdo y me explicas mediante un acceso remoto y de igual revisamos el tema del metodo verificar.

Saludos!!!

[2017-05-09 00:22] ingtemix commented on #161
Dejame ver si puedo conseguirles unos de prueba.

Saludos!!!

[2017-05-09 16:17] hortegag91 commented on #159
@Erilas Asi es, se me pasó comentar que en su momento averigüe y el problema es que Java no puede compilar métodos que pesen más de 64kb, desgraciadamente hay catálogos que pesan varios muchos) mb.
Definitivamente dejé eso por la paz y dejé los campos como String, es decir, no habrá enums para seleccionar simplemente quedará el String y habrá que implementar métodos "por fuera" para dicha validaci

[2017-05-09 17:00] hortegag91 commented on #161
Cerraré este tema debido a que oficialmente no hay nuevo certificados.
He actualizado a la versión 33 dentro del branch "version33" ls agradeceré si pudieran ayudarme a probar y cualquier cosa la comentan.
Saludos.

[2017-05-09 17:00] #161 closed, assigned to nobody

[2017-05-09 17:06] hortegag91 commented on #152
amigo @iliaco, lo que sucede es que el XSD de la nómina depende de otros XSD que definen ciertos tipos o catálogo de los datos, para esto es necesario agregar tambien sus XSD, que puedes encontrarlos dentro del XSD principal (en tu caso de la nómina) con esta estructura.
`<xs:import namespace="namespacenuevo" schemaLocation="ruta del xsd correspondiente al ns"/>`

[2017-05-09 17:06] #152 closed

[2017-05-09 17:09] hortegag91 commented on #145
Demonios, no había visto esto y me puse a desarrollar todo de cero.
En fin, creé un nuevo branch llamado version33, lo mantendré ahi en lo que confirmamos que efectivamente funcione correctamente.
Vi la versión de @BennSandoval y al parecer si está correcta al menos en lo que alcancé a apreciar, eso me hubiera ahorrado mucho trabajo, pero en fin.
Saludos.

[2017-05-09 17:09] #145 closed

[2017-05-09 17:15] ingtemix commented on #161
Chicos les adjunto algunos certificados.

[Cert_Sellos.zip](https://github.com/bigdata-mx/factura-electronica/files/987424/Cert_Sellos.zip)

Contraseña general de los archivos 12345678a

[2017-05-09 17:17] ingtemix commented on #159
@hortegag91 pregunta no has tenido tema con la validación puedo ver que el XSLT enviado por el SAT no es correcto dado que están mal direccionado los impuestos de los conceptos.

Saludos!!!

[2017-05-09 17:20] hortegag91 commented on #161
Wow!.. aun sin ser oficiales creo que es bastante bueno contar con ellos. Muchas gracias @ingtemix

[2017-05-09 17:22] hortegag91 commented on #159
Disculpa @ingtemix para ser sincero lo XSLT se podría decir que ni siquiera los toqué (para ser sincero ni los revise jaja) solo coloqué las nuevas rutas para los archivos a importar y dejé todo tal cual, ya que es la definición que el SAT da para generar la cadena y hasta donde tengo entendido, no debemos moverla bajo ninguna circunstancia.
Saludos.

[2017-05-09 17:35] ingtemix commented on #161
De nada es un placer contribuir con ustedes

[2017-05-09 18:25] ingtemix commented on #159
Estimados ya corregí el XSLT y además corregí el problema para la versión 3.3 la cual consiste en que ahora dentro del sello se incluye el No. de Certificado por lo que hay que setear antes dicho dato de generar el sello.

Agrego como quedo el metodo corregido.

@Override
    public void sellar(PrivateKey key, X509Certificate cert) throws Exception {
        cert.checkValidity();
        BigIntege

[2017-05-09 19:27] hortegag91 commented on #159
Disculpa @ingtemix a que corrección te refieres, no entendí bien que hacia falta.
Por otro lado, hay más campos a demás del no. de certificado, como lo son el RFC del PAC que timbró y una leyenda adicional. Hay que colocarlos en la nueva clase que TFDv11c33 (asi la llamé yo, puedes revisarlo en el branch "version33" del proyecto principal)
Saludos.

[2017-05-09 20:03] ingtemix commented on #159
OK tratare de explicarlo.

Yo para sellar un documento lo hago de la siguiente forma:

CFDv33 fact = new CFDv33(is);
fact.sellar(key, cert); (Sella la factura)
fact.validar(); (Valida la factura con el esquema)
fact.verificar(); (Valida el sello generado con la informacion de la factura) **OJO AQUI ESTA EL ERROR.**
fact.guardar(new FileOutputStream(pathFiles + "sellado_" + archivo)); (Guarda el XM

[2017-05-09 20:07] hortegag91 commented on #159
Ya capté, no se porqué creí que te referías al complemento Timbrado.
Enterado, no me había dado cuenta de eso!!
Muchísimas Gracias @ingtemix es un error garrafal que dejé pasar.
En unos minutos hago la correción y la subo al branc version33 del proyecto principal.
Saludos!

[2017-05-09 21:15] azaeldevel commented on #161
Gracias ya me sirvieron ya sigo con mis pruebas

[2017-05-09 22:29] ingtemix commented on #161
De nada @reyesazael12  que bueno que te sirvieron cualquier duda avisenme.

Saludos!!!

[2017-05-09 22:32] ingtemix commented on #159
De nada @hortegag91 ya saben cualquier cosa hazmela saber.

Yo ya verifique y en efecto es correcta la versión con la nueva implementación. Ahora estoy analizando si la matriz de validaciones las realizo desde la misma lib o en otro lugar.

Les mantengo al tanto.

Saludos!!!

[2017-05-09 22:58] hortegag91 commented on #159
Normalmente se ha manejado afuera (no se exactamente el porqué), yo las he venido manejando desde una librería externa que contiene muchas herramientas para muchos proyectos personales, pero quizá podríamos incluirla dentro. Sería cuestión de consultar con el creador si hubo alguna razón en especial para no incluirlo.

[2017-05-09 22:59] #4 closed

[2017-05-09 23:00] hortegag91 commented on #159
Hay que abrir un nuevo tema en donde mantengamos estos cambios, ya que este hilo es del error que marca el catálogo tan grande liberado por el SAT.

[2017-05-09 23:00] #159 closed, assigned to nobody

[2017-05-09 23:38] hortegag91 commented on #158
Lo único que se me ocurre es que crees el complemento "a pie" tomando en cuenta que ya existen las clases correspondientes al TFD.
Quedaría algo así:

        Comprobante c = TuComprobanteYaCreado
        TimbreFiscalDigital tf = new TimbreFiscalDigital();
        tf.setSelloSAT("A5mVTbc4VLu09vsJsjQGgtEXhMe9hZ27x4BzCmsXWHfW1gkg/J35zhAPHOIh8sjchpDJ4tp3QNYwt3RHoR56GlpQzDqyNpn33z4utOg8DKoR203SxkF/Ga3

[2017-05-09 23:40] hortegag91 commented on #158
Comenta si esto lo solucionó, ya que estoy tratando de limpíar los issues para que no se haga mucho desorden con lo que viene del CFDi3.3
Saludos.

[2017-05-09 23:41] hortegag91 commented on #153
Exactamente como lo estas agregando?
Requerimos un poco de código para poder apoyarte.

[2017-05-09 23:42] hortegag91 commented on #160
el archivo jaxb.index lo debes agregar dentro de src/main/resources y la misma ruta del paquete.
Si lo estas haciendo asi te pido lo confirmes.

[2017-05-09 23:46] #148 closed

[2017-05-10 19:35] aperezc48 commented on #160
Si lo estoy haciendo así, lo tengo en el paquete donde se encuentra mi clase encargada de generar el nodo de las Addendas, no se cual podría ser el problema realmente.

Gracias de ante mano.!

[2017-05-12 22:35] azaeldevel opened #165 "setSerie no genera campo en XML"
Creo que el titulo del issue describe completamente el problema he llamada la funcion setSerie cin una cadena de texto valida de 2 carateres pero en el xml resultante no parace el campo serie.
Alguna recomendacion?

[2017-05-15 15:45] hortegag91 commented on #165
Podrías pasarnos tu parte del código que usas?
Lo único que se me ocurre (que me ha pasado) es que estes manejando distintos objetos "a la vez". Por ejemplo la clase cfdi y la clase comprobante, y que te estes confundiendo.
Para poder buscarle más ocuparíamos ver algo más detallado.
Saludos.

[2017-05-15 19:17] azaeldevel commented on #165
Ah! ok tal vez si estoy usando ambas clases, primero creo el comprobante con las siguiente lineas:

        ObjectFactory of = new ObjectFactory();
        cfdi = of.createComprobante();
        cfdi.setVersion("3.2");
        Date date = dbserver.getDateToday();
        cfdi.setFecha(date);
        cfdi.setFormaDePago("PAGO EN UNA SOLA EXHIBICION");
        cfdi.setFolio(getFolio());
        cfdi

[2017-05-15 22:19] #158 closed, assigned to nobody

[2017-06-02 20:26] miguel2309 opened #166 "Error al generar la cadena original"
Hola, al generar la cadena original de una factura me la crea incompleta, no toma en cuenta los campos de impuestos de un concepto. En la version 3.3

[2017-06-05 15:23] hortegag91 commented on #166
Me podrías pasar como genera el XML para hacer pruebas?

[2017-06-05 16:05] miguel2309 commented on #166
Este es el XML que genera, al utilizar el metodo cfd.getCadenaOriginal() me imprime lo siguiente: ||3.3|A|050|2017-06-02T01:35:09|02|30001000000300023708|2973.25|MXN|3448.97|I|PUE|62350|AAA010101AAA|AP RH CONSULTORES|601|TOSM9309297E2|Investigación Farmacéutica SA de CV|G03|01010101|1.0|ACT|Servicio de nomina correspondiente al periodo del Mon Jun 05 10:25:21 CDT 2017 al Sun Jun 11 10:25:21 CDT 20

[2017-06-05 18:59] aperezc48 opened #167 "Error con el Sello: CFD33102 versión 3.3"
Tengo un problema al generar el sello, me marca lo siguiente: CFD33102. El resultado de la digestión debe ser igual al resultado de la desencripcion del sello.

Tengo entendido que el algoritmo de generación del sello cambio de SHA1 a SHA256, para lo cual genere una clase CFDv33 que es prácticamente una copia de la clase CFDv32 y la creación del sello la tengo de la siguiente manera:

public void

[2017-06-06 20:09] miguel2309 commented on #167
Tengo el mismo problema, en mi caso es que al generar la cadena original no reconoce los elementos de impuestos por lo cual el sello no coincide con la factura y al timbrar me marca ese error

[2017-06-07 00:06] SAAVER commented on #167
buenas tardes, yo tengo tambien el mismo problema.
CFDI33102 : El resultado de la digestión debe ser igual al resultado de la desencripción del sello.
Alguna sugerencia?

[2017-06-07 00:39] hortegag91 commented on #167
Ya hay un branch llamado version33 en donde se encuentran los cambios de la siguiente versión.
por lo que comenta @aperezc48 no estan usando este branch, les pido me confirme si lo usan o no, y si usandolo se corrigió su problema

[2017-06-07 00:46] aperezc48 commented on #167
Buen día, yo lo pude solucionar de la siguiente manera:

Valide con mi PAC que me proporcionaran la cadenaoriginal_3_3.xslt que ellos están usando, ya que al parecer la que esta en la página del SAT no es del todo correcto.

Después sustituí el método **getSignature(PrivateKey key)**  por el siguiente método que agregue:

public String getSello(PrivateKey key, String strCadenaOriginal) throws Exce

[2017-06-07 00:50] hortegag91 commented on #167
![image](https://user-images.githubusercontent.com/14035835/26857588-6b2729a8-4ae0-11e7-90c5-dac4821478df.png)

Si te fijas, en el código hay una parte donde dice "branch: Master" si le das clic, te despliegfa las diferentes "ramas" que tiene el proyecto en git, una de estas ramas (la única a demás de la master) dice "version33", cuando selecciones est, TODO el código cambiará a esta nueva rama, e

[2017-06-07 00:51] hortegag91 commented on #166
Si estas utilizando el branch: version33?

[2017-06-07 13:56] camarillo commented on #167
Hola @aperezc48 con que PAC trabajas tu?

Como comenta @hortegag91 con la version33 me funciona bien, solo tramitando unos documentos con mi PAC que segun para la versión 33 son obligatorios que los tenga.

[2017-06-07 16:34] hortegag91 commented on #167
disculpa @camarillo , cuales son estos documentos que comentas? No estoy enterado de ningún tramite nuevo que se deba hacer para la versión 3.3

[2017-06-07 18:38] aperezc48 commented on #167
Hola @camarillo el pac con el que estoy timbrado es FINKOK y a mi no me han pedido tramitar ningún documento en especifico para la versión 3.3

[2017-06-07 19:42] miguel2309 commented on #166
Creo que utilice el master, probare con el que me comentas, gracias por la ayuda

[2017-06-08 15:33] camarillo commented on #167
@hortegag91 @aperezc48 en la pagina de las obligaciones del PAC es tener un contrato por cada emisor (en el ultimo punto) según tengo que realizar ese tramite para poder hacer pruebas de sellado de la versión 3.3.

Puede ser que sea mi PAC el que se esta poniendo especial.

@hortegag91 tu ya realizaste el timbrado con un PAC?

http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/ob

[2017-06-08 15:46] hortegag91 commented on #167
@camarillo , ese es el contrato de adhesión, fue una jugada que quiso hacer el SAT e implementarlo al iniciar el 2017,
Básicamente dice que la venta debe hacerse entre el contribuyente y el cliente final, dejando de lado a cualquier intermediario que estuviese.
El problema fue que todos los desarrolladores de software se molestaron, y dejaron de actualizar los sistemas (en cuestión de factura elec

[2017-06-08 15:50] hortegag91 commented on #167
@camarillo , si hemos probado el 3.3 pero obviamente solo en ambiente de pruebas (un ambiente proporcionado por el PAC), ya que de manera oficial no se puede timbrar un cfdi v3.3 hasta el primero de Julio

[2017-06-08 16:00] camarillo commented on #167
gracias @hortegag91 si mi pac no me da respuesta por que como bien comentas ya quieren cobrar de manera exagerada, lo cambiare.

Me podras mandar de favor de los planes que manejas?. Yo básicamente utilizo el servicio de timbrado, lo realizo por webservices, envio xml formado, y me regresan el xml completo timbrado. Tengo varios clientes con la misma aplicación.

[2017-06-08 16:01] hortegag91 commented on #167
@camarillo , seguro, si me proporcionas tu correo o tu número telefónico nos ponemos en contacto.
Saludos

[2017-06-08 16:32] lezamablr commented on #166
Saludos. Yo uso el branch version33 y no me carga la parte de impuestos del concepto, alguna idea?

[2017-06-08 19:45] hortegag91 commented on #166
Puedes guardar como se genera el XML y la cadena por favor?

[2017-06-08 20:41] lezamablr commented on #166
Esta es la cadena:
||3.3|R|274979|2017-06-07T06:25:35|01|00001000000300350688|3.68|MXN|1|4.27|I|PUE|03510|HER890619SQ4|Herrasa, S.A. de C.V.|601|XAXX010101000|CLIENTE MOSTRADOR|G01|01010101|002-0017|1.00|H87|JGO|10-27 N BRIDA 1' NIQUEL JUEGO 2 PZAS|3.68|3.68|0.00|10 47 3203 0000087|0.59||
Y te anexo el XML.
[1_R-274979.txt](https://github.com/bigdata-mx/factura-electronica/files/1062361/1_R-274979

[2017-06-09 14:08] jjjimenez commented on #167
@Heriberto :
El PAC con el que estoy trabajando me ha dado muy buen resultado, pero me gustaria tener una 2da opcion, principalmente en el caso en el que mi PAC tenga algun problema tecnico.

---

Jaime Joel Jiménez Sánchez

Celular

+52 (55) 2690 6194

Oficina

+52 (55) 1103 0914

+52 (871) 690 3232

On Thursday, June 8, 2017, 10:46:22 AM CDT, Heriberto Ortega Gonzalez <notifications@github.com>

[2017-06-09 16:33] novat-xml opened #168 "xmlns y xsi:schemaLocation a nivel de complementos"
Buen día alguien me podria poyar? estoy tratando de insertar el xmlns y el xsi:schemaLocation a nivel de Complemento, por ejemplo lo que hacen en el complemento timbre fiscal digital, <tfd:TimbreFiscalDigital xmlns:tfd="http://www.sat.gob.mx/TimbreFiscalDigital" xsi:schemaLocation="http://www.sat.gob.mx/TimbreFiscalDigital http://www.sat.gob.mx/TimbreFiscalDigital/TimbreFiscalDigital.xsd", estoy u

[2017-06-16 03:51] camarillo commented on #167
@hortegag91 este es mi correo camarillo.ivan@gmail.com

[2017-06-16 14:09] miguel2309 commented on #166
Saludos, si se pudo solucionar este detalle?

[2017-07-07 17:32] seulmarc commented on #59
Hola, buenas tardes

Alguien ya tiene acceso a la documentacion y webservice para validacion del
CFDI 3.3 ?

De antemano gracias

El 20 de abril de 2017, 11:55, Mauricio Baeza <notifications@github.com>
escribió:

--
"La vida no es esperar a que pase la tormenta, es aprender a bailar bajo la
lluvia"

Att.

Marcos R. Sánchez Espinoza.
San Jose del Cabo, BCS, México
Cel. Los Cabos, BCS: (624) 137-17

[2017-07-07 17:36] ghost commented on #59
Toda la documentación esta accesible desde hace meses en la página del SAT...

[2017-07-07 17:43] seulmarc commented on #59
Lo comento por que, yo solo he encontrado la misma de siempre:
http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/validacion_comprobantes.aspx

En lo que respecta a la validacion, ¿no Habra cambios? seguira funcionando
el mismo webservice?

2017-07-07 12:36 GMT-05:00 Mauricio Baeza <notifications@github.com>:

--
"La vida no es esperar a que pase la tormenta, es aprender a bailar

[2017-07-07 17:47] ghost commented on #59
Ahí esta todo lo necesario...

No se a que webservice te refieres, si a donde se revisa el estatus de un CFDI, aun sigue activo, es el único webservice (que conozco) tiene el SAT; y no es para validación completa, solo checa el estatus del documento.

[2017-07-07 17:50] seulmarc commented on #59
Perfecto .. eso responde a mi pregunta

Si me refiero a este mismo WS, el que valida el estatus del documento, alli
se genero la confusion al no especificar esa parte.

Gracias

El 7 de julio de 2017, 12:47, Mauricio Baeza <notifications@github.com>
escribió:

--
"La vida no es esperar a que pase la tormenta, es aprender a bailar bajo la
lluvia"

Att.

Marcos R. Sánchez Espinoza.
San Jose del Cabo

[2017-07-11 02:39] ikyaro2000 opened #169 "Liga desactualizada"
En la página principal en la sección
Descarga las dependencias esta apuntando hacia:
http://search.maven.org/remotecontent?filepath=mx/bigdata/cfdi/cfdi-base/0.2.5/cfdi-base-0.2.5-bin.zip
se tendrá la liga actualizada a la última versión para la 3.3, yo solo la llamo desde php para sellar.

saludos

[2017-07-12 08:21] franciscomontiel opened #170 "Permitir caracteres ( ) ."
Hola, estoy usando la branch 3.3 pero al momento de "crear" un CFDv33 marca error en lo siguiente:

Sospecho que el tipo AnonType_NombreReceptorComprobante tiene que cumplir el patrón, pero la factura es válida aún con los  ' . '  puntos en el Nombre Receptor Comprobante, intenté aceptar más caracteres pero no encontré la clase en la que se define ese patrón.

También en los conceptos es un patrón

[2017-07-13 12:24] acrkorn opened #171 "Status de branch33"
Hola a todos,

¿Alguien ya ha tenido oportunidad de probar el branch33? Los comentarios dicen que ya está estable para pruebas reales, pero me gustaría saber si alguien ya lo ha implementado y cuáles son los issues que han encontrado.

Gracias y saludos,

[2017-07-13 12:27] camarillo commented on #171
Hola @acrkorn

@hortegag91 ya realizo pruebas y le salieron exitosas, yo también ya realice pruebas de sellado, timbrado y enviado al PAC y funciona de manera correcta.

[2017-07-13 12:28] camarillo commented on #170
Hola @franciscomontiel si cambias los patrones para que pase, el PAC te lo va a rechazar por que aplica las mismas reglas.

[2017-07-13 14:04] franciscomontiel commented on #170
Buen día @camarillo , gracias por tu respuesta, ya entiendo porque estan esos patrones, pero me interesa sólo validar el CFDI, es decir que supuestamente ya fue generado y sellado en otro PAC y fue válido (en esta ocasión estoy hablando de la nueva página para generar facturas del SAT) . Me interesa mucho cambiar el patron porque la factura ya esta hecha en otro sistema y sellada(SAT) y quiero arm

[2017-07-13 19:43] camarillo commented on #170
Tendrias que cambiar el pattern en el XSD directamente
`factura-electronica/src/main/resources/xsd/v33/cfdv33.xsd`

[2017-07-13 22:28] hortegag91 commented on #170
@franciscomontiel , te recomiendo no tocar estos archivos, pues son literalmente los estandares definidos por el SAT, por lo que al modificar estos datos (y aún más al tratarse de las expresiones regulares) estaríamos incumpliendo con lo estipulado por el SAT.
Repito, recomiendo no modificar estos archivos, pero si aún quisieras hacerlo bajo tu riesgo, efectivamente son los archivos que @camarillo

[2017-07-13 22:31] hortegag91 commented on #168
Para los complementos ya viene eso definido en la nueva versión, dentro de la clase CFDiv33, en el método: private String getSchemaLocation()
En la versión anterior a la 3.3 no está contemplado.

[2017-07-13 22:32] hortegag91 commented on #169
La verdad es que no tengo conocimiento como se suban las actualizaciones al repositorio central, imagino que @elmer-garduno  podrá apoyarnos con actualizar el repo central

[2017-07-13 22:37] franciscomontiel commented on #170
Ya veo... suena lógico, pero eso significa que las facturas con el NombreReceptorComprobante con algún punto '.' son inválidas? Casi todas las facturas que estoy recibiendo tienen los nombres de las empresas con algun punto ej:

Y están siendo generadas por el software gratuito de la página del SAT, también en los "conceptos", los paréntesis ya vienen de allá...

Sería válido decir que son inválid

[2017-07-13 22:47] hortegag91 commented on #170
En teoría así es, hace unos minutos que te respondí la verdad lo hice "apurado" por lo que te pido una disculpa.
Revisando esto con más calma, me doy cuenta que en el XSD no tiene ese patrón.
`<xs:attribute name="Nombre" use="optional">
<xs:annotation>
<xs:documentation>
Atributo opcional para precisar el nombre, denominación o razón social del contribuyente receptor del comprobante.
</xs:document

[2017-07-13 22:57] franciscomontiel commented on #170
Te refieres al XML de la factura? Anexo en formato TXT, cambiar a XML, no me dejaba subirlo directamente.

[Copia1.txt](https://github.com/bigdata-mx/factura-electronica/files/1146888/Copia1.txt)

Pudiera ser porque no compile bien el jar de la versión 3.3?
Como mencionaban en otro Issue, el jar no se encuentra el repositorio central, así que es necesario compilarlo, podría hacer la prueba con un

[2017-07-14 14:30] acrkorn commented on #171
Gracias por tus comentarios camarillo. Sería bueno entonces ya hacer el merge y subirlo como 0.3, ¿no crees?

Saludos

[2017-07-15 17:08] camarillo commented on #170
Según yo si esta en el XSD el pattern en la parte del nombre en la rama version33:

`<xs:attribute name="Nombre" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para precisar el nombre, denominación o razón social del contribuyente receptor del comprobante.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>

[2017-07-17 15:59] hortegag91 commented on #170
Uff.. super error de primaria, jaja, tienes razón @camarillo , yo estaba consultando el branch principal y no el de version33,
Efectivamente si trae una expresión regular, y como antes mencione, te recomiendo que bajo ninguna circunstancia modifiques esto.

[2017-07-17 17:26] #170 closed, assigned to nobody

[2017-07-31 16:52] miguel2309 commented on #166
Hola ya uso la version33 y sigue sin cargar la parte de impuestos al generar la cadena original, alguna idea de por que pasa esto?

[2017-07-31 16:57] camarillo commented on #166
Puedes subir como se genera tu xml y como le pasas la información a la libreria la información?.

[2017-07-31 17:06] miguel2309 commented on #166
como paso la informacion?

CFDv33 cfd = new CFDv33(CFDv33Simple.createComprobante(factura,facturaDAO.findPFacturasFactura(factura), numFolio));

factura,  es un objeto que tiene los datos para crear el xml

facturaDAO.findPFacturasFactura(factura) es la lista de conceptos de la factura

CFDv33Simple es igual a ExampleCFDv33Factory solo que en lugar de tener las constantes tiene variables

Cadena O

[2017-07-31 17:35] miguel2309 commented on #166
esa información te sirve? o necesitas saber algo mas? gracias por el apoyo

[2017-08-01 16:57] danielfigueroaj commented on #169
Yo hice checkout del branch de la version 33 y genere el jar localmente, aun no he empezado a hacer mis pruebas de la version 3.3 pero lei que al menos 1 par de usuarios ya lo hicieron y fue exitoso. Estaria bien hacer ya un merge y hacer el release del cfdi-base-0.3.0

[2017-08-01 17:07] franciscomontiel commented on #169
Generé el war localmente también y parece funcionar bien, excepto por unos patrones en el XSD.

[2017-08-01 17:10] danielfigueroaj commented on #169
Yo espero hoy o mañana comenzar a implementar la version 3.3, actualmente ya tengo en produccion la 3.2, ya les estare compartiendo mis resultados

[2017-08-01 17:20] franciscomontiel commented on #131
@voldemortkein si necesitas usar el WS del SAT para validar el XML, he estado haciendo un WS para usar de forma sencilla desde Java, basado en esta librería, te comparto la página: http://cfdi.aztlansoft.com/

[2017-08-03 17:47] danielfigueroaj commented on #167
Creo que no aplicaron éste cambio el branch de la version 33. Hice el chekcout de dicho branch y estoy recibiendo el mismo error

[2017-08-03 22:05] danielfigueroaj commented on #167
@aperezc48 implemente tu fix pero sigo recibiendo el mismo error, podrias compartir tu cadenaoriginal_3_3.xslt para ver que sea la misma que esta en el branch de la version 33 del proyecto?

[2017-08-04 14:42] aperezc48 commented on #167
Que tal @danielfigueroaj esta es la cadena original que yo utilice, espero y te sirva.

Saludos.!

[cadenaoriginal_3_3.docx](https://github.com/bigdata-mx/factura-electronica/files/1200752/cadenaoriginal_3_3.docx)

[2017-08-04 15:02] danielfigueroaj commented on #167
Gracias @aperezc48  voy a probar con tu xml a ver si cambia el resultado

[2017-08-08 17:29] cala8814 opened #173 "Autenticidad de codigo frente al SAT"
Buen día:

Estamos empleando su desarrollo de validación de Facturas en uno de nuestros proyectos, pero nos gustaría saber si este desarrollo que nos proporcionan para revisar la autenticidad de la la factura electronica, tiene algún fundamento legal que indique que cumple con las normas del SAT.

[2017-08-08 18:10] hortegag91 commented on #173
Está basando con los XSDs que liberó el SAT, por lo que en teoría debe cumplir en su totalidad con dicha validación.
Si bien en teoría cumple con la estructura de forma y sintaxis, hasta ahora no se ha implementado la matriz de validaciones, por lo que podría contener errores de información.

[2017-08-08 18:40] cala8814 commented on #173
Ok, tendrás de casualidad la url donde están los XSDs liberados por el SAT?

gracias por tu pronta respuesta.

[2017-08-08 19:06] danielfigueroaj commented on #167
@aperezc48 ya logre superar el error del sello, funciono el fix que hiciste y use tambien el xsd de la cadena original que me compartiste. Ahora estoy recibiendo este error:

CFDI33161 Mensaje de incidencia en factura 1: El valor del campo Importe o que corresponde a Traslado no se encuentra entre el limite inferior y superior permitido

Estoy usando el ExampleCFDv33Factory tal cual con los datos

[2017-08-08 19:47] camarillo commented on #167
Debe ser por los importes y/o porcentajes de los impuestos. Cambiaron de 16 a .16 hablando de los porcentajes.

[2017-08-08 20:14] danielfigueroaj commented on #167
@camarillo checa, asi estoy generando los impuestos conceptos

tr.setBase(new BigDecimal("0.16"));
tr.setImpuesto("002");
tr.setTipoFactor(CTipoFactor.TASA);
tr.setTasaOCuota("0.16000");
tr.setImporte(new BigDecimal("124.00"));
trs.getTraslado().add(tr);
imp.setTraslados(trs);

Y asi los impuestos traslados

it.setImpuesto("002");
it.setTipoFactor(CTipoFactor.TASA);
it.setTasaOCuota("0.16000");
it